[2022-03-03 20:43] QuentinDuval commented on #523
Hi @seekingdeep,

First of all, thank you for reaching out :)

Regarding attention maps, our SEER models are based on a convolutional network (a RegNet to be more explicit) and not Visual Transformers (like in the video you linked above), so it does not have any self attention layer.

This unfortunately means that getting the attention map like in [your video link](https://www.youtube.com/watch?v=

[2022-03-03 22:54] ColinConwell opened #526 "SEER Pretrained Config Instructions"
Congratulations to the VISSL authors on the creation of SEER!

Could you post an example of the configs list we pass to swap out the models in the [pretrained models tutorial](https://colab.research.google.com/github/facebookresearch/vissl/blob/v0.1.6/tutorials/Using_a_pretrained_model_for_inference_V0_1_6.ipynb) with the SEER models?

So basically, instead of the linear probe config ....

[code]

[2022-03-04 02:00] clane9 commented on #357
Hi @QuentinDuval, I saw that the [official code](https://github.com/facebookresearch/vicreg) was recently released. I'd love to see the method added to VISSL as well. Would you be open to a PR? Let me know, thanks!

[2022-03-04 04:52] seekingdeep commented on #523
it seemed interesting to see how such model see things.
Thanks, good luck

[2022-03-04 04:52] #523 closed

[2022-03-05 02:53] #524 closed

[2022-03-07 14:32] iseessel opened #529 "Official Support for Pytorch 1.10"
## 🚀 Feature

Officially support Pytorch 1.10.

## Notes

User wants to try to use: https://developer.nvidia.com/blog/accelerating-inference-up-to-6x-faster-in-pytorch-with-torch-tensorrt/

Building and releasing APEX will be required for full VISSL support; however, most functionality should be available without APEX.

Sync with @iseessel first and then @bottler for any more information regarding

[2022-03-07 14:33] iseessel commented on #529
@pietroastolfi

FYI

[2022-03-07 14:51] iseessel commented on #529
use the code torch.__version__[0:5:2] to remove the dots from the version string and get e.g. 191 from e.g. PyTorch 1.9.1. But This fails if you need to get 1100 from PyTorch 1.10.0.

When/if you make apex builds for PyTorch 1.10, you'll need to update [Install.md](http://install.md/), dev/packaging/apex_pip/README.md, docs/source/installation.rst and some tutorials

Also S3 details have changed s

[2022-03-11 13:41] SimJeg commented on #526
+1 to know if there is a specific input image normalization to apply :)

[2022-03-11 17:06] iseessel commented on #517
@ysharma1126 Yes you should be able to update the pytorch version to whatever version is compatible with Detectron. Let me know if you need any guidance on how to do this.

[2022-03-11 17:07] iseessel commented on #518
@YannDubs We will have to look at this more in-depth. We are very busy post-project deadline. Sorry for the delay.

[2022-03-11 17:37] iseessel commented on #525
The issues are most likely with the following options:

[code]

Can you look at the following tutorial and let me know if this helps? What exactly are you trying to accomplish?
https://github.com/facebookresearch/vissl/blob/main/tutorials/Feature_Extraction_V0_1_6.ipynb

[2022-03-11 17:39] iseessel commented on #526
Thanks @ColinConwell!

All you should have to do is:

[code]

And make sure the model is set correctly. For example the regnet128gf model should have the following settings:

[code]

I'll talk with the team about setting something official up. CC: @QuentinDuval

[2022-03-11 18:26] DavidTorpey commented on #525
Hi @iseessel
Thanks for the help.

I'm essentially trying to extract a pre-trained backbone from a vissl model, and add my own classification layer, and fine-tune it on my own dataset using a vanilla PyTorch training loop (i.e. not using vissl for this fine tuning).

How can I achieve this?

[2022-03-13 16:14] Pedrexus opened #531 "How to build an Early Stopping Hook"
## 🚀 Feature
I wish to integrate Early Stopping into VISSL

## Motivation & Examples

Early Stopping is an useful mechanism, already integrated in several libraries and frameworks, which can help when training several models for many epochs.

https://en.wikipedia.org/wiki/Early_stopping

## Note

This is actually an ask for assistance, as I already have a working Early Stopping Hook, but it has no

[2022-03-18 12:04] FrancescoSaverioZuppichini opened #532 "Config for Seer RegNet weights"
## 📚 VISSL Documentation

The configs files associated with each pre-trained weights for [seer](https://github.com/facebookresearch/vissl/tree/main/projects/SEER) are missing. It would be nice to have them in the table.

Thanks!

Cheers,

Francesco

[2022-03-29 03:31] HuangChiEn commented on #316
Hello~
May i ask a question about the implementation of NNCLR in here ?
Although the torch.select_index may cover the detail of implementation, I wonder that such operation is differentiable ?

In the NNCLR, the enoder, whose embedding is replaced by the support set, will not be updated in that step. So, it's means we will deteach the embedding before feed it into the query method of support set ?

[2022-03-29 16:04] mcwindy opened #534 "Trouble when using moco_loss and moco_collator"
## Instructions To Reproduce the 🐛 Bug:

1. what changes youss made (`git diff`) or what code you wrote

Modified the main function in run_distributed_engines.py to
[code]

Modified supervised_1gpu_resnet_example as follows:
[code]

3. what exact command you run:
[code]

4. what you observed (including __full logs__):
[code]

5. please simplify the steps as much as possible so they do not require

[2022-03-30 18:57] tbarton16 opened #536 "Broken Links and expired url signatures in the Fairness Indicators README"
## 📚 VISSL Documentation

Hello, there are some Broken Links and expired url signatures in the Fairness Indicators [README](https://github.com/facebookresearch/vissl/blob/main/projects/fairness_indicators/label_associations_indicator1.md
).
Here they are:

  "- __[Inference] Setup of Casual Conversations (CC)__: Following the [CC dataset guidelines](https://ai.facebook.com/datasets/casual-conversa

[2022-03-31 12:39] Giaco90 opened #537 "Multi dataset support"
Hello all,
I'm trying to pretrain an AE model using multiple datasets.

According to [documentation ](https://vissl.readthedocs.io/en/v0.1.5/vissl_modules/data.html#reading-data-from-several-sources) VISSL support the use of multiple datasets, but it seems to not work properly:
- If the datasets have different size, I will have IndexError. Inspecting the code I noticed that the sampler is created

[2022-03-31 16:30] FrancescoSaverioZuppichini opened #538 "What's part-0 and part-1 in RegNet 10B trained with seer"
Hello There,

After loading the 10b model from [here](https://dl.fbaipublicfiles.com/vissl/model_zoo/seer_finetuned/seer_10b_finetuned_in1k_model_phase28_conso.torch) I can see the keys have `part-0` and `part-1` inside their names, e.g. `_feature_blocks.res4.block3-part0.block3 ...` and `_feature_blocks.res4.block3-part1.block3 ... `. I am wondering why this is the case.

Thanks

Cheers,

Frances

[2022-04-04 13:21] QuentinDuval commented on #538
Hi @FrancescoSaverioZuppichini,

First of all, thanks a lot for your interest on VISSL!

So the "part-0" and "part-1" in names are due to the introduction of intermediary `nn.Sequential`. These sequential blocks representing the "units" of activation checkpointing: each of these sequential block is essentially evaluated twice in `forward` and once in `backward` to spare memory.

Unfortunately, the

[2022-04-04 13:24] QuentinDuval commented on #536
Hi @tbarton16,

Thanks a lot for your interest in VISSL and good catch indeed!

If you want to fix these, please do :)
I would be glad to review your pull request !

Thank you,
Quentin

[2022-04-04 13:43] QuentinDuval commented on #537
Hi @Giaco90,

First of all, thanks a lot for your interest in VISSL.

I had a look at the code and it seems that the multi-dataset support of VISSL is really lacking indeed. From what I understand, the current design allows to:
- Have multiple dataset of the same length being passed
- Upon sampling, sample for each of them, returning a pair of images

[code]

I don't think this use case is actuall

[2022-04-06 14:39] #536 closed

[2022-04-07 07:18] FrancescoSaverioZuppichini commented on #538
Thanks a lot for your quick reply @QuentinDuval . I am very sorry but I don't think I get it :)

I've converted the model and loaded it into RegNetY from classy vision, to do so I've just removed the `part-0/1` from the key's dict and it seems to work (correct inference in imagenet). [You can find it here](https://github.com/huggingface/transformers/pull/16643)

Thanks!

Francesco

[2022-04-07 12:11] QuentinDuval commented on #538
Hi @FrancescoSaverioZuppichini,

Yes, reading my previous answer I see it is a bit cryptic... sorry for that. It is VISSL specific and indeed, if you want to load the weights to a different model than VISSL models, then you need to get rid of the "part-X" part for it to work.

I think we need to get rid of these parts and make VISSL "add" the "part" if needed on the fly.

Thank you,
Quentin

[2022-04-07 15:11] FrancescoSaverioZuppichini commented on #538
@QuentinDuval super! Yeah, I wanted to load it into classy vision, glad you confirmed I can remove the `part-X` part. It looks like I know what I am doing sometimes :)

Thanks!

francesco

[2022-04-07 15:11] #538 closed, assigned to QuentinDuval

[2022-04-10 17:42] dereyly opened #539 "How to conver VISSL to pytorch ot torchscript"
Take pretrained VISSL model (like SEER) to finetune model in own pipline in pure pytorch
There is a option to convert from VISSL format to pure pytorch?

[2022-04-12 01:40] surajpaib opened #540 "3D support for VISSL"
## 🚀 Feature
SSL has shown to be quite successful in 3D medical imaging contexts
Ref: https://arxiv.org/abs/2101.05224

3D support within the VISSL framework would be a great feature to have if it aligns with what the team envisioned for it.

## Motivation & Examples

Motivation: VISSL can be the choice of framework for training 3D SSL models in the medical imaging community, allowing simple and c

[2022-04-15 05:27] BlingHe opened #541 "Got 403 forbidden when downloading CopyDays dataset"
--2022-04-15 12:24:33--  http://pascal.inrialpes.fr/data/holidays/copydays_strong.tar.gz
Resolving pascal.inrialpes.fr (pascal.inrialpes.fr)... 194.199.16.17
Connecting to pascal.inrialpes.fr (pascal.inrialpes.fr)|194.199.16.17|:80... connected.
HTTP request sent, awaiting response... 403 Forbidden
2022-04-15 12:24:34 ERROR 403: Forbidden.

The 403 error I encountered (mentioned above) when downlo

[2022-04-15 14:59] Cthollyz commented on #488
I am sorry for my late response. Thank you for your informative response, helped a lot in my understanding of VISSL.

[2022-04-21 19:50] kulkarnivishal commented on #279
@prigoyal the fix doesn't work for pytorch 1.10.1+cu111 and version_str is sliced incorrectly -- py38_cu111_pyt11.
would like to know which apex versions are supported cuz py38_cu111_pyt1101 doesn't work

[2022-04-25 08:21] Jeffkang-94 opened #543 "Please read & provide the following"
## Instructions To Reproduce the 🐛 Bug:

1. what changes you made (`git diff`) or what code you wrote
Nothing has been changed at `barlow_twins_loss.py`.

2. what exact command you run:
FYI, we implement our custom dataset called `hdf5`
[code]
3. what you observed (including __full logs__):

While computing `barlow_twins` loss, we faced `NaN` at a certain iteration `48025`

![image](https://user-i

[2022-04-25 10:43] Jeffkang-94 commented on #543
Especially, i got `NaN` in batch norm layer. Have u ever faced a kinda error below?
![image](https://user-images.githubusercontent.com/58926634/165073832-a6e6affd-0c95-4b5f-baa8-fd71d273c56b.png)

[2022-05-02 17:50] QuentinDuval commented on #539
Hi @dereyly,

We have a script named `convert_vissl_to_torchvision.py` under `extra_scripts` that should do this.

You can use it like so:

[code]

Thank you,
Quentin

[2022-05-02 17:57] QuentinDuval commented on #541
Hi @BlingHe,

Thank you for the notification (and thank you for using VISSL!).

Indeed, I had a look at the orignal website where the link is provided:
https://lear.inrialpes.fr/~jegou/data.php#copydays

And the link is broken indeed as well here. I am asking around on my side if this is a mistake or not.

I will keep you updated.

Thank you,
Quentin

[2022-05-02 18:20] QuentinDuval commented on #543
Hi @Jeffkang-94,

AMP might create some instabilities, especially in norm layers. So this is not entirely surprising. Disabling AMP will usually fix those, but there are several other ways do deal with this (which don't hinder performance as much), but it depends on the observed symptoms.

* Could you provide me with the exact configuration that you have been using? (there should be a `train_confi

[2022-05-02 18:38] QuentinDuval commented on #540
Hi @surajpaib,

Whoa, that's excellent! Thanks a lot for sharing this.

I had a quick look at your fork (https://github.com/surajpaib/vissl) and lot of things are indeed quite interesting for VISSL. There are a few things I will need to grasp for a proper code review, but this looks super promising to me!

@prigoyal what do you think about support for 3D dataset / model / transforms in VISSL? On m

[2022-05-02 18:55] QuentinDuval commented on #534
Hi @mcwindy,

First of all, thanks a lot for considering VISSL :)

I had a quick look at the configuration you linked (the replacement for `supervised_1gpu_resnet_example.yaml` you linked) and found things that might explain the issue. For instance:
* the dimensionality of the output of the head does not match the one of the `moco_loss`
* the augmentations are not compatible with the `moco_collato

[2022-05-03 04:55] Jeffkang-94 commented on #543
[code]

Thank you for the reply!

1. Providing `train_config.yaml`

Some configuration names(e.g., `PATCH_SIZE`, `index_by` or`USE_LAST`) are new to you, but plz ignore them. We just tweaked something to be compatible with our codebase. It doesn't affect the training procedure.
We tried to run the experiment with the default setting of `barlow-twins.yaml` file that you provided.

2. Loss graph
The

[2022-05-03 15:09] QuentinDuval commented on #543
Hi @Jeffkang-94,

Yes, so the loss looks pretty good indeed... I was thinking about clipping some gradients, but it will not solve anything there.

One thing you can try is to identify if you can find a particular image that throws the model off.
* Does it happen always at the same iteration?
* Like, does it always end up doing NAN on the same image?

Otherwise, I think having enabling the option

[2022-05-04 09:54] BlingHe commented on #541
Hi @QuentinDuval , thanks for your reply!  I appreciate your help and look forward to hearing from you.

[2022-05-04 11:34] Jeffkang-94 commented on #543
1. Yes, it happened in the same iteration number
2. It seems, yes since we use the same seed value.

Input image generally seems to be okay-ish. Moreover, as you already mentioned, the gradient clipping cannot iron out the issue.

I will try to apply the fp32 norm layer to make sure that the value will not be disappeared. Thank you for sharing your hack, and i will get back to you.

Thank you,
min

[2022-05-06 14:13] Prabharoop opened #544 "How to use fairness indicators for SEER models?"
## ❓ How to use fairness indicators for SEER models?

Hi,

First of all, thank you for providing vissl, it's a great tool.
I would like to know what changes have to be made to use the metrics provided in the fairness indicator project for the SEER RegNet models (for eg. ; https://github.com/facebookresearch/vissl/blob/main/projects/fairness_indicators/label_associations_indicator1.md).

Inputs: I

[2022-05-10 01:30] Harry-KIT commented on #541
Hi @QuentinDuval, Did you find any possibility to download Copydays dataset?

[2022-05-10 06:49] Harry-KIT commented on #541
Hi @QuentinDuval. I want to know about copydays dataset splitting at least. As far as i know dataset contain original and strong image folders. If i am not mistaken, stong folder has 229 images, but i could not know the number of original images.
copydays--
                  |----original ?
                  |----strong ?

[2022-05-10 16:11] surajpaib commented on #540
Hi @QuentinDuval

Glad to hear that you find it useful! Let me know if there's anything I can do at this point to make things easier.

Thanks,
Suraj

[2022-05-10 18:39] QuentinDuval commented on #540
Hi @surajpaib,

I was reading through the fork and actually had a lot of questions for you. Overall, I think what you have done will require a bunch of different Pull Request to go through (that's a lot of work!).

For instance, we could split things like this:

- One PR for the support of monai transforms
- One PR for the support of 3D models
- One PR for the support of medical dataset
- Etc

Wha

[2022-05-11 03:08] VicaYang opened #545 "Incorrect accuracy when running benchmark on linear_image_classification on imagenet1K"
## Instructions To Reproduce the Issue:

I used the prebuilt vissl, created a new folder contains `tools/run_distributed_engines.py` and all files under folder `configs`, and created a new config to run the benchmark using vit-b16
Check https://stackoverflow.com/help/minimal-reproducible-example for how to ask good questions.
Simplify the steps to reproduce the issue using suggestions from the abo

[2022-05-11 12:24] VicaYang commented on #545
One other minor issue, what is the correct way to combine the configs from `models/vit_b16.yaml` and `eval_resnet_8gpu_transfer_in1k_linear.yaml`? Currently I manually merge these two files and create a new yaml file, but I think it is a bad practice. I found **How to override a training component with config files** in this [page](https://vissl.readthedocs.io/en/latest/hydra_config.html), but I f

[2022-05-12 09:14] VicaYang opened #546 "How to register imagenet1k with prebuilt vissl"
If you do not know the root cause of the problem, and wish someone to help you, please
post according to this template:

## Instructions To Reproduce the Issue:

Check https://stackoverflow.com/help/minimal-reproducible-example for how to ask good questions.
Simplify the steps to reproduce the issue using suggestions from the above link, and provide them below:

1. full code you wrote or full chan

[2022-05-12 09:32] VicaYang commented on #546
I move `run_distributed_engines.py` out of the folder `tools` and it works now, but I am still wondering whether I can place the `dataset_catalog.json` on some location so that the prebuilt vissl can load it anyway when other tries failed

[2022-05-13 16:55] QuentinDuval commented on #545
Hi @VicaYang,

First of all, thank you for using VISSL :)

So let me tackle first the question of how to combine training components. The way to do it is to use the override syntax of Hydra:

[code]

The "+" syntax will deal with the merging.

Now the classification accuracy issues:

On the supervised ViT, I am not sure there is any issue. The train accuracy can sometimes be different from the tes

[2022-05-13 16:57] QuentinDuval commented on #544
Hi @Prabharoop,

Thanks a lot for your interest in VISSL and our fairness indicators :)
I am not the most qualified for this part, Priya should be able to best explain it.

@prigoyal Could you please take a look at this issue?

Thank you,
Quentin

[2022-05-13 20:56] QuentinDuval commented on #546
Hi @VicaYang,

First of all, thanks a lot for using VISSL and reporting this!

I tried your example and got the same issue you had (actually, I am not sure I got exactly the same case, as I am not sure exactly to understand where the `dataset_catalog.json` is in the filesystem in the test case your reported - in my case, I created a `configs/config/dataset_catalog.json` file right next to the`tool

[2022-05-13 21:03] QuentinDuval commented on #541
Hi @Harry-KIT,

So I linked with the people managing the web site with the links to CopyDays.

The original version is fixed now and you can use this link to download it:
http://pascal.inrialpes.fr/data2/holidays/copydays_original.tar.gz (it contains 157 images)

For the strong one, I tried and the new link does not work either, so I will come back to them.

Thank you,
Quentin

[2022-05-14 06:41] VicaYang commented on #545
Thank @QuentinDuval for your help! I will try your config to see how it works.
For the log data, I found that the Extra layers are not loaded in both `2/log.txt` and `moco2/log.txt'. I pasted the grepped results below, the full log can be downloaded from [here](https://drive.google.com/drive/folders/1LxYqIm5BIpWRbj8JUKERPhzQWZsGZNBn?usp=sharing)

[code]

[code]

[2022-05-14 07:03] VicaYang commented on #546
Thank @QuentinDuval for your help.
I paste the `tree` result below to help any others who meet similar issues.
[code]

Under this folder structure, running `python tools/run_distributed_engines.py` cannot load the datasets correctly, while `python run_distributed_engines.py` and `VISSL_DATASET_CATALOG_PATH=configs/config/dataset_catalog.json  python tools/run_distributed_engines.py` can. I believe

[2022-05-14 07:03] #546 closed

[2022-05-15 06:11] VicaYang commented on #545
I spent 2 hours and still failed to load the weight from mocov3 correctly :(
The weight file is structured as follow
[code]

So I think `STATE_DICT_KEY_NAME` should be `state_dict` and `REMOVE_PREFIX` should be `module.base_encoder.`.
Then I tried several combinations for `APPEND_PREFIX`, including ``, `trunk.`, `trunk.base_model.`, `trunk._feature_blocks.`, `trunk.base_model._feature_blocks.`, `t

[2022-05-15 08:01] VicaYang opened #547 "Extract feature using ViT model"
It seems that this repo does not provide the YAML file for extracting feature using ViT models, so I tried to implement it, but met troubles.

1. full code you wrote or full changes you made (`git diff`)
I add file `configs/config/feature_extraction/trunk_only/vit_b16.yaml` and try two different implementation. The first one is borrowed from other YAML files in the same folder, while the second on

[2022-05-16 19:24] kulkarnivishal opened #548 "Model not training, training is stuck without errors"
Thank you for this repository

I'm trying to train Deep Cluster V2 on custom dataset that I successfully registered. However when I initiate training, the output logs are stuck at `initialized host ... as rank 0`. There's no error but no progress either.
- Tried installing from source and installing through pip
- I'm training the model in a Kubeflow notebook
- Python 3.8 Pytorch 1.8.1 + cu 11.1
-

[2022-05-23 09:39] Mak-Ta-Reque opened #549 "Please read & provide the following"
## Instructions To Reproduce the 🐛 Bug:

1. what changes you made (`git diff`) or what code you wrote
[code]
2. what exact command you run:
cd $HOME/vissl && NODES=8   NUM_GPU=8   GPU_TYPE=V100   MEM=200g   CPU=8   EXPT_NAME=swav_100ep_rn50_in1k   OUTPUT_DIR=/tmp/swav/   PARTITION=learnfair   BRANCH=v0.1.6   NUM_DATA_WORKERS=4   MULTI_PROCESSING_METHOD=forkserver   ./dev/launch_slurm.sh   config=p

[2022-05-23 22:40] kulkarnivishal commented on #452
What's CHUNCK_THRESHOLD?

[2022-05-27 08:56] Jeffkang-94 commented on #543
FYI, throughout our studies, we found that `exclude_bias_and_norm: True` in the `LARS` is able to prevent loss NaN value.

[2022-05-28 16:33] surajpaib commented on #540
Hi @QuentinDuval, apologies for my late response, I was on holiday for a good part of the past two weeks.

I agree with splitting the work into separate PRs. That should make it much easier to contribute from my end as well.

It would definitely be helpful to have access to a chat. We could discuss the rest of the points you mentioned in detail on there. I've created a discord link here: https://d

[2022-05-31 11:39] VicaYang commented on #547
Well, I dig into the code and use
[code]
to get the feature correctly. However, I am not so familiar with the architecture of ViT. Any discussion is welcome!

[2022-05-31 13:59] VicaYang opened #550 "Incompatibilty weights"
In `vissl/utils/checkpoint.py:743`, there are codes to check the weights. You can see that it checks `_feature_blocks.`
[code]

However, some VISSL model does not have this structure, such as ViT, you can download weights from [here](https://dl.fbaipublicfiles.com/vissl/model_zoo/baselines/vit_b16_p16_in22k_ep90_supervised.torch) to check.
While some archs like ResNet50 do have, you can download w

[2022-05-31 14:01] VicaYang commented on #550
I would suggest removing this check, and give a warning if the `state_dict` is not compatible with `model.keys()`, instead of hard-code "_feature_blocks"

[2022-05-31 14:01] VicaYang commented on #545
The error above is related to #550

[2022-06-01 04:56] VicaYang commented on #550
Well, it seems that this function has been modified in the main branch, but not in the pre-built library and v.0.1.6 branch (which is  suggested in the tutorials)

[2022-06-01 04:56] #550 closed

[2022-06-03 02:27] VicaYang opened #552 "Requests experiment configuration for supervised ViT/B16 + imageNet1k + linear"
In the [Model Zoo](https://github.com/facebookresearch/vissl/blob/main/MODEL_ZOO.md), an accuracy of 83.38 is reported. However, the experiment configuration is not shared in the json file. I try to reproduce it and got 82.47, which is a little lower than the reported value. Could you please share the config so that I can double-check the results? Thanks a lot.

Here is my command for training and

[2022-06-09 23:11] pclucas14 commented on #268
Hi @surajpaib,

No I don't think anyone is actively working on this :/ The issue back then was how to properly log with DDP iirc. You can probably check how pytorch-lightning does it and implement something similar.

Best of luck!

[2022-06-10 03:00] ccedar opened #553 "How to use pretrained/finetuned VISSL model for inference?"
### **Training**

Here is the command I've executed.
[code]

 I edited head params' dimension like below. Because I want to classify the images to 5 classes.

[code]

### **Inference**

[code]
When I run the code like above, I got the results like below. I expected the tensor has length of 5, but the tensor I've got is length of 2048.
[code]

Could you please point me in the right direction? It's

[2022-06-11 14:12] BlingHe commented on #541
Hi @QuentinDuval ,
Thanks for your efforts!
The links are available, but the download speed is very slow, only about 6k/s.

[2022-06-11 14:19] BlingHe commented on #541
After using VPN, the download speed returned to normal. I have successfully downloaded the file. Thank you again.

[2022-06-13 13:56] blazejdolicki opened #554 "How to select a model checkpoint with best epoch loss after pretraining"
## ❓ How to do something using VISSL

Describe what you want to do, including:
1. what inputs you will provide, if any:
2. what outputs you are expecting:

When pretraining a model, I save a checkpoint after every epoch. Once the training is done, I would like to select the checkpoint with the best epoch loss to use it for linear evaluation. Currently, there are no logs telling me what is the loss

[2022-06-15 02:02] surajpaib commented on #268
Thanks for letting me know!
I was able to setup wandb to mimic what the tensorboard hook does. @prigoyal Would you still be interested in a PR for this?

I've handled the DDP as mentioned on the wandb logs by logging solely from the primary rank. Source: https://docs.wandb.ai/guides/track/advanced/distributed-training

You can find the implementation on my fork: https://github.com/surajpaib/vissl/

[2022-06-15 02:18] surajpaib commented on #268
#271

Okay, so I just found this PR. On going through it, I see that the only difference that makes it work is that I run `wandb.init()` call after DDP is initialized (https://github.com/surajpaib/vissl/blob/022fade7ce7db063e4b170834e8fe5f59f832729/vissl/hooks/wandb_hook.py#L55)

If I follow correctly, the consensus on the PR was to add a new `is_primary` definition separate from the ClassyVision

[2022-06-21 13:19] adamcatto opened #555 "torch_xla compatibility option?"
## 🚀 Feature
An option to train models on a TPU or TPU pod using the `torch_xla` package.

## Motivation & Examples

Motivation: speed up training, utilize best available resources.

Example: in `vissl/vissl/trainer/trainer_main.py`, start by changing `SelfSupervisionTrainer.setup_distributed(self, use_gpu)` to something like `SelfSupervisionTrainer.setup_distributed(self, device)`, then encapsula

[2022-06-27 18:48] QuentinDuval commented on #553
Hi @ccedar,

First of all, thank you for using VISSL :)
And sorry for the late answer, I did take a long PTO break lasting almost a month.

So let me first make sure I understood your test case correctly:
- You first ran a command to do the fine-tuning of a pre-trained Resnet50 to adapt it to 5 classes
- You then want to extract the predictions fo the fine-tuned ResNet50?

If so, the second script

[2022-06-27 18:57] QuentinDuval commented on #552
Hi @VicaYang,

Thank you for using VISSL and sorry for the late answer (I did take almost a month of PTO).

So I had a look at the configuration used by @prigoyal to get those numbers and it should be like this:

     config=benchmark/linear_image_classification/imagenet1k/eval_resnet_8gpu_transfer_in1k_linear
     +config/benchmark/linear_image_classification/imagenet1k/models=dino_vit_b16
     c

[2022-06-27 19:19] QuentinDuval commented on #548
Hi @kulkarnivishal,

Thank you for using VISSL :) Sorry for the late answer (I got first COVID then went into 1 month PTO).

So this really looks like an environment issue with distributed training. The initialisation of the distributed group seems to have gone fine, but maybe the test of the distributed training has failed:

In the code of `trainer_main.py`, there is a call to `dist.all_reduce(to

[2022-06-28 01:31] #547 closed

[2022-06-28 01:32] VicaYang commented on #552
Thanks for your reply, I am going to try this config.

[2022-06-28 01:35] VicaYang commented on #547
Thanks a lot! I hope you are well.

[2022-07-01 12:13] blazejdolicki commented on #554
Thanks for your response, I think for now I will select the epoch based on losses from stdout or possibly just pick the final checkpoint because in my experiments so far the loss constantly decreases.

[2022-07-01 12:13] #554 closed

[2022-07-08 02:37] Yoooss opened #557 "How to run the benchmark obeject detection task on VOC dataset?"
I want to run the benchmark object detection task on VOC0712 dataset. And I found the file "vissl/configs/config/benchmark/object_detection/voc0712/mocoV2/rn50_transfer_voc0712_detectron2_e2e.yaml" and the file "vissl/tools/object_detection_benchmark.py".
And I noticed that the object detection task need the dependency "Detectron".
However I didn't find the tutorial about how to install the compat

[2022-07-08 04:05] Yoooss commented on #557
I used the command "python tools/object_detection_benchmark.py --config-file configs/config/benchmark/object_detection/voc0712/mocoV2/rn50_transfer_voc0712_detectron2_e2e.yaml --num-gpus 0 MODEL.WEIGHTS content/resnet_simclr_d2.torch" , to train the object detection task on VOC dataset on 1 GPU.

But It raised the error that "RuntimeError: radix_sort: failed on 1st step: cudaErrorInvalidDevice: in

[2022-07-08 06:14] ShramanPramanick opened #558 "Linear Evaluation on VOC07"
Hi,

I have installed VISSL using conda pre-built binaries and have successfully trained SimClr on ImageNet following https://vissl.readthedocs.io/en/v0.1.5/getting_started.html. Next, I evaluated the saved model checkpoint on ImageNet Linear Evaluation following https://vissl.readthedocs.io/en/v0.1.5/evaluations/linear_benchmark.html#benchmark-imagenet-1k.

Now, I want to perform linear classific

[2022-07-08 20:43] QuentinDuval commented on #541
Hi @phillipecardenuto,

I guess the second link (strong) has been broken too :(
Let me upload the dataset on my side.

Thank you,
Quentin

[2022-07-08 20:52] QuentinDuval commented on #541
Hi @phillipecardenuto,

You should be able to reach the datasets with those commands:

    wget https://dl.fbaipublicfiles.com/vissl/datasets/copydays_original.tar.gz
    wget https://dl.fbaipublicfiles.com/vissl/datasets/copydays_strong.tar.gz

Please tell me if that's working well for you, if so, I will document this.

Thank you,
Quentin

[2022-07-08 21:15] phillipecardenuto commented on #541
Thanks a lot for the quick response.
The links are working now :)

Cheers,
João

[2022-07-09 02:49] ShramanPramanick commented on #558
I found it - https://github.com/facebookresearch/vissl/blob/main/configs/config/dataset_catalog.json
Thanks.

[2022-07-09 02:49] #558 closed

[2022-07-18 13:41] rram12 opened #559 "Unsupervised pre-training on custom data"
## ❓ Unsupervised pre-training on custom data

From the documentation, Colabs, and the examples I read in this repo, I don't understand why we need to provide the dataset in a structured way with the labels (the same as the following).

├── train/
│   ├── class0/
|   |   └── *.png
│   └── class1/
|       └── *.png
|
└── val/
    ├── class0/
    |   └── *.png
    └── class1/
        └── *.png

In m

[2022-07-19 07:13] rram12 commented on #559
@QuentinDuval Thank you for your response.
That's the way I was doing the training with "no label". I was just wondering why people seem to structure their dataset in the "supervised learning" way (e.g. #323) even though they are doing the "unsupervised learning".
It is all clear now!

[2022-07-19 07:13] #559 closed

[2022-07-21 12:03] TopTea1 commented on #539
Hi @QuentinDuval, I have tried to do it this way, but I'm getting this error, using RegNet from torchvision :

`---------------------------------------------------------------------------

RuntimeError                              Traceback (most recent call last)

[<ipython-input-26-0ebdee598139>](https://localhost:8080/#) in <module>()
----> 1 model.load_state_dict(torch.load("converted_vissl_co

[2022-07-21 15:18] YannDubs commented on #518
Hi @QuentinDuval, just checking up on that. Is there any news for reproducing colorization?

[2022-07-24 07:07] rtaori commented on #279
Please provide an update on this. I'm using pytorch 1.12.0, cuda 11.3, python 3.8 and cannot find the correct installation string

[2022-07-29 06:40] sbabruw commented on #537
HI, I am also trying to use multiple datasets with different sizes. Is there any update on this front?

[2022-07-29 06:41] sujaybabruwad commented on #537
HI, I am also trying to use multiple datasets with different sizes. Is there any update on this front?

[2022-08-10 19:22] crypdick commented on #357
@clane9 I would love to see vicreg supported in vissl

[2022-08-10 21:40] crypdick opened #561 "Example of using ZeRO and LARC"
## 📚 VISSL Documentation

The [docs for ZeRO](https://vissl.readthedocs.io/en/v0.1.5/large_scale/zero.html?highlight=zero#how-to-use-zero-in-vissl) gives an example of using ZeRO + LARC. However, the example has `use_larc: False`, which is confusing.

This should either be set to `use_larc: True`, or a note should be added that LARC will be used even if set to False here.

Thanks!

[2022-08-12 09:47] studentWUR opened #562 "Incosistent results when running inference on trained resnet model"
## Instructions To Reproduce the Issue:

I have trained a pretrained ImageNet resnet on a custom dataset with 12 classes.
For training I used following yaml file:
[training_yaml_file](https://github.com/facebookresearch/vissl/blob/main/configs/config/benchmark/linear_image_classification/imagenet1k/eval_resnet_8gpu_transfer_in1k_linear.yaml)
In this yaml file I only changed the of the head layer:

[2022-08-16 22:12] i7p9h9 commented on #539
Hi, I met the same issue, I have resolved it in some dummer way, but it's work :)

[code]

[2022-08-23 21:51] sidgan opened #563 "Low performance of Supervised training"
## Expected behavior:

If there are no obvious error in "what you observed" provided above,
please tell us the expected behavior.

Problem statement:
We are using the pretrained imagenet model weights to perform supervised learning on our own dataset, consisting of ~60000 train images and ~14000 test images, there are a total of 1139 classes. I have changed the MLP head in the yaml file to reflect

[2022-08-24 05:31] Jeffkang-94 opened #564 "Please read & provide the following"
## Instructions To Reproduce the Issue:
`Dino` configuration contains the parameter named `MLP_DIM` which looks like being adjustable by the user. But actually, it is hard coded. See the line here https://github.com/facebookresearch/vissl/blob/4ca0ae351b1030742132179bffd9b8640fd5a6f0/vissl/models/trunks/vision_transformer.py#L149-L155

I wanted to adjust the `mlp_ratio` or size of `mlp_dim` throug

[2022-09-04 22:37] YannDubs opened #565 "[Feature] Online linear probing"
## 🚀 Feature
It would be great to train and evaluate a linear probe on the validation / test set during pretraining. That is especially useful during hyperparameter tuning / development / debugging to have an idea of how well the model is training and possibly whether to kill the job. This would also allow having linear probing evaluation without requiring a second stage (which for ImageNet is act

[2022-09-08 21:45] DC95 opened #566 "Linear Image classification weights not loading properly: vissl pretrained models simclr or Dcv2"
Hello Vissl team, @QuentinDuval

Sorry for the trouble.

I have been trying to train a linear classifier using vissl pre-trained models on custom data (simclr and Dcv2). I read #545 and #550 and tried many things but couldn't find the solution.

**coming to the main point**: a common issue with linear classification training  Dc_v2 or simclr vissl pre-trained model is -
[code]

dv2 log file - [log

[2022-09-10 12:40] bruel-gabrielsson opened #567 "Please read & provide the following"
Hey! Is it not possible to put operations in the "on_forward" hook that are incorporated into the back-propagation? E.g. I might do some operations in the "on_forward"-hook that I assign to self.task.key that I later use in the loss and that I want to part of the back-propagation. If so, where can I see this in the code?

[2022-09-14 03:16] YannDubs opened #568 "EMA does not copy weights and does not work on fp16?"
Hi,

Looking at the implementation of ModelEmaV2, it seems that compared to `timm` the model only works on fp32 parameters? (see this [line](https://github.com/facebookresearch/vissl/blob/main/vissl/utils/ema_model.py#L75) )
Does it mean that it will not work if I use AMP ?

Furthermore, another difference with `timm` is that the ema_model is not copied (in timm copying is done [here](https://gith

[2022-09-14 17:00] crypdick commented on #357
@QuentinDuval is there an update on this? I'm keen to try out VICREG.

[2022-09-14 17:17] crypdick opened #569 "First-class support for timm models"
## 🚀 Feature
[Pytorch Image Models](https://github.com/rwightman/pytorch-image-models) (aka `timm`) is a popular computer vision library. If VISSL supported timm models, it would be easy to combine SOTA model architectures from timm with SOTA SSL methods.

## Motivation & Examples

`timm` makes it easy to use hundreds of different model architectures, all with a consistent API. If timm models were

[2022-09-17 08:58] YannDubs commented on #516
@QuentinDuval the link for rn50w2 is still broken, I think the issue should be reopened.

[2022-09-21 12:59] QuentinDuval commented on #566
Hi @DC95,

First of all, sorry for my slow response time, I had a lot on my plate.
Now it's better :) I will have a look at it !

Could you provide me with:
- the command line you are using?
- the dictionary structure of the checkpoint you are trying to evaluate?

For the second point, what I mean by dictionary structure is something like this:

[code]

Or if you have a public checkpoint that I ca

[2022-09-21 19:48] clane9 commented on #357
Hi @crypdick, @QuentinDuval. I did have a draft implementation of VICReg in [my fork](https://github.com/clane9/vissl/tree/vicreg). I'd have to rebase and finish it up, but then I'd be happy to open a PR. lmk!

[2022-09-22 08:56] DC95 commented on #566
Hi @QuentinDuval

Thanks for your response :)

The link for DC_v2 checkpoint is (https://gigamove.rwth-aachen.de/en/download/859065e3c72eabd19c45578abfd17ba0)

The link for simclr checkpoint is (https://gigamove.rwth-aachen.de/en/download/cb9771810632728d4f5885f72ac4e551)

The checkpoint structure looks like this:

`phase_idx
iteration
loss
iteration_num
train_phase_idx
classy_state_dict
type`

Th

[2022-09-27 14:05] DC95 commented on #566
Hi @QuentinDuval

Wondering if it was in the right direction. Or was I doing something wrong?

[2022-09-28 22:31] JonathanBhimaniBurrows opened #572 "Can't load pretrained seer/swav checkpoints (RG_Y_128GF)"
## Instructions To Reproduce the 🐛 Bug:
Title
Issue when trying to load pretrained weights for Swav RegNet 128 GF

1. what changes you made (`git diff`) or what code you wrote
I followed the exact instructions here
https://colab.research.google.com/github/facebookresearch/vissl/blob/v0.1.6/tutorials/Using_a_pretrained_model_for_inference_V0_1_6.ipynb#scrollTo=NCwpxr5lNBQy

only change was to the c

[2022-09-29 12:09] BoPang1996 commented on #474
Hi, I do not understand why the GatherLayer function "[all_reduce](https://github.com/facebookresearch/vissl/blob/64d705522b7d214d0f6913eaf65a70dff8b48ec4/vissl/utils/distributed_utils.py#L32)" the gradients in the backward function. In my understanding, for all the ranks, the "*grad" are the same, which is already carried all the gradients from all the samples. Thus this all_reduce op will enlarg

[2022-09-29 14:21] JonathanBhimaniBurrows commented on #572
Will update this and then close
Seems like you need to reference the models in the vissl directly in the config - uploading your own to a different path does not work
So this
cfg = [
'config=home/jrbb/xxx/xxx/models/RegNet_128gf.yaml'
]
becomes this
cfg = [
  'config=pretrain/swav/models/regnet128Gf.yaml'
]
My mistake

[2022-09-29 14:21] #572 closed

[2022-10-03 16:00] CharlieCheckpt opened #573 "Is it possible to get full imagenet pretrained weights of MoCo v2 ?"
## ❓ Is it possible to get full imagenet pretrained weights of MoCo v2 ?

Hello,
Thank you for this nice library.

I am trying to get the entire weights of resnet50 pretrained with moco v2 on ImageNet dataset. That is, I need the two encoders, the head etc ... so that I can resume the training with moco.

Is is possible to do this using the weights from the [model zoo](https://github.com/facebookr

[2022-10-25 01:56] ColinConwell opened #574 "NPID + MoCoV2 weights are the same?"
The weights from the download URLs for NPID and MoCoV2 appear to be the same. Perhaps a copying error?

The code below may be run to demonstrate the equivalence:

[code]