[2020-11-05 00:55] growlix opened #96 "Possible outdated references in tutorial and Getting Started"
## 📚 VISSL Documentation

The [Tutorial](https://github.com/facebookresearch/vissl/blob/master/tutorials/Supervised-ImageNet.ipynb#L47) references a file `tools/distributed_train.py`, which doesn't seem to exist. Also [Getting Started](https://github.com/facebookresearch/vissl/blob/master/GETTING_STARTED.md) appears to use pre-Hydra command line syntax for its example.

Happy to change fix them my

[2020-12-16 21:05] growlix opened #106 "Scaling of composed lr scheduling w/ linear warmup"
https://github.com/facebookresearch/vissl/blob/36e8c84dcda1ec319679c8c1ba6d6afe45f5c15e/vissl/utils/hydra_config.py#L144

I was trying to figure out why the linear warmup component of my composed schedulers was disappearing, and it led me here, and now I have a couple of questions:

It's not clear to me why the linear scheduler start value (```param_schedulers["schedulers"][idx]["start_value"]```,

[2020-12-17 21:14] #106 closed, assigned to prigoyal

[2021-01-14 12:03] #96 closed, assigned to prigoyal

[2021-01-29 04:04] Epiphqny opened #159 "Will the repo support Simsiam in the future?"
Awesome work! Will the Simsiam be supported in the future?

[2021-01-29 15:21] Zumbalamambo opened #160 "Is it possible to use VISSL for image retrieval?"
Is it possible to use VISSL for image retrieval? Please add an example to test a pretrained model

[2021-01-29 15:49] prigoyal commented on #159
Hi @Epiphqny , thank you so much! We fully intend to support Simsiam (or any self-supervised method) and welcome contributions. :) We won't be able to release SimSiam immediately and encourage community contributions for faster availability!

[2021-01-29 15:50] prigoyal commented on #160
Hi @Zumbalamambo , yes we support instance retrieval on Paris, Oxford (and revisited versions of the datasets). https://github.com/facebookresearch/vissl/blob/master/tools/instance_retrieval_test.py

we will provide an example yaml config file. Thank you for reaching out about this! :)

[2021-01-29 16:22] Zumbalamambo commented on #160
@prigoyal may I know if there any template for custom dataset that can be used for image retrieval?

[2021-02-12 20:05] growlix opened #186 "Pre-release announcement: Implementing vision transformers in vissl"
# 🌟 Vision transformers are coming to vissl

## Approach description

Transformers have recently demonstrated promising results for visions tasks in supervised contexts ([Dosovitskiy et al., 2020](https://arxiv.org/abs/2010.11929), [Touvron et al., 2020](https://arxiv.org/abs/2012.12877)). We are currently working with the [ClassyVision](https://classyvision.ai/) team to carry forward their vision

[2021-02-17 13:11] prigoyal opened #189 "Expand the model zoo tables to explicitly include the layer name"
in SSL, one can evaluate several model layers and we want to expand the model zoo to report the layer for which accuracy is reported. The rule is that we report the best layer.

[2021-02-18 13:35] prigoyal opened #190 "Implement BYOL"
# 🌟 New SSL approach addition

## Approach description

BYOL https://arxiv.org/abs/2006.07733

## Open source status

* [ ] the model implementation is available: (give details)
* [ ] the model weights are available: (give details)
* [ ] who are the authors: (mention them, if possible by @gh-username)

[2021-02-18 13:36] prigoyal opened #191 "Implement SimSiam"
# 🌟 New SSL approach addition

## Approach description

https://arxiv.org/pdf/2011.10566.pdf

## Open source status

* [ ] the model implementation is available: (give details)
* [ ] the model weights are available: (give details)
* [ ] who are the authors: (mention them, if possible by @gh-username)

[2021-02-20 14:33] prigoyal commented on #186
https://github.com/facebookresearch/vissl/pull/195

[2021-02-25 14:08] Zumbalamambo opened #197 "Custom Dataset"
I would like to train SimCLR. How do I prepare the custom dataset? How should I format the dataset ?

[2021-02-25 15:03] QuentinDuval commented on #197
Hi Zumbalamanbo,

I will try to answer you as completely as possible. Please feel free to ask for more details if I forgot some. I will first answer the SimCLR part, and then the custom dataset part of your question.

First of all, regarding SimCLR, VISSL allows you to train SimCLR by using the following configuration file: configs/config/pretrain/simclr/simclr_8node_resnet.yaml.

For instance, yo

[2021-02-25 20:24] Zumbalamambo commented on #197
thank you very much!

[2021-02-25 20:24] #197 closed

[2021-02-26 21:43] pclucas14 opened #198 "Error in installation"
Hi,

I'm trying to install the package following the  instructions

[code]

However the last step seems to be failing : I'm getting

[code]

I'm not sure where the error is coming from, there may be some version conflict.

Thanks,
Lucas

[2021-02-26 21:45] pclucas14 commented on #198
I also tried on another server, and it's still failing on the same step

[code]

[2021-02-27 03:14] 962086838 commented on #198
Same issue on my Ubuntu 18.04 server. Here's my log.

`$ conda install -c vissl -c iopath -c conda-forge -c pytorch -c defaults apex vissl
Collecting package metadata (current_repodata.json): done
Solving environment: failed with initial frozen solve. Retrying with flexible solve.
Solving environment: failed with repodata from current_repodata.json, will retry with next repodata source.
Collecting

[2021-02-27 03:15] 962086838 commented on #198
Same step and same issue on my Ubuntu 18.04 server.

[2021-02-27 16:14] prigoyal commented on #198
thank you for reporting this @pclucas14  and @962086838. I am able to reproduce this too myself now which is strange as we haven't updated VISSL packages recently the uploaded packages worked seamlessly few days ago.

Assigning to @bottler to take a look at this!

[2021-02-27 17:36] prigoyal commented on #186
PR has been merged! closing this issue! thank you @growlix :)

[2021-02-27 17:36] #186 closed

[2021-03-01 13:27] bottler commented on #198
This is an opencv weirdness.

First observation: The command works fine if I replace `python=3.8` with `python=3.7`. The version of python shouldn't matter much. This is helpful, because we have a baseline. (If you don't actually need Python3.8 and are just trying to use vissl, the rest of this comment can be ignored!)

There are several packages which exist in more than one place on anaconda clou

[2021-03-01 13:39] prigoyal commented on #198
thank you @bottler ! It seems like our immediate fix is to just recommend `python=3.7` in the conda installation to the user. This is probably something I should update the website and our install instructions immediately.

For our next release, I agree with all the suggestions. I think opencv is a dependency but we can make it optional as we only have 0.1% of the code that requires opencv and oth

[2021-03-01 14:12] prigoyal opened #199 "Make opencv optional"
we want to make opencv optional see #198 for the discussion

[2021-03-01 14:20] prigoyal opened #200 "Move to faiss-gpu dependency"
Make faiss non-strict dependency and move to faiss-gpu instead. See #198 for discussion

[2021-03-01 16:21] pclucas14 commented on #198
Hi,

I tried the following commands with python 3.7

[code]

And still I'm getting

[code]

[2021-03-01 16:37] prigoyal commented on #198
thank you @pclucas14 , we are working on building new packages with the dependencies reduced! In the meantime, if you are blocked, I recommend 2 options:
1. If conda is must, build vissl from scratch following the instructions https://github.com/facebookresearch/vissl/blob/master/INSTALL.md#Install-from-source-in-Conda-environment
2. Use PIP packages of VISSL instead

[2021-03-01 16:47] prigoyal commented on #199
#202

[2021-03-01 16:47] #199 closed

[2021-03-01 16:47] prigoyal commented on #200
#203

[2021-03-01 16:47] #200 closed

[2021-03-01 16:51] bottler commented on #198
I think the InvalidVersionSpecError comes from using an old version of conda itself. I am using the 2020.11 anaconda module on devfair, which is conda 4.9.2, and which I think is the recommended one.

[2021-03-01 16:51] pclucas14 commented on #198
ok willdo, thanks Priya!

[2021-03-01 16:52] pclucas14 commented on #198
OK let me try with a better conda version then

[2021-03-01 16:59] pclucas14 commented on #198
@bottler can you show me what your devfair outputs for `conda info` ?

I'm using the conda located in `base environment : /public/apps/anaconda3/5.0.1  (read only)` which is version 4.5.8, and `conda update conda` fails

[2021-03-02 18:23] prigoyal commented on #198
@pclucas14 , just an update here: @bottler uploaded new v0.1.5 conda packages that should now also work with python=3.8.
You should still have the conda 4.9.2 or latest conda otherwise all good to go! :)

[2021-03-03 16:15] pclucas14 opened #211 "Register custom model / loops outside of the VISSL directory"
## 🚀 Feature

I would like to be able to integrate custom code, sur as custom model head / trunks, or custom training loops, **without having to put them directly in the vissl directory**

## Motivation & Examples

Like many users, I like to download my packages via pip or conda. Right now I have to manually copy my new models to the vissl directory within my environment. The main issue I have wit

[2021-03-03 18:48] prigoyal commented on #211
Hi @pclucas14 , the new components can be registered by importing registeries of vissl https://github.com/facebookresearch/vissl/blob/master/vissl/trainer/train_steps/__init__.py#L19 for example importing this function. However, the current VISSL packages don't expose the register functions in `__all__` method. But we welcome contributions :) In the next VISSL release in few weeks, we will look in

[2021-03-03 19:37] pclucas14 commented on #211
ok great :) thanks for the heads up

[2021-03-04 19:45] pclucas14 opened #213 "Proper way to clip gradient norm"
## ❓ How to do something using VISSL

Using the Adam optimizer, I want to know what is the best way to clip the gradient norm  after calling backward (using `torch.nn.utils.clip_grad_norm_`). I looked into the `standard_train_step.py` file, but there does not seem to be any gradient clipping in place. All I could find were LARC specific clipping arguments in the config files.

For my personal use

[2021-03-04 19:52] growlix commented on #213
Hi Lucas!

You can see how to control gradient clipping [here](https://github.com/facebookresearch/vissl/blob/2d67e1986cec4c2ac22b517c2490e0c362704fbb/vissl/config/defaults.yaml#L428).

To enable gradient clipping, simply set `USE_GRAD_CLIP: True`, and your desired `NORM_TYPE` and `MAX_NORM`.

It's just a few a lines in the config, so it's easy to miss. Sorry you had to go to so much work implemen

[2021-03-04 19:54] pclucas14 commented on #213
thanks for the quick answer! Could you also point me to where the clipping actually happens ? I'm trying to get a better understanding of how VISSL works

[2021-03-04 19:55] pclucas14 commented on #213
Wow I actually searched for the default file :p I looked only in `vissl/configs` instead of `vissl/vissl/configs`. I'll know for next time!

[2021-03-04 20:13] growlix commented on #213
The [gradient clipping implementation](https://github.com/facebookresearch/vissl/blob/2d67e1986cec4c2ac22b517c2490e0c362704fbb/vissl/hooks/grad_clip_hooks.py) is pretty simple. Its basically just a backwards hook that calls [torch.nn.utils.clip_grad_norm_](https://pytorch.org/docs/stable/generated/torch.nn.utils.clip_grad_norm_.html). If you're using `trainer.train_steps.standard_train_step` (whic

[2021-03-04 20:41] pclucas14 commented on #213
ahh ok I see, that make sense. Thanks again

[2021-03-04 20:41] #213 closed

[2021-03-05 00:29] rtaori opened #218 "SEER model weights?"
Hi,

Where can I find the latest SEER model weights? https://arxiv.org/abs/2103.01988

Thanks

[2021-03-05 01:57] prigoyal commented on #218
Hi Rohit, thank you for reaching out. We will not release the model weights or images. :) closing this issue!

[2021-03-05 01:57] #218 closed

[2021-03-05 15:26] pclucas14 opened #219 "Updating the LR at every step"
## 📚 VISSL Documentation

Hi,

 I am trying to do a linear warmup with a cosine schedule. I followed the instructions [here](https://github.com/facebookresearch/vissl/blob/a5c973bce3cd778a17a0045dd3ee2f56ef247624/vissl/optimizers/param_scheduler/README.md). While I specified `update_interval=step`, it seems the learning rate update only happens every epoch when I look at the TB plots.
![Screen Sho

[2021-03-05 15:49] pclucas14 commented on #211
Along similar lines, is it possible to add new hooks without modifying the [hook init file](https://github.com/facebookresearch/vissl/blob/962be15e8baf43b073ccd9168bafee7727b203d0/vissl/hooks/__init__.py) ?

[2021-03-08 14:13] prigoyal commented on #211
yep! we will open all the register functions along with the ones mentioned here! :)

[2021-03-08 14:14] prigoyal commented on #219
Hi @pclucas14 , thank you for reaching out about this. Can you show / check what the `log.txt` file shows for the learning rate? It might be the case that we didn't update the tensorboard frequently enough !

[2021-03-08 14:30] pclucas14 commented on #211
Great :) Sorry to add yet another point to this, but one thing to keep in mind for future PRs would be to ensure the compatibility with the distributed slurm launcher.

Currently I added new import lines in my version of `run_distributed_engines.py` which takes care of the registration. However when using the slurm launcher, `launch_distributed` from `vissl/utils/distributed_launcher.py` is called

[2021-03-08 14:45] pclucas14 commented on #219
Hi Priya,

it's hard to say from the logs. I'm using small learning rates, so the printing precision may not be enough

[code]

Let me try with bigger learning rates, and I will get back to you

[2021-03-08 16:37] pclucas14 commented on #219
As an aside, I'm only having this issue with the Adam optimizer. Using SGD I can see the update happening much more frequently, using the same tensorboard settings

[2021-03-08 17:05] antonyscerri opened #222 "Homepage - https://vissl.ai/"
Hi

Would it make sense to update the main project homepage to make it clear its a computer vision / image related library, it's not really mentioned on that page especially the main tag line.

Tony

[2021-03-09 17:19] rohit-gupta commented on #189
Could also be useful if it was clearly specificed which results are using `eval_mlp` head and which ones are using simple `mlp` head, because it seems to make a big difference in some cases.

[2021-03-09 17:55] listener17 opened #227 "Can the framework be adapted for other tasks?"
## 📚 VISSL Documentation

A clear and concise description of what content in the [Docs](https://github.com/facebookresearch/vissl/tree/master/docs) is an issue.

Not sure if this is the right place to ask this (apologies for that).

Is VISSL framework a genereic framework? Meaning, can we make use of our models (meant for speech/Audio) and leverage the  VISSL library for SSL?

Currently, I don't s

[2021-03-09 18:40] QuentinDuval commented on #227
Hi @listener17 !

I am not the one handling the roadmap for VISSL (so I will let Priya confirm of infirm what I am saying), but to my knowledge VISSL stands for VIsion SSL and it is geared toward Vision only.

There might be a space for reusing some of the parts of VISSL for other modalities (like speech, etc.), for instance, parts algorithms like SimCLR might work cross-modalities (like image emb

[2021-03-10 03:01] chaoyanghe commented on #190
Hi @prigoyal do you need help with the BYOL baseline

[2021-03-10 16:27] OlivierDehaene opened #229 "Implement Barlow Twins"
# 🌟 New SSL approach addition

## Approach description

Implement Barlow Twins [(arxiv link)](https://arxiv.org/abs/2103.03230v1).

![image](https://user-images.githubusercontent.com/23298448/110662352-b5965200-81c5-11eb-949e-aab20d7dd25f.png)

Pseudocode:

[code]
## Open source status

The model implementation is not yet available. However, it will be open sourced at: [https://github.com/facebook

[2021-03-10 17:08] OlivierDehaene commented on #229
I would be glad to work on this if you want.

[2021-03-10 17:37] prigoyal commented on #229
Hi @OlivierDehaene , the proposal looks great and we would love to have this in VISSL. Go ahead :)

Also take a look at `projects/` folder where you can add a README etc to ensure authors are properly credited for their work in VISSL.

[2021-03-10 17:39] prigoyal commented on #227
thank you @listener17 , adding to what @QuentinDuval shared: VISSL has indeed been used for other purposes including audio, text modalities. However, we have not officially supported the other modalities and released code in VISSL yet.

We do welcome your contributions / proposals though.

[2021-03-10 17:42] prigoyal commented on #189
thank you @rohit-gupta , we will incorporate this information as well. Currently, you can still get this information from the linked `.json` files in the model zoo. :)

[2021-03-10 20:51] IgorSusmelj commented on #229
You could use the code here: https://github.com/IgorSusmelj/barlowtwins
We used the SimSiam model and just swapped the loss. We're still tuning some parameters since we're running the code on CIFAR10 and the paper does not mention experiments on this dataset.

[2021-03-11 11:20] OlivierDehaene commented on #229
@prigoyal sorry I only just saw your edit.

I started an implementation [here](https://github.com/facebookresearch/vissl/pull/230).

[2021-03-11 12:53] prigoyal commented on #190
@chaoyanghe  that sounds great. Just sharing some pointers that could be helpful:

In the VISSL docs, I created several flowcharts https://vissl.readthedocs.io/en/latest/flowcharts/train_workflow.html that could be helpful to understand the execution.

Further look at how to extend several components of VISSL in the docs https://vissl.readthedocs.io/en/latest/extend_modules/data_transforms.html

M

[2021-03-11 14:31] jzbontar commented on #229
Hi Oliver,

paper author here. Thanks for volunteering to implement Barlow Twins in VISSL! Please go ahead with the implementation.
I can review your code and, potentially, run it on our cluster to verify the accuracy.

Also, the official code should be out next week. We are making final tweaks to the codebase.

Best,
Jure

[2021-03-11 15:15] OlivierDehaene commented on #229
Hello Jure,

Cool! I think I'll wait for the code to come out before continuing as I'm not really sure about the value of some hyper-parameters.

Also, do you think it would be interesting to support more than two views for the loss? Like it is done [here](https://github.com/facebookresearch/vissl/blob/master/vissl/losses/multicrop_simclr_info_nce_loss.py#L51) for SimCLR? It seems pretty free,  th

[2021-03-11 16:56] prigoyal commented on #229
@jzbontar , it it possible to share the hyperparams setup in @OlivierDehaene 's PR? :)

[2021-03-11 19:29] jzbontar commented on #229
@OlivierDehaene,

I also think that waiting for us to release to code would make sense so that the VISSL implementation and our official implementation match. Like I said, you can expect us to release the code sometime next week.

Out of curiosity, which hyper-parameters are you unsure about?

[2021-03-12 07:43] listener17 commented on #227
Thanks @prigoyal and @QuentinDuval that answers my questions.
Being an audio guy, I will keep an eye on VISSL and maybe play with it during spare time to get better feeling.

Thanks for the good work!

[2021-03-12 07:43] #227 closed

[2021-03-12 14:41] pclucas14 commented on #219
After scaling up the learning rate this issue seems to go away. I'm not exactly sure what was happening (maybe TB doesn't let you log very small values ?), anyhow closing the issue

[2021-03-12 14:41] #219 closed

[2021-03-14 12:52] rhomu opened #233 "Wrong package apex gets installed while following the documentation"
## 📚 VISSL Documentation

When installing VISSL using pip in a venv, the documentation states:
[code]
which installs the pypi package apex https://pypi.org/project/apex/. Instead the order of the arguments should be reversed:
[code]

System: Ubuntu 20.04.2 LTS, pip 20.0.2

[2021-03-14 16:29] OlivierDehaene commented on #229
@jzbontar I only have questions regarding the optimization hyper-parameters:

- Do you adjust the learning rate as a function of the minibatch size like in MoCo and SimCLR?
- Do you use mixed precision? If so and with Apex, using which optimization level?

[2021-03-15 13:33] ItamarSafriel opened #235 "Loading Trained Models"
Hello,
I followed the given tutorials and manged to train a model on a custom dataset.
The training seemed to work but I can't figure out how to use the trained model.
I tried building the model as follows:
[code]
Where ```path_to_config_yaml``` is the path to the same config as the one used in training (```configs/config/quick_1gpu_resnet50_simclr.yaml```).
 The following error accord:
[code]
Any

[2021-03-15 14:57] prigoyal commented on #233
thank you for pointing this out. Assigning to @bottler to take a look.

[2021-03-15 15:01] prigoyal commented on #235
Thank you for reaching out. You can refer to tutorials https://colab.research.google.com/drive/1m1LUa-3vIR-rxwcm0QCrefc5S6PAY874?usp=sharing for example on how we load torchvision resnet model.

For the error that you mention , it seems like the config file is not loaded/parsed correctly. Can you try the VISSL provided function https://github.com/facebookresearch/vissl/blob/master/vissl/utils/hydr

[2021-03-16 09:42] ItamarSafriel commented on #235
Hello, Thank you very much for your response.
It seems like the colab notebook you linked is loading model weights for finetuing. This is not what I am looking for.
I want to know how to load a model I trained and use it for inference. I need something as follows:
[code]
So after I trained a SimCLR on a custom dataset, how do I use the trained model for inference?

Regarding the function ```conver

[2021-03-16 10:31] limbo0000 opened #240 "Performance of reproduced MoCo-v2"
Thanks for your wonderful codebase!  It is more convenient to conduct various experiments.

But I have a question about the reported MoCo-v2 in your MODEL_ZOO. It achieved 66.4% top-1 accuracy for linear classification while the official implementation of MoCo-v2 had 67.7%. Considering the std of MoCo-v2 is very small (around 0.1%), I think the gap (1.3%) between different implementation might sug

[2021-03-16 13:35] jzbontar commented on #229
- This is how we set the learning rate:

[code]

- We use [torch AMP](https://pytorch.org/docs/stable/amp.html) and train in half precision.

[2021-03-16 13:43] prigoyal commented on #240
Hi @limbo0000 , thank you for reaching out about this and a very important point. I anticipate this has to do with the hyperparams we used or how we trained the model (for example #gpus, batch size etc).

[2021-03-16 13:47] prigoyal commented on #235
thank you for sharing the info above. I think we should try to figure out why the `convert_to_attrdict` doesn't work for you. Can you try following https://github.com/facebookresearch/vissl/blob/master/tools/run_distributed_engines.py#L31-L33 for loading a config file? we use hydra for our config management and have neither tried simple `yaml.load` nor is supported.

[2021-03-16 13:48] #233 closed

[2021-03-16 14:06] limbo0000 commented on #240
Thanks for your quick response. Maybe I should check some details further.

[2021-03-16 14:06] #240 closed

[2021-03-17 08:37] ItamarSafriel commented on #235
Hey,
I manged to make it work and use my trained model for inference.
The problem was with my config file. I was missing values because it was the wrong config for the task.
Thank very much for your help.

If I may, I would suggest converting the way models are used and loaded to a more "detectron2ish" way. I think it's very intuitive and will help new users. I would also consider rewriting some o

[2021-03-17 12:03] prigoyal commented on #235
Hi @ItamarSafriel , really awesome to hear that.

Thank you also for your feedback on the readme files. Please go ahead and propose a PR. It will certainly help more users as well :)

For the loading of model in "detectron2ish" way, can you share what the difference is currently with VISSL loading and what  is the part that's inconvenient? I do think think that we should to improve this if there's

[2021-03-17 12:22] prigoyal opened #241 "VISSL config version convertors"
As we enhance VISSL, we want to ensure the configs backward compatibility and facilitate that via the convertors.

[2021-03-17 12:23] prigoyal commented on #241
cc @QuentinDuval for visibility. Feel free to grab the issue if you are looking into this :)

[2021-03-17 12:50] QuentinDuval commented on #241
I just did :) I will come up with a proposal soon !

[2021-03-17 12:58] glebss commented on #235
Hi @prigoyal, thanks a lot for awesome job and repository!
Following your discussion and advises I was able to build the model. Several additions to config file were necessary as well. Nevertheless, I have difficulties with loading pre-trained weights from the checkpoint. As far as I understand from the final part of [this tutorial](https://colab.research.google.com/drive/1m1LUa-3vIR-rxwcm0QCrefc5

[2021-03-17 13:02] prigoyal commented on #235
Hi @glebss , thank you ! I'd recommend to follow our documentation https://vissl.readthedocs.io/en/latest/evaluations/load_models.html + the tutorial https://colab.research.google.com/drive/1m1LUa-3vIR-rxwcm0QCrefc5S6PAY874?usp=sharing#scrollTo=YaUMDwMdzYHN where we directly load a torchvision ResNet50 model (not trained by VISSL). Hope that helps.

[2021-03-17 20:36] imjwang opened #243 "Pretrained RegNetY Models"
## 🚀 Feature
Release RegNetY backbone family from [SEER](https://arxiv.org/pdf/2103.01988.pdf?fbclid=IwAR3wf563rVeO2HTu4PgKHV8mURnxl1KzrwYMrsp8F_UP8NY2-PwLZvzVs2g) pretrained on 1B Instagram pictures.

## Motivation & Examples
I could not find these models in the Model Zoo. Do you have plans to release them or did I miss them? The pretrained RegNets seem like great few shot learners. Maybe they wi

[2021-03-18 00:20] prigoyal commented on #243
Hi @imjwang , we currently don't have plans in near future to release the SEER model weights on 1B. Stay tuned to VISSL though for future updates on this particular item

[2021-03-18 11:54] prigoyal commented on #243
closing this task as no further action is possible at this time

[2021-03-18 11:54] #243 closed

[2021-03-19 14:24] QuentinDuval commented on #241
A first draft of plan to move forward:

- [ ] Refactoring phase around configuration:
  - [ ] Remove implicit circular dependency between `vissl.utils.hydra_config` and `vissl.config` by moving `AttrDict` to configuration
  - [ ] Renaming of the function `assert_hydra_config`: this function is largely concerned with completing the configuration (**beware** of potential impact on internal code?)

[2021-03-19 14:42] prigoyal commented on #241
looks like a wonderful proposal @QuentinDuval and nicely broken down in several steps. The `assert_hydra_conf ` is not leaked anywhere else internally, so it should be fine to make changes.

Also agree on the `auto_completion` (could be `auto_config_inference` etc something like that, can be discussed later) but we should look at the function in more details and evaluate if there are some things t

[2021-03-20 11:19] jzbontar commented on #229
We released [the code for Barlow Twins](https://github.com/facebookresearch/barlowtwins).

[2021-03-20 21:57] guan-ai commented on #235
@ItamarSafriel can you share more details about how you successfully load the model and did the inference?

@prigoyal I think we do need a more clean and clear documentation on how to use the trained model to do inference. None of the "tutorials" you mentioned about feature extraction or doing inference are easy to follow. (And none of them works after I spent hours on them) Maybe the instructions

[2021-03-20 22:06] prigoyal commented on #235
Hi @guan-ai , thank you and I really appreciate your feedback. For feature extraction, the tutorial is https://vissl.ai/tutorials/Feature_Extraction . Please note that VISSL is evolving and for that reason we have marked "stable" version of everything. Please consider using the stable version.

We would also be able to help you further if you can share what doesn't work: can you open separate issu

[2021-03-21 09:21] ItamarSafriel commented on #235
Hey @prigoyal sorry for the late response.

It seems that in order to train/inference a model you need to change a given config file. This is very counter-intuitive. When using detectron2 this is usually done as follows:
[code]
And then after the training is finished, you can just do:
[code]
This syntax is what makes detectron2 very easy to learn and use. I think VISSL should aim for this.

I have

[2021-03-22 07:00] shivam-aggarwal opened #246 "How can I use vissl as a package?"
I understand VISSL provides an easy way to train models via scripts and YAML configurations.
I am looking to integrate the features of VISSL in my project. I looking to use like:-
[code]

Could you please help me with the same? Specifically when I am use it as a package on my local machine.
Thank You!

[2021-03-22 12:31] prigoyal commented on #246
Hi @shivam-aggarwal , I'd recommend to go through the tutorials https://vissl.ai/tutorials/ and also VISSL modular components docs https://vissl.readthedocs.io/en/latest/index.html to use specific components of vissl.

Can you share further details on how you want the integration to look like: in the `model = swav(config)` above, is that the model built or a model trained? If you can share more sp

[2021-03-22 12:32] prigoyal commented on #159
Closing this issue and please track https://github.com/facebookresearch/vissl/issues/191 for progress on this . :)

[2021-03-22 12:32] #159 closed

[2021-03-22 15:57] deeptek012 commented on #235
@prigoyal Thanks for your amazing work and clarifications. Let me share what I found when using the custom trained model, and hopefully that will help improving the project for the ease of use.

1. I got the 'extract_resnet_in1k_8gpu' config from the tutorial, and added
`FEATURE_EVAL_SETTINGS:
      EVAL_MODE_ON: True
      FREEZE_TRUNK_ONLY: True
      EXTRACT_TRUNK_FEATURES_ONLY: True
      SHOU

[2021-03-22 16:14] deeptek012 commented on #235
@ItamarSafriel it seems you got the inference part working for the 1-image feature extraction? If so, would you please share that? Thanks!

[2021-03-22 18:09] prigoyal commented on #235
thank you for the detailed feedback @deeptek012 and @ItamarSafriel . We will work on remediation and to start, it's clear that we need to provide a 1-stop-shop documentation for the use case that's common here in the thread (feature extraction, full finetuning). We will work on that as the immediate step.

[2021-03-22 18:23] QuentinDuval commented on #235
Hi everyone,

I will try to provide here some basic recipes that will hopefully help dealing with loading models / using them for feature extractions / inference, which (if you find them useful) might end up in a documentation.

I will concentrate on loading a model pre-trained via SimCLR, but this is portable to any another pre-training methods (all of this has been tested on a jupyter notebook).

[2021-03-23 04:37] shivam-aggarwal commented on #246
Hi @prigoyal, thank you for responding !

The modular component docs helped especially the flowcharts. I am planning to use ```SelfSupervisionTrainer``` as a class for my training and testing purposes. I am planning to use it in an OOPs way because it provides more flexibility.

By ```model = swav(config)```,
 I meant creating an instance of the model. The usage will be followed by other methods l

[2021-03-23 04:59] deeptek012 commented on #235
@QuentinDuval Thanks for the details! They are really helpful. Only one thing confused me is that I found even the cfg.config.MODEL.WEIGHTS_INIT points to some non-existing path & weight file, the code still runs and you can get the feature embeddings. No "file not found error" ever reported. And I looked at the defaults.yaml or simclr_8node_resnet.yaml, none of them specified default weight files

[2021-03-23 05:05] deeptek012 commented on #235
@QuentinDuval I also found that the embedding of the same image will change every time we load the same model. Is this a normal behavior?

[2021-03-23 12:39] prigoyal commented on #235
This shouldn't be the case as we specifically check in VISSL that if user has specified a weights_init file, then the file must exist otherwise we throw errors and stop the workflow. See https://github.com/facebookresearch/vissl/blob/master/vissl/trainer/train_task.py#L450-L463

Can you please debug if these checks are working for you? If not, can you please share more details on what the `WEIGHTS

[2021-03-23 12:43] prigoyal commented on #235
No. It seems like to me that there is some variability in your model: are you initializing the full model or are there some uninitialized layers?

Also, please note that we can help you debug better if you share more information with us. A single issue can arise due to many reasons and for that reason, we've created templates to gather necessary information. Please follow our templates https://git

[2021-03-23 12:55] prigoyal commented on #246
@shivam-aggarwal , thank you so much for sharing the context above. For your use case scenario, definitely seems like using `SelfSupervisionTrainer` is the way to go. For building the model (or anything else), you can look at our task https://github.com/facebookresearch/vissl/blob/master/vissl/trainer/train_task.py#L404 and use the API calls like `vissl.models.build_model` etc . Also, look at `vis

[2021-03-23 13:17] QuentinDuval commented on #235
This is the result of the weights not being correctly initialised in the model: as you saw, the `WEIGHTS_INIT.PARAMS_FILE` is not being used in `build_model` (my bad, I am still new to this code base).

I fixed my example to include the following part, which handles the loading of the model weights:

[code]

@prigoyal I think we can package it in a more straightforward manner (by for instance addi

[2021-03-23 17:11] deeptek012 commented on #235
Thanks @QuentinDuval, it works! The previous problem is that the model was not initialized. So some random weights got assigned every time. With proper initialization steps, the same model will encode an identical image to the same embedding. And the initialization steps is the one that checks weight file existence.

[2021-03-23 17:24] QuentinDuval commented on #235
Excellent! I will create a tutorial for this specific question and we will also look at making it more straightforward in the future.

[2021-03-23 19:25] QuentinDuval opened #247 "Utilities to read configurations and load VISSL pre-trained models"
## 🚀 Feature

Following the issue raised in https://github.com/facebookresearch/vissl/issues/235, I propose to had a few helper functions which would make using VISSL even more straightforward:
- a function to load a configuration in one shot, dealing all the things done in `run_distributed_engine.py`: merging with `defaults.yaml`, inference of the missing elements, and such
- a function in `vissl

[2021-03-23 23:43] Rebero opened #248 "Attribute error: NoneType has no 'keys'"
I have been using Vissl since a couple of weeks and just ran into a problem when setting it up on a new machine (this didn't happen on the old machine). Every time I want to start a pre-training I get the following error:

 File "/opt/conda/envs/vissl/lib/python3.8/site-packages/vissl/utils/checkpoint.py", line 404, in init_model_from_weights
    state_dict_key_name in state_dict.keys()
AttributeE

[2021-03-23 23:54] prigoyal commented on #248
Hi @Rebero , there are some recent changes in fvcore dependency which seemed to have caused this problem. However, we have recently fixed it in master (just today in commit https://github.com/facebookresearch/vissl/commit/e44a49a45907c11726672617116c50cc0a0f306f )

Can you try to pull VISSL master and try again? If you can't pull master, the fix is essentially this line https://github.com/facebook

[2021-03-24 00:40] Rebero commented on #248
Great, thanks so much for your prompt help.

[2021-03-24 16:26] jrabary opened #250 "Which sinkhorn implementation"
We are trying to figure out which sinkhorn implementation is used in the Swav model.
It looks like you're using standard sinkhorn implementation with  an additional trick for numerical stabilisation but
it is difficult to read the code and to match it with the original implementation. For example, in Swav the kernel is computed with exp(C/epsilon), in all other implementation it is exp(-C/epsilon)

[2021-03-24 17:11] prigoyal commented on #250
Hi @jrabary , we implement the sinkhorn as in SwAV paper which notes the differences from the original sinkhorn (soft vs hard assignment for instance) https://arxiv.org/pdf/2006.09882.pdf. Please also see the appendix of the paper that outlines pseudo code algorithm for sinkhorn.
Regarding why not `exp(-C/epsilon)` , what other implementations are you referring to?

[2021-03-24 18:09] jrabary commented on #250
Thanks for you feedback. I'll give a look at the appendix.
For the exp(-C/eps) I'm referring to this one https://github.com/PythonOT/POT/blob/f6139428e70ce964de3bef703ef13aa701a83620/ot/bregman.py#L377

[2021-03-24 22:59] pzharrington opened #253 "Quick start tutorial failing on model creation"
Following the steps in [https://vissl.readthedocs.io/en/v0.1.5/getting_started.html](https://vissl.readthedocs.io/en/v0.1.5/getting_started.html), I get an error coming from model build process where vissl is trying to load weights from a file that does not exist. Checking default `config` file, I see `MODEL.WEIGHTS_INIT.PARAMS_FILE` is set to `""`, i.e., an empty string. However, using the `PathM

[2021-03-24 23:32] prigoyal commented on #253
Hi @pzharrington , thank you for reaching out about this. Take a look at the issue https://github.com/facebookresearch/vissl/issues/248 . fvcore dependency recently seems to have some changes which are leading to this issue. In VISSL, we will look into pinning the fvcore and iopath version in future.

[2021-03-24 23:49] pzharrington commented on #253
Ah! I don't know how I overlooked that issue, as it's my exact situation. Thanks for the explanation.

[2021-03-24 23:49] #253 closed

[2021-03-25 00:01] prigoyal commented on #253
also reported to fvcore developers here https://github.com/facebookresearch/iopath/issues/6 :)

[2021-03-25 10:08] OlivierDehaene opened #254 "Open cpus_per_task option for SLURM training"
## 🚀 Feature

It would be great to open the `cpus_per_task` option for SLURM training to the hydra config. Right now it is inferred from the number of processes per node i.e. the number of GPUs per node with a baseline value of 8 CPU per process. See: https://github.com/facebookresearch/vissl/blob/master/vissl/utils/distributed_launcher.py#L259

## Motivation & Examples

On the cluster I am using,

[2021-03-25 10:19] OlivierDehaene commented on #254
Adding a `CPU_PER_PROC` with 8 as default value should be enough I think. What is your opinion on this?

[2021-03-25 11:43] ToastyDom opened #255 "Changing model in Feature Extraction tutorial did not work for me"
Hello everyone!
First of all, this is a really exciting toolbox - thank you for publishing it!

I am fairly new to working with config files so probably the mistake is on my side:

I tried changing the ResNet50-model from your feature extraction Colab tutorial to the SimClr one. To do that, I changed the download link to the weights but the rest remained the same.

Later in the shell command I cha

[2021-03-25 12:17] QuentinDuval commented on #254
First of all, I like the feature :) Go for it if you want to contribute it !

The alternative would be to use the value inside `config.DATA.NUM_DATALOADER_WORKERS` since it parameterise the number of threads that will be popped to deal with the construction of batches.

I am not too sure which is best: it might not be that `NUM_DATALOADER_WORKERS` is the best amount of threads (maybe we just need

[2021-03-25 12:52] prigoyal commented on #254
Indeed a nice feature request. I do think it makes sense for us to open the parity with the SLURM features in VISSL. Regarding #data workers and #cpus, this is something I think users should configure themselves and we should offer full flexibility.

@OlivierDehaene , @QuentinDuval , please feel free to grab the issue if you are interested in doing this. :)

[2021-03-25 12:56] prigoyal commented on #255
Hi @ToastyDom , thank you for reaching out. It seems like you are interested in extracting features for a RN50-w4 model. In that case you should chose the appropriate trunk instead of `rn50_layers` . For instance, you can modify the `rn50_layers` file to match the RN50-w4 model as we've done here https://github.com/facebookresearch/vissl/blob/master/configs/config/benchmark/linear_image_classifica

[2021-03-25 13:41] OlivierDehaene commented on #254
I think it is better to have an independent parameter and raise an error or a warning if `NUM_DATALOADER_WORKERs > CPU_PER_PROC`. The reason I would prefer this implementation is because on our cluster, if we ask for more than 3 or 10 CPUs, SLURM will allocates more than the required number of nodes.

[2021-03-25 13:54] OlivierDehaene commented on #254
Also, it would be great to add an option to pass `SLURM_ ADDITIONAL_PARAMETERS` to submitit. In my case I needed to add `{"account": ****}`.

Overall the changes would be:

defaults.yaml
[code]

vissl/utils/distributed_launcher.py
[code]

And then I can launch with:

[code]

[2021-03-25 15:08] prigoyal commented on #254
looks great to me. @OlivierDehaene , do you want to open a PR with your proposed changes? :)

[2021-03-26 12:24] ToastyDom commented on #255
Hello @prigoyal , thank you for your quick response! Oh right, it makes sense to use the w4 config file! However, the error remains. I tried it with that exact file you provided and with the original one but with an added `WIDTH_MULTIPLIER: 4` (see below). I even tried adding the multiplier to the "extract_resnet_in1k_8gpu.yaml" file, but that did not do the trick either. It must be something with

[2021-03-28 04:11] Tylersuard opened #257 "Model not training in Colab"
Problem: command exits after a few seconds without training
No checkpoints output

Command:

!python3 run_distributed_engines.py \
    hydra.verbose=true \
    config=supervised_1gpu_resnet_example \
    config.DATA.TRAIN.DATA_SOURCES=[disk_folder] \
    config.DATA.TRAIN.LABEL_SOURCES=[disk_folder] \
    config.DATA.TRAIN.DATASET_NAMES=[dummy_data_folder] \
    config.DATA.TRAIN.DATA_PATHS=[/cont

[2021-03-30 04:13] poodarchu commented on #191
https://github.com/poodarchu/SelfSup/blob/master/examples/simsiam/SimSiam.res50.imagenet.256bs.224size.100e.lin_cls/README.md

[2021-04-01 12:25] prigoyal commented on #257
Hi @Tylersuard , thank you for reaching out . This is quite weird and from the logs above, I can't spot anything immediate. One possibility: the colab server probably didn't start or got disconnected.  Would it be possible to retry the workflow again and verify ? (maybe try a few different tutorials).

Alternatively, are you able to build VISSL from source and use that: https://github.com/facebook

[2021-04-01 12:34] prigoyal commented on #255
thank you @ToastyDom  :) I am suspecting that this is related to the colab infra . Would it be possible to install VISSL from source https://github.com/facebookresearch/vissl/blob/stable/INSTALL.md#install-from-source-in-pip-environment and then give it a try on your machine? this will allow us to isolate whether it's the issue of VISSL or colab :)

[2021-04-05 14:50] pclucas14 opened #268 "WandB support"
## 🚀 Feature
Now that we can use Weights and Biases on the Facebook cluster, it would be really neat if there was support for it within VISSL.

## Motivation & Examples

WandB is like TensorBoard on steroids, and provides a more user-friendly interface.

Tell us why the feature is useful.

Should be used exactly like the current Tensorboard logger within VISSL

## Note

I this is something the VIS

[2021-04-05 14:56] prigoyal commented on #268
thank you @pclucas14 , this is a nice feature to add to VISSL. Please go ahead and submit a PR :) also you can grab this issue (update the Assignees) if you are moving forward :)

[2021-04-05 16:59] pcanas commented on #257
Hi @prigoyal I am following the tutorial "Understanding VISSL Training and YAML Config" and I have the exact same issue as @Tylersuard.
I have tried what you suggested but I was not able to solve it. I have not changed any code from the original notebook.
Thank you!

[2021-04-06 09:15] mmaaz60 opened #270 "Hardware Used and Time Taken to Produce Models in Model Zoo"
## 📚 VISSL Documentation

Hi,

I was wondering which hardware did you use and how much time did it take to train the models listed in Moel Zoo. These stats would be beneficial to do a comprehensive comparison of the time complexity of the methods. Though these details can be found in the corresponding papers, but different papers are using different hardware, and documenting these details on simil

[2021-04-06 13:06] prigoyal commented on #270
Hi @mmaaz60 , thank you for reaching out. We use Nvidia gpus : V100 16GB or V100 32GB (depending on if the memory was a constraint). For the model zoo, we list the specifications in several json files provided at https://github.com/facebookresearch/vissl/tree/master/configs/config/model_zoo. For example for SwAV and deepclusterV2 models in the model zoo, the specifications can be found like: https

[2021-04-06 13:22] prigoyal commented on #250
closing this task as no action is pending! please feel free to reopen for further questions or open a new task :)

[2021-04-06 13:23] #250 closed

[2021-04-06 13:33] prigoyal commented on #254
@OlivierDehaene , just an update: we are looking into this task ourselves and will keep posted on this issue of the progress.

[2021-04-06 14:02] OlivierDehaene commented on #254
@prigoyal, Great! Sorry, I don't have time to work on VISSL at the moment.

[2021-04-06 16:03] mmaaz60 commented on #270
Thank you @prigoyal, what about training time of the models under these configurations? Do you have any such records?

[2021-04-06 16:18] prigoyal commented on #270
Typically for all the models for the specified #gpus used, it's few hours (ranging between 3 hrs - 24 hours)

[2021-04-07 03:50] mkolodny commented on #257
I'm seeing the same issue in two different notebooks - [Train SimCLR on 1 gpu.ipynb](https://colab.research.google.com/github/facebookresearch/vissl/blob/stable/tutorials/Train_SimCLR_on_1_gpu.ipynb) and [Understanding VISSL Training and YAML Config](https://colab.research.google.com/github/facebookresearch/vissl/blob/stable/tutorials/Understanding_VISSL_Training_and_YAML_Config.ipynb).

It looks

[2021-04-07 09:22] pcanas opened #279 "ImportError in APEX package while following the Installation guide"
## 📚 VISSL Documentation

I have tried all the different installation options mentioned in the [Intallation guide](https://vissl.readthedocs.io/en/v0.1.5/installation.html) but they all converge to the same issue when I try to import the `apex` package:

[code]

I tried looking for similar issues but I did not find a clear answer. Also, I was wondering if the library is used at all since I cannot

[2021-04-07 12:22] prigoyal commented on #279
thank you @pcanas , for us to help further, can you share how you tried to install ?
- using pip via source
- using conda via source
- using pre-built pip packages
- using pre-built conda packages

[2021-04-07 12:22] prigoyal commented on #279
@bottler , I have had one more similar report of this issue from a different user and in their case, the installation used pip from source. Can you help look into it?

[2021-04-07 12:25] prigoyal commented on #270
closing this issue as no further actionable steps are remaining. Please feel free to reopen the issue in case of any follow-up questions or feel free to open a new one :)

[2021-04-07 12:25] #270 closed

[2021-04-07 12:28] prigoyal commented on #248
Hi @Rebero , can you share more details on how to repro this? do you mean the error in the build or the error "Attribute error: NoneType has no 'keys'"?

[2021-04-07 12:30] prigoyal commented on #257
thank you @mkolodny , the issue of AttributeError: 'NoneType' object has no attribute 'keys' comes from `fvcore` dependency. Please look at the https://github.com/facebookresearch/vissl/issues/248#issuecomment-805357468 and also alternate is to run `pip install --progress-bar off --upgrade iopath` which should update the related command.

[2021-04-07 12:33] prigoyal commented on #257
thank you @pcanas and @mkolodny , my guess is that the stall could be coming from the tensorboard logging. For debugging, can you try to set `config.TENSORBOARD_SETUP.USE_TENSORBOARD=false` and see if that works? This will allow us to narrow down the issue and look into it further.

[2021-04-07 12:59] bottler commented on #279
I am happy to have a chance to explain something about the apex name clash.

There is a package called `apex` on PyPI, which you can get with `pip install pypi`. It describes itself as `Pyramid toolkit to add Velruse, Flash Messages,CSRF, ReCaptcha and Sessions`, and its most recent version is `0.9.10dev`, from 2013. It depends on something called `pyramid`. It is nothing to do with NVIDIA apex (w

[2021-04-07 13:13] prigoyal commented on #279
thank you @bottler .

@pcanas , I have just updated the tutorials to follow `pip install -f https://dl.fbaipublicfiles.com/vissl/packaging/apexwheels/{version_str}/download.html apex` https://colab.research.google.com/drive/1Rt3Plt3ph84i1A-eolLFafybwjrBFxYe?usp=sharing and our [Install guide](https://github.com/facebookresearch/vissl/blob/master/INSTALL.md#step-2-install-pytorch-opencv-and-apex-pi

[2021-04-07 15:22] iseessel opened #280 "[feature] Dataset Catalog Environment Variable for Local Development"
## 🚀 Feature

Add ability to use a different dataset_catalog.json through the use of an environment variable and/or through the hydra config.

## Motivation & Examples

The immediate use case is for local development. That is we can have a `dataset_catalog_local.json`, that we can have gitignored for ease of local development. This will be helpful in terms of managing git when we need to change th

[2021-04-07 15:33] pcanas commented on #257
Hi @prigoyal I finally was able to run the training successfully. I send you my comments to help you further debug the issue:
* The alternative proposed to update the `fvcore` dependency by running `pip install --progress-bar off --upgrade iopath` did not work for me.
* What worked for me is the fix you proposed in [#248](https://github.com/facebookresearch/vissl/issues/248#issuecomment-805357468)

[2021-04-07 15:47] pcanas commented on #279
Hi @prigoyal thanks for your support! After learning about `apex` clash, I just created my own Python environment and only installed NVIDIA's package. Everything works now :)

Thank you for sharing this insight @bottler

[2021-04-07 15:54] prigoyal commented on #279
that's great to hear! closing this issue then :)

[2021-04-07 15:54] #279 closed

[2021-04-07 15:56] prigoyal commented on #257
thank you @pcanas ,

1) we will release new conda/pip packages of vissl in June which should help when using packages of vissl
2) great to hear
3) I'll investigate the tensorboard issue.

[2021-04-07 18:23] prigoyal commented on #248
update:
I can't reproduce the installation error mentioned when installing from master in conda. For pip, our CircleCI runs pip and build status is green.

Sharing my conda, pip, python setup if it helps:
conda 4.9.2
pip 21.0.1
Python 3.7.10

Please provide the instructions to reproduce and open a new task as well for this :)

[2021-04-07 18:23] #248 closed

[2021-04-07 19:43] Rebero commented on #248
Unfortunately the pip install --progress-bar off --upgrade iopath didn't resolve the issue. I made the edits in the conda installed vissl packaged directly just as you suggested, which works great. Thank you for your fantastic support.

[2021-04-07 19:44] Rebero commented on #248
Happy to open a new task and share the steps to reproduce.

[2021-04-07 23:56] mkolodny commented on #257
Thanks for offering to investigate the tensorboard issue @prigoyal

In case it's helpful to anyone, here's a version of the "Understanding VISSL Training and YAML Config" colab notebook that I was able to get working without tensorboard:

[Understanding VISSL Training and YAML Config](https://colab.research.google.com/drive/1XSOG_6rSQfXcPNWm3v9AUd-zJzv_cvD7?usp=sharing)

(I also had to install the

[2021-04-08 00:49] lewfish opened #281 "License question"
This Github repo (and several other Facebook SSL repos) use a Creative Commons Attribution-NonCommercial 4.0 International Public License. I understand that I cannot sell this or modified copies of this code, and would need to license adapted versions of this code under the same license. But, does this license mean that I am not allowed to *run* this code for commercial purposes? As an example, wo

[2021-04-08 18:17] iseessel commented on #254
Hi @OlivierDehaene, I am new to the vissl team. I was able to get to your request here: https://github.com/facebookresearch/vissl/pull/282/files. Please look at the testing steps of the PR on how to use and let me know if you have any issues.

Thanks for raising this issue and feel free to reopen if you have any more questions!

[2021-04-08 18:17] #254 closed

[2021-04-09 04:05] #246 closed

[2021-04-09 05:58] yuriyvl opened #286 "Unable to run sample RotNet pre-trained config"
## Instructions To Reproduce the 🐛 Bug:

1. what changes you made (`git diff`) or what code you wrote
[code]
2. what exact command you run:

python3 run_distributed_engines.py \
    hydra.verbose=true \
    config=pretrain/rotnet/rotnet_8gpu_resnet \
    config.DATA.TRAIN.DATA_SOURCES=[disk_folder] \
    config.DATA.TRAIN.LABEL_SOURCES=[disk_folder] \
    config.DATA.TRAIN.DATASET_NAMES=[dummy_dat

[2021-04-09 10:47] ToastyDom commented on #255
My computer is sadly not strong enough - I will upgrade soon though ;) For now, the normal ResNet backbones do well enough for my purposes though! I'm sorry, that I cannot test that out, but thank you very much for your responses, they were very helpful!

[2021-04-09 10:47] #255 closed

[2021-04-09 12:40] prigoyal commented on #281
thank you for reaching out about this. I have asked for clarifications on this and will share an update. I am also looking into changing license to Apache to make it more open. I'll keep this issue updated.

[2021-04-09 12:58] prigoyal commented on #257
thank you for providing the notebook. It seems like you are training VISSL master in which case we do mandate installing the Classy Vision master https://github.com/facebookresearch/vissl/blob/master/INSTALL.md#step-4-install-vissl

[2021-04-09 21:53] sbelenki commented on #286
I was facing similar error and was able to mitigate it by applying .item() function to the `self.angles[label]` tensor inside image_rotate_pil.py (line 39)

After that the processing moved a bit further and started failing in the
`        assert (
            len(batch_data[key]) == 1
        ), "Please modify your train step to handle multi-modal input"`
of the standard_train_step.py

I believe t

[2021-04-09 22:40] prigoyal commented on #286
https://github.com/facebookresearch/vissl/pull/287 will fix this

[2021-04-09 23:08] prigoyal commented on #286
closing this as the mentioned PR fixes it and will be merged soon :) please give it a try and feel free to reopen the issue if it doesn't address the problem :)

[2021-04-09 23:08] #286 closed

[2021-04-09 23:09] prigoyal commented on #235
closing this issue and @QuentinDuval provided a tutorial. feel free to reach out in case of any follow-ups. Thank you :)

[2021-04-09 23:09] #235 closed

[2021-04-09 23:35] yuriyvl commented on #286
Wow that was quick!  Will test it on the PR branch.  Thank you so much @prigoyal

[2021-04-10 01:53] sbelenki commented on #286
Thank you very much for this fix @prigoyal !
I was able to check that rotnet works well now.
Unfortunately got rate-limited on the epoch 59 of jigsaw training and got ERROR:iopath.common.download:Failed to download [https://dl.fbaipublicfiles.com/fair_self_supervision_benchmark/jigsaw_permutations/hamming_perms_2000_patches_9_max_avg.npy](url) , but my impression is that jigsaw is good too.

[2021-04-10 23:25] yuriyvl opened #289 "U-Net Integration"
## ❓ How to do something using VISSL

Hello.  Are there any plans to add support for [U-Net](https://arxiv.org/abs/1505.04597) in the near future?  Unfortunately it is not on the list of the provided [trunks](https://github.com/facebookresearch/vissl/tree/master/vissl/models/trunks).

If this is not planned, how would you suggest going about it?  Our research project requires usage of U-Net for an

[2021-04-12 12:54] prigoyal commented on #289
Hi @yuriyvl , thank you so much for reaching out about this.

U-Net is currently not planned in VISSL but we would certainly accept any contributions and provide the support needed for it.

To go about this, I'd recommend reading the doc https://vissl.readthedocs.io/en/v0.1.5/extend_modules/models.html#adding-new-trunks which outlines the steps to add a new trunk. LMK if you have any questions. :)

[2021-04-12 17:59] prigoyal commented on #289
@yuriyvl , yes absolutely :) feel free to use this thread.

[2021-04-14 02:53] mkolodny commented on #257
@prigoyal I ended up getting Tensorboard working in Colab with a couple edits:

1. Load the notebook extension with `%load_ext tensorboard`
2. Edit the config in the training command from `config.TENSORBOARD_SETUP.USE_TENSORBOARD=true` to `config.HOOKS.TENSORBOARD_SETUP.USE_TENSORBOARD=true`

[2021-04-14 12:36] prigoyal commented on #257
thank you @mkolodny , that is super amazing to hear.

is this a change you recommend we go ahead with in the Colab notebooks? If so, we can update the colab notebook tutorials .

thank you for pointing this out. VISSL has evolved since the v0.1.5 package release. We will update the tutorials to reflect this change. :)

[2021-04-14 22:36] mkolodny commented on #257
You're welcome! I'm happy I could help :) And thanks for updating the tutorials so quickly

[2021-04-14 23:23] prigoyal commented on #280
PR landed, closing the issue :) thank you @iseessel  :)

[2021-04-14 23:23] #280 closed

[2021-04-15 10:23] unoebauer opened #292 "How to load a pretrained/finetuned VISSL model for inference?"
## ❓ How to load a pretrained/finetuned VISSL model for inference?

_Preface: I am aware of #235 and of <https://github.com/facebookresearch/vissl/blob/master/tutorials/Using_a_pretrained_model_for_inference.ipynb>_

First of all, thanks a lot for making VISSL available - it's an awesome tool.

However, I am struggling with using the models I've trained for simple inference. Specifically, I am try

[2021-04-15 12:33] prigoyal commented on #292
Hi @unoebauer , thank you for contacting us. A question for you: have you verified that the `init_model_from_weights` is indeed initializing all the layers? we print the layers loaded and not loaded.

Predictions being all over the place indicates some issue with the init usually.

[2021-04-15 12:40] unoebauer commented on #292
Hi @prigoyal - thanks for the quick reply. I also suspected an issue with the loading of the weights. However, from the logging output, I assumed that the weights for all layers, in particular the HEAD are loaded. Here is the output:

[code]

[2021-04-15 20:19] prigoyal opened #297 "ConViT: documentation and model"
We landed the Convit code and want to accomplish the next few steps:

- [x] Documentation
    - [x] documentation in `docs/source/ssl_approaches` @growlix
    - [x] optional: add doc to projects/ folder @growlix
- [ ] Model zoo
    - [ ] a script to train and evaluate @growlix
    - [ ] train a model and evaluate @vedanuj
    - [ ] Add the model to AWS and to the model zoo (@prigoyal can help coor

[2021-04-21 12:32] unoebauer commented on #292
Hi @prigoyal - do have any other thoughs or suggestions? It would already help to know whether the route I've taking to prepare the VISSL model for inference is conceptually correct, specifically whether I am using the correct EVALUATION config settings. Thanks!

[2021-04-21 13:34] prigoyal commented on #292
Hi @unoebauer , thank you for sharing the model weight loading output. Based on all the details you've provided above, I can't see immediately what is going wrong.

Can you provide me with repro instructions (including the command, config files, model weights etc)? I would like to debug this further and need to run the code. :)

[2021-04-21 14:34] prigoyal commented on #257
closing this task as the actionable items have been completed. Summarizing below:
1. Load the notebook extension with `%load_ext tensorboard` -> tutorials updated
2. Edit the config in the training command from `config.TENSORBOARD_SETUP.USE_TENSORBOARD=true` to `config.HOOKS.TENSORBOARD_SETUP.USE_TENSORBOARD=true`  -> tutorials updated
3. For NoneType error, see https://github.com/facebookresearch

[2021-04-21 14:34] #257 closed

[2021-04-22 18:28] jotterbach opened #300 "Example Colab File on top-level README is no longer working."
## 📚 VISSL Documentation

A clear and concise description of what content in the [Docs](https://github.com/facebookresearch/vissl/tree/master/docs) is an issue.

Trying to execute the VISSL [example notebook ](https://colab.research.google.com/drive/1DkqGi9L47eWjA5j77EVEmbrktWBGoynN?usp=sharing#scrollTo=ayNfZrhdPnOu) `Using a pretrained model for inference` from the main README.md and running into

[2021-04-22 21:48] prigoyal commented on #300
Hi @jotterbach , did you install VISSL from packages or installed from master?

[2021-04-23 06:07] jotterbach commented on #300
Hi @prigoyal, I simply executed the collab notebook which installs the pip package. I was able to run it later when I installed the master by hand, then the notebook ran.

[2021-04-23 11:27] prigoyal commented on #300
sounds great. thank you @jotterbach for reaching out about this. We will look into making it further clear in the tutorials about the compatibility of the configs file :)

closing this issue as it seems resolved, feel free to reopen for any follow-up questions or open a new issue :)

[2021-04-23 11:27] #300 closed

[2021-04-23 14:59] spurra opened #301 "Performance discrepancy in SimCLR?"
First of, huge compliments on this great library! It accelerates developing these kinds of self-supervised methods a lot.

I've got a question regarding the reported SimCLR performance: https://github.com/facebookresearch/vissl/blob/master/MODEL_ZOO.md#simclr
They seem to differ from what what the official SimCLR implementation report: https://github.com/google-research/simclr#pre-trained-models-f

[2021-04-23 15:20] prigoyal commented on #301
Hi @spurra , thank you so much for reaching out about this and also really happy to hear about the library being useful :)

Regarding the SimCLR performance:
1. For ResNet50, we report `RN50 - 800 epochs | ImageNet-1K | 69.68` which in Google's repo `ResNet50 (1x) | 69.1`
2. For ResNet50 (2x), we report `RN50-w2 - 1000 epochs | ImageNet-1K | 73.84` which in Google's repo is `ResNet50 (2x) | 74.2`.

[2021-04-23 15:28] spurra commented on #301
Thank you very much for the rapid response! That clarifies any concerns I had :)

[2021-04-23 15:28] #301 closed

[2021-04-26 11:10] unoebauer commented on #292
Hi @prigoyal - thanks for the detailed suggestions. Concerning 1) - I've pasted the predictions for 20 images from the validation set (5 from each class) when running the model in inference mode in my first comment in this issue (adding it here again):

[code]

As you can see, the model is predicting ~70% of the times class 3 and class 2 for the rest. Only in 8 of 20 cases the predictions are corr

[2021-04-26 12:51] howard-mahe commented on #281
Hello Priya, thanks a lot for work! Any update on the legal question?

[2021-04-26 20:28] pcanas opened #302 "Values for mean and std in Normalize Data Transform"
In all the example config files described in the [Tutorials](https://vissl.ai/tutorials/), there is a _Normalize_ Data Transform, with the following mean and std:

[code]

I was wondering what is the reason for these values. Are they specific for the Imagenet_1k dataset? Should I calculate my own values if my plan is to use a custom dataset?

Thank you for your help!

[2021-04-27 14:34] SachinGarg10 commented on #292
Hi, thank you for this awesome repository. I'm very new to this repo but all the documentation and tutorials helped me a lot to understand it.

I was trying to use the self-supervised learning for image classification task on custom dataset. For that I've pre-trained the ResNet architecture using SimCLR framework using `simclr_8node_resnet.yaml` config file. After that I used that pre-trained mode

[2021-04-28 12:09] prigoyal commented on #292
Hi @SachinGarg10 , thank you for reaching out. Will you be able to try the suggestions I gave previously https://github.com/facebookresearch/vissl/issues/292#issuecomment-824065451

It will be super helpful to see the results you get in the second suggestion especially. Essentially, if you get the validation accuracy that you expect, you should retrieve predictions directly at the validation accur

[2021-04-28 12:27] prigoyal commented on #302
Hi @pcanas , these are legacy values that are used for most datasets not just imagenet. I don't think you necessarily need to compute these values for your dataset. Within VISSL itself, we use the values for many datasets example https://github.com/facebookresearch/vissl/blob/master/configs/config/benchmark/linear_image_classification/dsprites/eval_resnet_8gpu_transfer_dsprites_loc_linear.yaml#L39

[2021-04-28 16:59] antal-horvath opened #304 "No module named 'classy_vision'"
Tried to run an example code described [here](https://vissl.readthedocs.io/en/v0.1.5/ssl_approaches/swav.html#vary-the-number-of-gpus) inside a running docker container built from `./docker/*` and ended up in a `ModuleNotFoundError`.

## Instructions To Reproduce the 🐛 Bug:

`cd vissl/docker`
`image=cu101 ./build_docker.sh`
`docker run -it --shm-size=8gb --env="DISPLAY" vissl:1.0-cu101`
`python to

[2021-04-28 23:05] prigoyal commented on #304
Hi @antal-horvath , thank you for the report. We need to update our dockers , I'd recommend to follow the `INSTALL.md` to  cross-check any missing commands.

For classy vision, you can run `pip install classy-vision@https://github.com/facebookresearch/ClassyVision/tarball/master` and it should work :)

[2021-04-29 05:58] SachinGarg10 commented on #292
Hi @prigoyal , thank you for your response. During fine-tuning, I get the accuracy as expected on validation and training set. I also did the predictions using your 2nd suggestion on [#292 comment](https://github.com/facebookresearch/vissl/issues/292#issuecomment-824065451). These predictions are also what I expected.

The problem is that when I want to infer the predictions from the saved fine-tu

[2021-04-29 06:20] antal-horvath commented on #304
Thanks or the quick reply. I'll try next Monday and will let you know whether it worked.

[2021-04-29 07:33] #302 closed

[2021-04-29 12:12] prigoyal commented on #292
thank you! In case of fully loading the model for inference separately, what is
1) #gpus used ,
2) what's the BatchNorm setup?
3) Have you verified that all the weights and BN stats are correctly loaded?

Lastly, could you please provide a small repro with instructions on how you run it and we will debug further into this.

[2021-04-29 13:55] prigoyal commented on #281
Hi @howard-mahe, I will be updating the VISSL license to MIT today / tomorrow :) I've just received the approval.

[2021-04-29 14:31] spurra opened #305 "fvcore version of PathManager will be deprecated soon"
According to https://github.com/facebookresearch/fvcore/issues/47 I've replaced all import statements of fvcore that import PathManager with iopath

However during the training loop the following message still appears:

** fvcore version of PathManager will be deprecated soon. **
** Please migrate to the version in iopath repo. **
https://github.com/facebookresearch/iopath

Where is this message c

[2021-04-29 14:46] prigoyal commented on #305
Hi @spurra , thank you for reaching out. This is coming from the fvcore repo itself which is asking to migrate to the iopath. We plan to do this migration over next few weeks and before the next VISSL release .

[2021-04-29 14:54] spurra commented on #305
I see, thanks for the quick response!

[2021-04-29 14:54] #305 closed

[2021-04-29 15:12] OlivierDehaene commented on #281
@prigoyal this is huge! Thanks a lot! :)

[2021-04-30 05:50] SachinGarg10 commented on #292
Hi @prigoyal ,

1. Only 1 GPU is being used.
2. I'm using default ResNet50 architecture didn't change any BatchNorm setup.
3. In this [comment](https://github.com/facebookresearch/vissl/issues/292#issuecomment-827655105), at inference section when I load weights using this:
[code]
I get `<All keys matched successfully>` output. So, according to this [load_state_dict](https://github.com/pytorch/pyt

[2021-04-30 17:50] #229 closed

[2021-05-03 15:43] antal-horvath commented on #304
Alright, I followed [the installation instructions the for the vissl pip package](https://github.com/facebookresearch/vissl/blob/master/INSTALL.md#install-vissl-pip-package) up to `RUN pip install vissl`: This part took forever because the dependency resolver never finished here
`INFO: pip is looking at multiple versions of pillow to determine which version is compatible with other requirements. T

[2021-05-03 20:51] prigoyal commented on #281
VISSL is MIT license now, closing this issue :)

[2021-05-03 20:51] #281 closed

[2021-05-04 02:40] gurlina opened #311 "Training SimCLR on 1-gpu with VISSL tutorial throws an error on training"
When running [Training SimCLR on 1-gpu with VISSL](https://colab.research.google.com/drive/1Rt3Plt3ph84i1A-eolLFafybwjrBFxYe?usp=sharing) tutorial, I tried to kick-off the training using the following command:

[code]
After outputting various configuration settings, the code has encountered an error while building a model:

[code]

Upon inspection, I noticed that even though I didn't specify a pat

[2021-05-06 11:53] zlapp opened #313 "Precision and Recall Meters"
Noticed there isn't an implementation of precision and recall.
Below is an initial implementation happy to PR.
https://github.com/zlapp/vissl/tree/master/vissl/meters

[2021-05-06 11:56] #313 closed

[2021-05-06 12:12] prigoyal commented on #313
Hi @zlapp , thank you so much. Please go ahead and send a PR for this if you'd like :) thank you!

[2021-05-06 12:13] prigoyal commented on #311
Hi @gurlina , thank you for reaching out. Take a look at the https://github.com/facebookresearch/vissl/issues/248#issuecomment-805357468 on this :) it is a known issue that's fixed in VISSL master but the new packages haven't been released yet.

[2021-05-06 12:34] zlapp commented on #313
Thank you @prigoyal happy to contribute! Keep up the great work! https://github.com/facebookresearch/vissl/pull/312

[2021-05-06 12:36] zlapp commented on #313
@prigoyal I'm new to hydra, was wondering how would it be possible to run a benchmark (i.e. linear eval) with multiple meters and if it is currently supported?

[2021-05-07 12:57] prigoyal commented on #190
cc @iseessel

[2021-05-07 13:35] pcanas opened #314 "How to run VISSL on video with a Data Transform that chooses a random frame of the video"
## ❓ How to run an algorithm on video with a Data Transform that chooses a random frame of the video

Hi, I have been using the library for a while now and I am familiar with its main features.

I know that currently it only supports datasets containing images, but I would like to explore the possibility of using videos and I think I could reuse most of the code from the library while making two c

[2021-05-07 14:54] spurra opened #315 "Reproducing model zoos simCLR top 1 accuracy"
I'm attempting to reproduce the numbers for SimCLR as mentioned in the [model zoo's README](https://github.com/facebookresearch/vissl/blob/master/MODEL_ZOO.md#SimCLR) with the help of the pre-trained models.

VISSL seems to be fully functioning on my machine (i.e I can run training scripts). The steps I've taken are as follows.:
1) Downloaded ImageNet-2012 train and validation from https://image-n

[2021-05-10 07:57] OlivierDehaene opened #316 "Implement NNCLR"
# 🌟 New SSL approach addition

## Approach description

NNCLR: https://arxiv.org/abs/2104.14548

We find that using the nearest-neighbor as positive in contrastive losses improves performance significantly on ImageNet classification, from 71.7% to 75.6%, outperforming previous state-of-the-art methods. On semi-supervised learning benchmarks we improve performance significantly when only 1% ImageNe

[2021-05-10 09:26] OlivierDehaene commented on #316
I am available to work on this :)

[2021-05-10 12:55] prigoyal commented on #316
Hi @OlivierDehaene , this sounds amazing! go ahead with the implementation and let us know if we can help in any way! :)

[2021-05-10 12:57] prigoyal commented on #315
Hi @spurra , thank you for reaching out. Yes, I would expect that you reproduce the number. The important thing is to ensure the learning rate is scaled properly as #gpus are changed. For this in VISSL, the https://github.com/facebookresearch/vissl/blob/master/configs/config/benchmark/linear_image_classification/imagenet1k/eval_resnet_8gpu_transfer_in1k_linear.yaml#L103 is provided to automaticall

[2021-05-10 13:18] prigoyal commented on #314
Hi @pcanas , thank you for reaching out about this.

VISSL is designed to support loading data from multiple data sources. In order to load the data, VISSL flow is like this: ssl_dataset.py -> disk_dataset.py . The ssl_dataset.py constructs the data_objs depending on what kind of data and data source user is interested in. I think what we will need is something like `disk_video_dataset.py` (Checko

[2021-05-10 13:35] OlivierDehaene commented on #316
@prigoyal, @QuentinDuval,

There is something that puzzles me with the loss.

In SimCLR, we compare view1 with view2 but we also compare each view with itself and mask the diagonal. This is done to add negative pairs.
Here, since view1 and view2 are not sampled from the same data augmentation (NNCLR uses the BYOL pipeline where view1 and view2 have different gaussian blur and solarization probabil

[2021-05-10 14:29] spurra commented on #315
Thanks for the response @prigoyal ! I'll let you know what numbers I get

[2021-05-10 15:55] QuentinDuval commented on #316
From the paper, the loss is defined as:

<img width="280" alt="Screenshot 2021-05-10 at 11 44 29" src="https://user-images.githubusercontent.com/7412790/117687966-55506c00-b186-11eb-8131-83bebb5d8c71.png">

And they mention that they make it symmetric by adding the following term as well (but they also say that this has little influence on the performance):

<img width="327" alt="Screenshot 2021-0

[2021-05-12 07:21] antal-horvath commented on #304
I think we can close this issue as it is indeed solved with

But, since this issue was a result of the dockerfile not being up-to-date, and I was trying to fix it, I want to share my experience.

1. Adding the installation of classy-vision to the current version of the dockerfile in this repo indeed solved the problem. But with the setup of cuda 10.2 and torch==1.5 I am not able to succeed with th

[2021-05-12 08:00] spurra commented on #315
I finished running the experiment. This is the output of the log hook:

`INFO 2021-05-12 09:38:02,635 log_hooks.py: 446: Rank: 0, name: test_accuracy_list_meter, value: {'top_1': {'conv1': 14.628, 'res2': 28.27, 'res3': 39.088, 'res4': 56.391999999999996, 'res5': 62.246}, 'top_5': {'conv1': 29.92, 'res2': 48.455999999999996, 'res3': 61.07, 'res4': 78.32000000000001, 'res5': 85.15599999999999}}
`
I

[2021-05-12 09:36] brdav commented on #219
We observed the same issue. It seems to be caused by rounding the logged learning rate to 5 digits after the decimal point:
https://github.com/facebookresearch/vissl/blob/5fb443f63bceacfebbea1adb3803041cdfe0c38d/vissl/hooks/log_hooks.py#L235
Since learning rates are often below that in order of magnitude, this should be fixed to rounding to e.g. 5 significant digits instead.

[2021-05-13 12:13] prigoyal commented on #315
thank you for reporting @spurra , let me try to rerun the benchmark and come back to you. We should be able to repro exactly. I'll try the original setting and your setting as well.

[2021-05-13 12:15] prigoyal commented on #315
correct. Only learning rate will be scaled. Not the batch size. You should keep the batch size per gpu consistent and then learning rate will be auto-scaled.

[2021-05-13 12:18] prigoyal commented on #304
Hi @antal-horvath , thank you so much. I appreciate you sharing the docker file above. We just need to refresh the docker files on our end. If you are up for it, please feel free to send the PR. :)

As for Apex, we have built Apex packages up to pytorch 1.8.0 only. The other versions will be supported in future release. However, you don't need to be blocked by it. We provide a simple bash script t

[2021-05-19 19:57] kdexd opened #321 "Linear evaluation stops after first epoch: libgcc_s.so.1 must be installed for pthread_cancel to work"
I am trying to use linear evaluation and low-shot evaluation code from VISSL to evaluate a torchvision-like model. I tried the SUN397 dataset, but I noticed that the training stops after the first epoch without any traceback. I inspected the exact line within the code whether the training stops, and it looks like PyTorch is unable to shutdown the workers of the training dataloader after the epoch

[2021-05-20 18:14] lewfish commented on #257
I'm running the Colab tutorials on master and I'm still having the problems described below. The above comment says the tutorials have been updated, but where have they been updated?

[2021-05-20 21:03] sbelenki commented on #289
Hi @prigoyal , thank you very much for this great framework!
We were able to successfully integrate it with UNet (the original one used in the [fastMRI project](https://github.com/facebookresearch/fastMRI)) and with NestedUNet (AKA UNet++, based on the [4uiiurz1 implementation](https://github.com/4uiiurz1/pytorch-nested-unet)) - [yuriyvl](https://github.com/yuriyvl), [sbelenki](https://github.com/

[2021-05-21 04:29] ycm opened #323 "Obtain validation losses with SimCLR's fully unsupervised pre-training?"
## Question about applying fully unsupervised pre-training with VISSL

I have a dataset of images, split into two classes. My directory structure looks like:
[code]

I'm currently running `run_distributed_engines.py` with a custom YAML config file, and my dataset catalog looks like this:
[code]
Inside the yaml, I set `TEST_MODEL: False`.

But I've noticed that the `val` folder (`/data/val`) doesn'

[2021-05-21 20:09] FloCF opened #324 "No module named 'vissl.optimizers.lars'"
Congrats and many thanks for this awesome repo!

Trying to load Barlow Twins weights which yields _No module named 'vissl.optimizers.lars'_ error.
[code]
Yields the following error:
[code]

[2021-05-25 15:14] virisha22 opened #326 "Colab notebook issue"
## Instructions To Reproduce the 🐛 Bug:

1. what changes you made (`git diff`) or what code you wrote
[code]
2. what exact command you run:
[code]
3. what you observed (including __full logs__):
[code]
4. please simplify the steps as much as possible so they do not require additional resources to
   run, such as a private dataset.

## Environment:

Provide your environment information using the fo

[2021-05-25 17:12] ColinConwell opened #327 "minimal working example of loading models (+ associated transforms) from model zoo via TorchHub"
Thank you VISSL team for this phenomenal and timely repo.

I was wondering if you might be able to provide a minimal working example for loading one of your model zoo models from TorchHub (or via some sort of model zoo convenience function like the kind found in Torchvision), and perhaps a small function that provides the minimal set of transforms to ensure new images are within distribution for t

[2021-05-26 14:26] 5agado commented on #300
Thank again for the great work!
I just wanted to highlight that the example notebook linked in the README still throws the same error reported above, and it is not clear what is the way around it. Manually installing the master by hand throws other errors.

As these are the introductory notebooks highlighted in the repo README it would be nice to have them to work as they are, or at least to add s

[2021-05-26 15:30] antal-horvath commented on #304
Actually, I don't get it to work. Also not with pytorch 1.8.0 (same error with pyramid); and  also not with the above-mentioned script (with cuda 11.1, cudnn8, and torch 1.8.0). This script results in the following error:

[2021-05-27 13:57] QuentinDuval commented on #324
Hi @FloCF,

It might be coming from the fact that we did not release a new version of VISSL containing the commit of barlow twins: f63a0cee9e3b0c3ed826356210415b6db0be833c, so the `pip install vissl` will not install the `vissl.optimizers.lars`.

However, I am surprised that we would be pickling some actual modules and not just weights.

Could you please try on you side loading the checkpoint with

[2021-05-27 19:59] QuentinDuval commented on #326
Hi @virisha22,

I had a look at the notebook and the tensorboard option is indeed not correct.
You can make it work by using `config.TENSORBOARD_SETUP.USE_TENSORBOARD=true` instead of `config.HOOKS.TENSORBOARD_SETUP.USE_TENSORBOARD=true`.

We need to adapt the notebook on our side to correct this.

CC: @prigoyal

[2021-05-27 20:36] QuentinDuval commented on #323
Hi @ycm,

You should indeed be able t access the SimCLR weights in `checkpoint['classy_state_dict']['base_model']['model']['trunk']`. This is the best option if you want to transfer to a downstream task not supported in VISSL.

If you want to try it on one of the VISSL benchmarks, you can avoid that entirely (for instance if you want to do a classification benchmark on any dataset) and just pass t

[2021-05-28 02:29] petteriTeikari commented on #292
Hi @prigoyal and thanks for the nice package

I join the confused inferencees

I finetuned `converted_vissl_rn50_semi_weakly_sup_16a12f1b.torch` with this [tutorial](https://colab.research.google.com/drive/1CCuZ50BN99JcOB6VEPytVi_i2tSMd7A3?usp=sharing) for my own data and things seemed to go okay for my binary classifcation task with train/test accuracies around 90%

I got the model set up for inf

[2021-05-28 09:31] 5agado opened #328 "Extract features from Dino model"
I was playing with your [Using a pre-trained model in inference mode notebook](https://colab.research.google.com/drive/1DkqGi9L47eWjA5j77EVEmbrktWBGoynN?usp=sharing) to extract features. As the notebook specifies, the whole setup should be portable to any another pre-training methods, so I wanted to try using your newly released Dino model.

I used the weights and config present in your [model zoo

[2021-05-28 11:09] khizirsiddiqui opened #329 "Custom Dataset not registered"
I am trying to use memotion dataset following the [tutorials](https://colab.research.google.com/drive/1Rt3Plt3ph84i1A-eolLFafybwjrBFxYe?usp=sharing) and [documentation](https://vissl.readthedocs.io/en/latest/extend_modules/custom_datasets.html) available. I register it in the `VisslDatasetCatalog` and confirm it by printing the entries.

[code]
This shows an output:
[code]

I run the training proc

[2021-05-29 15:36] petteriTeikari opened #330 "Adding custom meters, that get logged to Tensorboard"
I added my own custom meter to track classification metrics like AUC, specificity, sensitivity, balanced accuracy from sklearn and based on the `metrics.json` saved to disk, they seem to give reasonable values:

[code]

However I don't get any of these logged to Tensorboard, unlike with the "default" `accuracy_list_meter` that was written to Tensorboard?

What part of the custom meter definition a

[2021-06-01 12:52] prigoyal commented on #289
thank you @sbelenki for the update :) I am really glad to know that the Unet integration was successful and really appreciate all the pointers.

We are looking into adding a few medical imaging related benchmarks as well to VISSL and exploring it with Matthew Muckley (one of the contributors of the FastMRI project).

Out of curiosity: it sounds like the blockers in contributing to the VISSL is pri

[2021-06-01 13:00] prigoyal commented on #304
thank you @antal-horvath , we will take this into account and work on providing the VISSL official docker.

To unblock you immediately, it sounds like your blocker is primarily the Apex installation? Apex is currently used / required for 3 things:
1) AMP for mixed precision
2) SyncBatchNorm layer
3) LARC

for the 1) and 2), PyTorch provides the alternatives now.
on 1) , for using PyTorch AMP, see

[2021-06-01 13:05] prigoyal commented on #321
Hi @kdexd , thank you for reaching out about this. In VISSL, we create the new workers at the beginning of every epoch https://github.com/facebookresearch/vissl/blob/master/vissl/trainer/train_task.py#L510

Have you tried `config.MULTIPROCESSING_START_METHOD=forkserver` or `config.MULTIPROCESSING_START_METHOD=fork` and do you repro the issue in both?

[2021-06-01 13:29] prigoyal commented on #324
Hi @FloCF , thank you so much for reaching out about this.

It indeed seems like this model checkpoint is somehow requires the `vissl.optimizers.lars` which shouldn't be the case. I can repro the issue as well. Assigning to @jingli9111 to help look into this :)

[2021-06-01 13:38] prigoyal commented on #326
ah, thank you for reporting this @virisha22 , the issue is due to the mismatch of the tutorial version and the vissl code version. Our current tutorials correspond to the `stable` VISSL version https://github.com/facebookresearch/vissl/tree/stable . I'll work on pointing the tutorial to the right code version to avoid such confusion. Our current tutorials are not updated to reflect all the changes

[2021-06-01 13:41] prigoyal commented on #328
Hi @5agado , thank you for reporting this. DINO is fully supported. Can you share the command line you are trying to run? thank you :)

[2021-06-01 13:48] prigoyal commented on #330
Hi @petteriTeikari , thank you for reaching out about this. Currently, tensorboard hooks in VISSL looks for `accuracy`  meter https://github.com/facebookresearch/vissl/blob/master/vissl/hooks/tensorboard_hook.py#L174-L182 and only logs this. I think we can extend this to be a generic meter agnostic logging. However, for immediately unblocking yourself, I recommend to change this locally here https

[2021-06-01 13:51] prigoyal commented on #329
thank you for reporting this @khizirsiddiqui . :) A few follow-up questions to help with this:

1) are you directly installing the VISSL package (as in the tutorial)? or did you install VISSL master from source?
2) when you add the tensorboard command, do you mean the training happens as expected?

[2021-06-01 13:57] prigoyal commented on #323
thank you @ycm for reaching out. For the validation set during pre-training, is your use case to monitor the `loss` on the validation or to run some benchmark tasks (like linear evaluations) on model checkpoints after every epoch?

[2021-06-01 14:01] virisha22 commented on #326
Oh thank you for the pointers, will close this.

[2021-06-01 14:01] #326 closed

[2021-06-01 14:06] prigoyal commented on #327
Hi @ColinConwell , thank you for reaching out about this. I'll recommend looking at https://github.com/facebookresearch/vissl/issues/235#issuecomment-804290753 that shows how to build the model and and construct the transforms .

I think we also need to work on providing a dedicated standalone and clear tutorial for this that's independent of the yaml files . I'll include this in the next VISSL re

[2021-06-01 16:38] ColinConwell commented on #327
Excellent. Thanks very much! I'll have a look at #235 and will wait for the next release. Let me know if I can be of any assistance.

[2021-06-01 17:42] sbelenki commented on #289
Hi @prigoyal, other than h5py in the [fastmri_dataset.py](https://github.com/sbelenki/vissl/blob/master/vissl/data/fastmri_dataset.py), we had to copy several portions of the fastMRI code into the new [FrequencyToSpatial](https://github.com/sbelenki/vissl/blob/master/vissl/data/ssl_transforms/freq_to_spatial.py) and [ApplyFrequencyMask](https://github.com/sbelenki/vissl/blob/master/vissl/data/ssl_

[2021-06-01 18:11] khizirsiddiqui commented on #329
Hello!!
1) Directly installing the VISSL package as in tutorial.
2) No, the execution of script stops - without any updates in logs or any errors, reported `INFO` mesage is the last logged statement.

[2021-06-02 11:59] 5agado commented on #328
Hi @prigoyal
I'm using [this notebook](https://colab.research.google.com/drive/1DkqGi9L47eWjA5j77EVEmbrktWBGoynN?usp=sharing))

Running

[code]

getting DINO config and weights via

[code]

and creating config as specified there via

[code]

But then I get the error reported above.

My worries is that it might be related to [this issue](https://github.com/facebookresearch/vissl/issues/300) or [thi

[2021-06-02 16:58] FloCF commented on #324
Hi @QuentinDuval ,

I tried installation from source in colab with the following code:
[code]
This time I got the following error;
[code]
I guess this is just a minor issue with the way you saved the Barlow Twins checkpoint.
Nevertheless, vissl is great and I am amazed by all the incredible work in SSL coming from FAIR!

[2021-06-02 17:57] jingli9111 commented on #324
Looks like the bug comes from that barlow twins checkpoint contains the optimizer state and `barlow_twins['classy_state_dict']['optimizer']['optim']['param_groups']` has an attribute `exclude': <function _LARS._exclude_bias_and_norm at 0x7f98dd4b4f80>`

This is an optional function for LARS to exclude bias and norms in BN. This part of the code was simply following here: https://github.com/faceboo

[2021-06-03 19:36] jirvin16 commented on #323
Thank you @QuentinDuval and @prigoyal ! I'm working with @ycm on this project, and have a follow-up question - how is the final checkpoint selected during pre-training? Is early stopping being used somehow, or is the model trained for N epochs and the last checkpoint used?

[2021-06-04 01:56] petteriTeikari commented on #330
Thanks a lot @prigoyal , that indeed did the trick and this able me to write all the metrics to Tensorboard that were in the dict:

[code]

You did not btw have any chance to have a look of the inference issue with was a bit confusing to me @prigoyal :)
https://github.com/facebookresearch/vissl/issues/292

I assume a simple tutorial with the class logits / probabilities could be nice in general?

[2021-06-04 20:16] iseessel opened #335 "Continuous evaluations for checkpoints for SLURM"
## 🚀 Feature

Simple SLURM job that monitors checkpoints, launches evaluation jobs as checkpoints become available, monitor the evaluation jobs, and amalgamate the results into a single file.

Takes in a configuration file, spits out a metrics file.

## Motivation & Examples

We want to automatically train a large swav model on 10+ different evaluations for many different checkpoints as they becom

[2021-06-09 22:11] Erotemic opened #336 "Support For Dataset Manifests"
## Preface

The goal of this issue is to discuss ideas for making it easier to specify
custom dataset, or to build up documentation that explains why the existing
process is already minimal.

I find myself frustrated that I can't just point VISSL to a custom dataset on
the command line, and I think I have ideas on how to make this process easier,
but at the same time, I only have shallow familiari

[2021-06-10 00:35] duane-edgington opened #337 "Train SimCLR on 1 gpu Colab Fatal error -- HOOKS.Tensorboard not found"
## Instructions To Reproduce the 🐛 Bug:

1. what changes you made (`git diff`) or what code you wrote
[code]
2. what exact command you run:
https://colab.research.google.com/drive/1Rt3Plt3ph84i1A-eolLFafybwjrBFxYe?usp=sharing
3. what you observed (including __full logs__):
[code]
4. please simplify the steps as much as possible so they do not require additional resources to
   run, such as a priva

[2021-06-11 14:49] prigoyal commented on #336
cc @QuentinDuval , @iseessel

[2021-06-11 19:22] norabelrose opened #339 "Impossible to use custom multicrop transform with SwAV etc."
I am trying to train a SwAV model on images that have a lot of completely featureless, uniformly black background, so I wrote a custom multicrop transform that only samples crops from the non-background regions (which are irregularly shaped). But I am running into a problem because `infer_losses_config()` in `vissl/utils/hydra_config.py` only automatically sets the `num_crops` parameter of `SwaAVL

[2021-06-12 14:51] 312shan opened #340 "How to get the representation vector of certain image"
Hi there,
I run this [Extracting Features from a pretrained model](https://colab.research.google.com/drive/1EXZyW65lXBryWE2ZmC0bar2996KEiBZb?usp=sharing) aims to extraction images' feature vector , but how can i get the representation  vector of certain image, or get the image_file_name2vector  mapping dict ?

I has been print to explore  *ids.npy , *feature.npy ,but there only feature , i can't f

[2021-06-14 07:29] bhattbhuwan13 opened #341 "Getting corresponding class names for the dataset"
## ❓ How do I find the class-label mapping for my own dataset

I wanted to fine-tune the resnet model to classify the x-ray image as either **normal or pneumonia**. For the same, I used the configuration file [eval_resnet_8gpu_transfer_in1k_fulltune.yaml](https://dl.fbaipublicfiles.com/vissl/tutorials/configs/eval_resnet_8gpu_transfer_in1k_fulltune.yaml) to train the model on single gpu computer.

[2021-06-14 21:10] pranavsinghps1 opened #342 "JSON file format changes due to appending"
## JSON file format changes due to appending
 Re-running the
[code]

appends to the existing JSON file instead of re-writing it, this leads to a JSONDecoderError, which means the JSON file is not of the appropriate format.

## Expected behavior:

Changing the
 ```save_file(json_data, "/content/configs/config/dataset_catalog.json")``` to something that re-writes it instead of appending would help s

[2021-06-16 13:35] prigoyal commented on #342
Hi @pranavsinghps1 , thank you for reporting this. Indeed, I think we should support optional user input on whether to re-write and append i.e. something like `save_file(json_data, "my_file.json", rewrite=False)`  so user can configure and control this.

[2021-06-16 13:38] iseessel commented on #335
PR linked implements this issue.

[2021-06-16 13:47] prigoyal commented on #341
Hi @bhattbhuwan13 , thank you for reaching out about this. For the ImageNet, in the above config file, we are basically using the PyTorch `ImageFolder` https://github.com/facebookresearch/vissl/blob/master/vissl/data/disk_dataset.py#L85. To get the class information, one can use the `image_dataset.class_to_idx` where `class_to_idx` etc are exposed by pytorch https://github.com/pytorch/vision/blob/

[2021-06-16 13:51] prigoyal commented on #337
Hi @duane-edgington , thank you for reaching out about this. It seems like the issue is coming from
1) the command you are using installs VISSL pip packages - which is from Feb'21
2) the code is running the master commands where the `HOOKS.TENSORBOARD_SETUP` change was done.

To solve this:
1) in the tutorial, can you install VISSL from source instead: https://github.com/facebookresearch/vissl/blo

[2021-06-16 13:52] prigoyal commented on #339
assigning to @iseessel , will you be able to look ? :)

[2021-06-16 13:58] prigoyal commented on #340
Hi @312shan , thank you for reaching out. I am not sure I understand the question. The feature vectors in `*feature.npy` correspond to the image `*ids.npy` where the data is built using Torchvision `ImageFolder` https://github.com/facebookresearch/vissl/blob/master/vissl/data/disk_dataset.py#L85-L86 . You can inspect the torchvision https://github.com/pytorch/vision/blob/master/torchvision/dataset

[2021-06-16 14:29] iseessel commented on #339
Hi @norabelrose thanks for reaching out!

1. Indeed this is a bug, introduced by https://github.com/facebookresearch/vissl/pull/317/files. I should have a PR to fix soon. Just a bit of context, the reason why we overwrite config options is to prevent difficult-to-debug errors or silent failures mismatches in user provided configs. That being said, this is obviously a bug.

2. As for the below -- I

[2021-06-16 19:25] duane-edgington commented on #337
Thank you for the timely response. I will try your solution, and look forward to your new pip package releases as well.

From: "notifications" ***@***.***>
To: "facebookresearch/vissl" ***@***.***>
Cc: "Duane Edgington" ***@***.***>, "Mention" ***@***.***>
Sent: Wednesday, June 16, 2021 6:51:53 AM
Subject: Re: [facebookresearch/vissl] Train SimCLR on 1 gpu Colab Fatal error -- HOOKS.Tensorboard no

[2021-06-17 15:22] iseessel commented on #339
Hi @norabelrose, we have a PR up: https://github.com/facebookresearch/vissl/pull/345 Let me know how this looks to you :D.

[2021-06-17 18:37] pranavsinghps1 commented on #337
Building from source indeed solves the problem.
I tried the approach with regards to this notebook as well as other tutorial notebooks too.
Let me know if an update has to be made, I will gladly get it done!

[2021-06-18 18:18] duane-edgington commented on #337
Thank you for the update. I spent time yesterday and this morning trying to install VISSL from source using PIP in the notebook, but I was unsuccessful in solving the problem (i.e. the notebook would still not run, and would fail on import vissl.

Can you send me the cells or complete notebook with the successful install of VISSL and other needed packages so the tutorial notebook will execute with

[2021-06-19 03:27] rakesh4real opened #348 "SSL Tutorials For Video"
The feature extraction tutorial is available for only *images* https://vissl.ai/tutorials/Feature_Extraction. Can we extract features for **videos**? I would love to contribute and send PR if necessary

## Open source status

* [x] the model implementation is available: These are some implementations. Please let me know if there are better implementations
    * Unsupervised Learning from Video wit

[2021-06-19 03:33] rakesh4real commented on #348
Specifically, I am looking for embeddings that I can use for video-recommendation-engine in a very large scale (millions of data points)

[2021-06-21 16:08] prigoyal commented on #321
closing this, feel free to open if you still have the issue :)

[2021-06-21 16:08] #321 closed

[2021-06-21 21:35] prigoyal commented on #289
closing this thread :) I am glad this worked out and feel free to reach out for anything we can support on in future :)

[2021-06-21 21:35] #289 closed

[2021-06-22 06:20] jianlong-yuan opened #349 "Is there any plan to release mocov3 and mocov2+?"

[2021-06-22 12:13] prigoyal commented on #349
Hi @jianlong-yuan , thank you for reaching out. We have some Moco-v3 work in-flight and will look into if we can release it.

[2021-06-22 12:18] prigoyal commented on #348
Hi @rakesh4real , thank you so much for reaching out about this. We would love to support this and would appreciate the PR. Please go ahead and create the PR and we can provide all the support necessary :)

[2021-06-22 13:46] rakesh4real commented on #348
Thankyou @prigoyal. Will write up the action plan and start discussion here.

[2021-06-23 09:18] marcomameli1992 opened #351 "Windows Installation"
## ❓ How to do something using VISSL

I'm trying to install VISSL on my windows computer that has an NVIDIA GPU. I'm using the command:
' conda install -c vissl -c iopath -c conda-forge -c pytorch -c defaults apex vissl '

but I receive a not found package for apex and VISSL

[2021-06-23 16:02] prigoyal commented on #351
Hi @marcomameli1992 , thank you for reaching out. We don't provide conda packages for Windows. However, you can install VISSL from source following our instructions. For apex, you should check the apex github repo if it works for windows . If it doesn't, then I think you can just skip apex. For most of the apex functionality, pytorch provides everything now and e can help you with that.

[2021-06-28 14:20] iseessel commented on #342
Fixed by: https://github.com/facebookresearch/vissl/pull/346

[2021-06-28 14:20] #342 closed

[2021-06-28 14:20] iseessel commented on #339
Closing as this if fixed by: https://github.com/facebookresearch/vissl/pull/345. Please let us know if you have any other issues :).

[2021-06-28 14:21] #339 closed

[2021-06-28 14:24] iseessel commented on #337
Hi @duane-edgington, can you take a look at: https://github.com/facebookresearch/vissl/pull/347, to see if this fixes your issue?

[2021-06-28 14:55] iseessel commented on #292
@petteriTeikari Sorry you are having these issues.

1. Can you send your latest complete code that you are using?

2. Can you diff the config that generated this model (it should have saved the config as: `train_config.yaml` upon starting training) and the config that you are loading to extract features? You may want to use `#infer_and_assert_hydra_config` in  `hydra_config.py` after you load your

[2021-06-28 14:57] iseessel commented on #330
Hi @petteriTeikari sorry for the delay -- replied to https://github.com/facebookresearch/vissl/issues/292. We have scoped this issue and are planning to execute on it in the next ~6months.

[2021-06-28 15:05] iseessel commented on #329
Hi @khizirsiddiqui, can you try creating the `dataset_catalog.json` and adding your entry? You can see it done in this tutorial: https://vissl.ai/tutorials/Understanding_VISSL_Training_and_YAML_Config#Using-the-custom-data-in-VISSL and here's a reference to the documentation. https://vissl.readthedocs.io/en/latest/vissl_modules/data.html#using-dataset-catalog-json. LMK if that works!

[2021-06-28 15:11] iseessel commented on #328
Hi @5agado, this seems like it's related to https://github.com/facebookresearch/vissl/issues/292. Can you try the debugging steps mentioned in my last comment there?

[2021-06-28 15:16] iseessel commented on #323
Hi @jirvin16, we do not have early-stopping -- you are welcome to come up with a proposal to add it, if interested!

Correct, we train for OPTIMIZER.NUM_EPOCHS and use the last checkpoint.

[2021-06-28 15:19] #314 closed

[2021-06-28 15:49] iseessel commented on #160
Hi there is no such template, but should be able to  follow the same pattern as: https://github.com/facebookresearch/vissl/blob/a8622d7649e9392e13db4806e014f4048678e9ba/vissl/utils/instance_retrieval_utils/data_util.py#L282

[2021-06-28 16:57] jirvin16 commented on #323
Got it, thanks. Are the validation set losses logged somehow? The reason I ask is we're hoping to get a sense of whether the model is learning _something_, without having to use a downstream/benchmark task. Perhaps monitoring validation loss isn't necessary for this - is there a way to sanity check the training loss? E.g. by looking at curves/values for other tasks or using some heuristic for reas

[2021-06-28 18:29] duane-edgington commented on #337
Thank you for the note.

No, I still have the same kind of error.

Cell 2 error

Successfully installed torch-1.9.0
WARNING: The following packages were previously imported in this runtime:
  [torch]
You must restart the runtime in order to use newly installed versions.
upon restart, I get the following error in cell 3

---------------------------------------------------------------------------
Im

[2021-06-28 22:27] pranavsinghps1 commented on #337
https://github.com/facebookresearch/vissl/pull/347#issuecomment-870067084
User-verified Fix addressed in #347
CC : @iseessel @prigoyal

[2021-06-29 04:12] kdexd commented on #321
Hi @prigoyal , sorry for the delayed response – we were actively handling a submission and using VISSL with it. It was indeed an issue with my own environment, and worked for one of my co-authors. I upgraded to GCC 9 matching my co-author's environment and it worked for me. I will let this issue remain closed, thanks and awesome library! 🎉

[2021-06-29 05:52] khizirsiddiqui commented on #329
Hello @iseessel , yes it works this way.

[2021-06-29 13:52] iseessel commented on #323
Sure of course! So for monitoring training losses you have a few options:

1. Enable tensorboard. See [here](https://vissl.readthedocs.io/en/v0.1.5/visualization.html?highlight=tensorboard)
2. You can also parse the "log.txt" that is generated and use something like [this](https://gist.github.com/iseessel/a3a5e899c10585116b7f77e2740e6085).

In terms of monitoring performance of downstream tasks, I

[2021-06-29 17:23] jirvin16 commented on #323
Thanks for your response! We've figured out how to monitor the training losses with tensorboard. I was actually asking how to sanity check model training/performance _without_ monitoring the downstream tasks (we're training on our own custom dataset). For example, here is our training loss curve:
![image](https://user-images.githubusercontent.com/7156582/123840710-849c7300-d8c3-11eb-983c-72ef20d86

[2021-06-30 15:39] iseessel commented on #323
I don't have any SIMCLR loss curves off-hand. You could launch a training of [SIMCLR on imagenet](https://vissl.readthedocs.io/en/v0.1.5/ssl_approaches/simclr.html#how-to-train-simclr-model) to compare the loss curves.

Some googling, also yielded some loss curves, e.g. [here](https://medium.com/analytics-vidhya/understanding-simclr-a-simple-framework-for-contrastive-learning-of-visual-representat

[2021-06-30 16:22] jirvin16 commented on #323
This is very helpful, thanks so much.
1. Great observation re: low loss. I believe we should be using batchnorm and LARC. Running on 1 node and 1 GPU with a batch size of 256. Here is the config: [custom_simclr_config.txt](https://github.com/facebookresearch/vissl/files/6742426/custom_simclr_config.txt) Anything fishy pop out there?
2. Will look into this and let you know.

Thank you again for all

[2021-06-30 18:18] iseessel commented on #323
Happy to help Jeremy!

Quick question are you building from source or are you using pip version of package?

SIMCLR struggles with smaller batch sizes due to the contrastive loss (there are less examples to contrast), so I would try a larger batch size if possible. Our reference config, `simclr_8node_resnet` uses a batch size of 4096. If you are doing this, you may also want to consider using Glob

[2021-06-30 19:44] jirvin16 commented on #323
We're using the pip version of the package.

I must be looking at the wrong value for the batch size. It looks like `BATCHSIZE_PER_REPLICA` is 64 and `base_lr_batch_size` is 256. We'll try increasing `BATCHSIZE_PER_REPLICA` as much as we can with our hardware.

I believe we should already using Global/Sync Batch Norm based on the config, as long we increase the number of GPUs (we're aiming to do t

[2021-06-30 20:13] iseessel commented on #323
Yep correct no change required, it's actually already enabled (just a no-op when using 1gpu).

[2021-07-01 09:57] 5agado commented on #328
Hi @iseessel ,
I'm using weights and config as provided in the [model zoo section](https://github.com/facebookresearch/vissl/blob/master/MODEL_ZOO.md#dino), so I don't have other generated config to compare to.

I simply pip installed the VISSL, so maybe there are misalignments between the code there and the provided configuration files?

[2021-07-05 12:35] QuentinDuval commented on #341
Hi @bhattbhuwan13,

Regarding the second part of your question and the meaning of `{'top_1': {0: 68.75}, 'top_2': {0: 100.0}}`:

- The `top_1` and `top_2` correspond to the top 1 accuracy and top 2 accuracy
- The `0` as key is supposed to refer to the name of the layer where the accuracy is evaluated (this format is most useful for our configurations in which we do linear evaluation on multiple la

[2021-07-06 13:14] bhattbhuwan13 commented on #341
@QuentinDuval , thanks for a concise response. Yes, I modified the `topk_values` parameter. And it makes sense to get 100% accuracy `top_2` because there are only 2 unique classes in the dataset. Thanks.

[2021-07-06 13:14] #341 closed

[2021-07-07 13:51] QuentinDuval opened #357 "Implement VICREg"
# 🌟 New SSL approach addition

## Approach description

https://arxiv.org/pdf/2105.04906.pdf

## Architecture

<img width="564" alt="Screenshot 2021-07-07 at 09 48 57" src="https://user-images.githubusercontent.com/7412790/124770781-9e176d80-df08-11eb-8f42-46474d106bc8.png">

## Open source status

* [ ] the model implementation is available: (give details)
* [ ] the model weights are available: (

[2021-07-08 12:43] prigoyal commented on #297
going to close this. documentation is in and we will aim to rather push the moco-v3 implementation.

[2021-07-08 21:53] youyeg opened #358 "save_file"
Ran the codes according to https://github.com/facebookresearch/vissl/blob/master/GETTING_STARTED.md, and I got the following error:

1. what changes you made (`git diff`) or what code you wrote
[code]
2. what exact command you run:
save_file(json_data, "/tmp/configs/config/dataset_catalog.json", append_to_json=False)
3. what you observed (including __full logs__):
[code]

## Expected behavior:
run

[2021-07-09 04:09] pranavsinghps1 commented on #358
Hey, @youyeg  thank you for bringing this to our attention!
Could you please tell us the steps that you used for installing vissl ?

[2021-07-09 07:15] youyeg commented on #358
Hi @pranavsinghps1
I did exactly as it said in here. https://github.com/facebookresearch/vissl/blob/master/GETTING_STARTED.md
For the installation also, I followed conda installation.
I didn't get any error message by that line.
I also removed `", append_to_json=False`, and I got this:
`>>> save_file(json_data, "/tmp/configs/config/dataset_catalog.json")
Traceback (most recent call last):
  File "

[2021-07-09 07:49] pranavsinghps1 commented on #358
The pip installation package is a bit back-dated, some of the changes introduced including the addition of append_to_json in the save_file function have been done recently, and hence haven't been addressed in the pip package.
A solution to this is to install from the source.
You can follow the vissl installation process as shown in : https://colab.research.google.com/drive/1KqrvOs5fsu5tbxDF_wNEPJX

[2021-07-09 08:04] youyeg opened #359 "installation with pip, error in apex installation"
I have tried this as instructed in **Install from source in PIP environment**:
2. what exact command you run:
[code]
3. what you observed (including __full logs__):
[code]

[2021-07-09 08:22] youyeg commented on #358
Thanks, it worked. I checked the colab yesterday, and it also didn't work. I think you fixed it also.
BTW, I tried colab, pip, conda, and all of them had some errors. This is the only one that worked.

[2021-07-09 08:46] pranavsinghps1 commented on #358
CC: @prigoyal Fixed

[2021-07-09 14:11] QuentinDuval commented on #359
Hi @youyeg,

I tried the very same command on a newly created conda environment:

[code]

I could not find any issues on my side. Could you provide us with additional details (platform on which you are installing, conda, pip?)

Thank you,
Quentin

[2021-07-11 23:17] JinYeJin commented on #198
I updated conda version with just `conda update conda`, and it worked for me.

[2021-07-13 21:52] thongnt99 opened #360 "Very long estimated running time"
I tried to train Jigsaw model on ImageNet-1k data following the guide [here](https://vissl.readthedocs.io/en/latest/ssl_approaches/jigsaw.html).
However, the estimated time to finish training is very long (many days).
![image](https://user-images.githubusercontent.com/6689871/125529683-8898e9e6-0726-49c1-b75a-3ff7f15e0b38.png)
I have tried to run on different types of GPU, on both one and mutiple

[2021-07-14 01:19] SJShin-AI commented on #360
For pre-training simCLR with imageNet-1K, i also encountered the same problem.

For the understanding of the problem, we attach the yaml file.

config:
  VERBOSE: False
  LOG_FREQUENCY: 10000
  TEST_ONLY: False
  TEST_MODEL: False
  SEED_VALUE: 0
  MULTI_PROCESSING_METHOD: forkserver
  MONITOR_PERF_STATS: True
  PERF_STAT_FREQUENCY: 10
  ROLLING_BTIME_FREQ: 5
  DATA:
    NUM_DATALOADER_WORKERS: 5

[2021-07-15 12:37] prigoyal commented on #358
thank you @pranavsinghps1 , closing this issue ! :)

[2021-07-15 12:37] #358 closed

[2021-07-15 12:38] prigoyal commented on #360
thank you for reaching out. Could you share some details about what machine (GPUs ), yaml config, you are using?

[2021-07-15 16:50] DC95 opened #362 "TypeError: extract_main() missing 1 required positional argument: 'checkpoint_folder'"
Hello @prigoyal and @QuentinDuval

**What am I trying to do? -**
I am trying to extract features from the VISSL trained Deepcluster_V2 model. I am using my own custom satellite data set, which is unlabelled, and I intend to study the features learned by the model using the test dataset for further analysis.

**What problem am I facing? -**
While extracting the features I am facing this error - _**

[2021-07-15 17:33] QuentinDuval commented on #362
Hi @DC95,

The error is coming from the un-synchronisation between the tutorials and the code.

A recent fix (https://github.com/facebookresearch/vissl/commit/bb78ee74b612b07a1a152fb8584cfdee95c41404) introduced a change in the function "extract features" which is correctly impacted in the repo, but not correctly impacted in the tutorial file you mentioned (https://dl.fbaipublicfiles.com/vissl/tut

[2021-07-15 20:27] zatcsc commented on #360
Hi, thanks for your reponse.
I have tested on different GPUs, including A100, GTX600, Tesla M40.
And this is the configuration file:
`# @package _global_
config:
  VERBOSE: True
  LOG_FREQUENCY: 100
  TEST_ONLY: False
  TEST_MODEL: False
  SEED_VALUE: 0
  MULTI_PROCESSING_METHOD: forkserver
  MONITOR_PERF_STATS: TRUE
  PERF_STAT_FREQUENCY: 10
  ROLLIN_BTIME_FREQ: 5
  DATA:
    NUM_DATALOADER_WORKE

[2021-07-15 20:32] zatcsc commented on #360
Hi, thanks for your reponse.
I have tested on different GPUs, including A100, GTX600, Tesla M40.
And this is the configuration file:
[code]

[2021-07-16 08:11] DC95 commented on #362
Hi @QuentinDuval

Yes, I changed the run_distributed_engines.py as given in the latest repository and the type error is gone. But there is another error that popped up -

I checked the function **def extract(self, output_folder: str) -> None:** in **trainer_main.py** and I understand its meant for feature extraction.

My dataset_catalog.json looks like -
`{"dummy_data_folder": {"train": ["/p/proje

[2021-07-16 12:35] QuentinDuval commented on #362
Hi @DC95,

I was able to reproduce the issue with this configuration file on my side:

[code]

I will debug this and come back to you.

[2021-07-16 12:51] QuentinDuval commented on #362
Hi @DC95,

I found what the issue was: the configuration is using the `multicrop_collator` (along with the `ImgPilToMultiCrop`) which are transformations that are meant for SwAV pre-training only.

This configuration will for instance work fine:
- I switched the transform pipeline to a simple center crop, removing the transform and collator of SwAV
- I added a small item of configuration to dump f

[2021-07-16 15:10] pranavsinghps1 commented on #362
I have addressed a few tutorials related issues #358 , #337, and #347. Let me know if I can be of any assistance in helping you guys out! :)

[2021-07-17 13:18] DC95 commented on #362
Hi @QuentinDuval, and thank you, @pranavsinghps1, for the assistance offered.

I tried with the above-mentioned changes, and the feature extraction works now. Thank you very much for your assistance.

Please note - We can close this issue as the purpose is solved.

[2021-07-17 13:24] DC95 opened #364 "Extract_cluster from DeepCluster_V2 pretrained model"
Hello @QuentinDuval and @prigoyal

I was wondering whether I can use the extract_cluster from configs/config/extract_cluster/swav/visualise_swav_resnet_in1k_8gpu.yaml for **deep_clusterV2**  pretrained model?

I tried with one of the basic changes with the **head configuration** i.e. I tried the one which I used in my pretraining-

    HEAD:
       PARAMS: [
         ["mlp", {"dims": [2048, 2048],

[2021-07-19 11:23] sinberlin2 opened #365 "typo in weight conversion"
Converting to ClassyVision
All the ResNe(X)t models in VISSL can be converted to Detectron2 weights using following command:

should be:
All the ResNe(X)t models in VISSL can be converted to **ClassyVision** weights using following command:

[2021-07-19 12:37] #362 closed

[2021-07-19 12:41] QuentinDuval commented on #364
Hi @DC95,

Indeed, the extract cluster is for the moment only working for SwAV and the message is a bit misleading.

I think we can schedule an enhancement on our side to improve this and support DeepClusterV2 in addition to SwAV (@prigoyal what do you think?)?

Or if you feel comfortable trying to contribute it (it seems you went through some of the code already), give it a go and open a PR with

[2021-07-19 14:03] iseessel commented on #365
@sinberlin2 Thanks for pointing this out. Would you be open to submitting a quick PR to fix :)?

[2021-07-19 14:15] iseessel commented on #360
Hi There Thatc-Thong -- can you let us know how long you are expecting the training to take?

Based on the config you provided, your batch size is 32 -- the batch size is 256 in the paper. Can you cross reference all your hyper-params with the original jigsaw paper and make sure they match, and if possible up the batch size to 256?

(Also please note the ETA at the very beginning of a training wil

[2021-07-20 09:07] DC95 commented on #364
Dear @QuentinDuval and @prigoyal

I have not done this before :) but I will give it a go. I will definitely need your support.

Regards,
DC

[2021-07-21 05:54] SJShin-AI opened #372 "Two long estimated time for simclr pretraining on ImageNet1k"
For pre-training simCLR with imageNet-1K, i also encountered the very long estimated time problem.

**1.  To solve the problem, i measured the time consumed for each proceduce.

- i figured out that the read_time eventually increases as the iteration goes on.
- it increases from 100 ms for each batch to 600ms.
- it seems to be a huge barrier for the pretraining on imagenet1k.**

//////////////////

[2021-07-21 15:38] iseessel commented on #372
Hi there,

Can you please provide the following:

1. Amount of CPU memory and CPU power.
2. Type of GPU used + GPU memory.
3. Where you are training? On google-collab/SLURM cluster/cloud?

Can you check your system stats to see cpu and GPU+ memory utilization during training? Can you try increasing `NUM_DATALOADER_WORKERS`? Can you post the training stats at iter 500, usually the first couple of i

[2021-07-21 19:16] iseessel commented on #372
For reference after 1 epoch here are my stats:

[code]

[2021-07-21 22:23] rcterrile opened #373 "Error Importing 'TrainingMode' from 'torch.onnx'"
## Instructions To Reproduce the 🐛 Bug:

I am new to VISSL and trying to lean using the tutorial notebooks.  When running "Understanding VISSL Training and YAML Config.ipynb" (the second tutorial notebook) in Google Colab the following line causes an error.

1. Exact command run:
[code]
2. This is the observed output (including __full logs__):
[code]
I have not changed any code in any way, I am ju

[2021-07-22 08:13] youyeg commented on #359
Ubuntu 20, on conda environment.

[2021-07-22 14:20] iseessel commented on #359
@youyeg Thanks for the info :). What is the python version?

Can you try:

[2021-07-22 15:00] iseessel commented on #373
Hi there sorry your having this issue, we will be revisiting our tutorials soon.  I'm able to reproduce this issue.

Can you try replacing the installation with:

[code]

Taken from: https://github.com/facebookresearch/vissl/pull/347#issuecomment-870067084

[2021-07-22 17:34] rcterrile commented on #373
Hi, thank you for getting back to me.  I replaced the installation and am now getting an error with the line
[code]
The error reads:
[code]
I am not sure if it is related but during the installation there are two errors that show up:
[code]

[2021-07-23 10:52] pranavsinghps1 commented on #373
Hey @rcterrile ! To navigate this error you need to first move into the installed directory, if you are using Colab you can simply copy the path from the left-hand side panel and then
``` cd file/path ```
and then use the
``` !pip install ".[dev]" ```
For reference, you can check out the "Install Vissl" section at https://colab.research.google.com/drive/1KqrvOs5fsu5tbxDF_wNEPJX-OU_RoeG9?usp=sharin

[2021-07-23 16:11] ashutosh1807 opened #375 "Conversion of model to detectron2 format."
Are there pretrained models available in the format that can be used in detectron2. Or any script for the same.
I want to use the .pkl file for the model.

[2021-07-23 17:01] amajee11us commented on #375
I am facing the problem as well.
Current version of VISSL stores the model in classy_state_dict format and the script provided https://github.com/facebookresearch/vissl/blob/master/extra_scripts/convert_vissl_to_detectron2.py allows us to convert to detectron2 format. But when I use the command with args:
`python convert_model.py --input_model_file model_final_checkpoint_phase999.torch --state_dic

[2021-07-23 19:23] rcterrile commented on #373
Hi @pranavsinghps1 thank you for the help.  Changing directories solves the .[dev] issue.  However, now I am getting  an error with the following line:
[code]
[code]
I tried other names but I could not get it working so far.  Also, thank you for pointing me to the SimCLR notebook, it is quite helpful.

[2021-07-23 21:13] pranavsinghps1 commented on #373
To Solve this:
1. Import the VisslDatasetCatalog file before using the get function as :
``` from vissl.data.dataset_catalog import VisslDatasetCatalog ```
2. To print the list of all the available datasets in the catalog as :
``` print(VisslDatasetCatalog.list()) ```
and output would be like:
``` ['airstore_imagenet', 'imagenet1k_folder', 'imagenet_a_filelist', 'imagenet_r_filelist', 'imagenette_

[2021-07-28 21:34] rcterrile commented on #373
Hi, thank you for the help.  Importing VisslDatasetCatalog was working yesterday for me, but today running
[code]
results in the following error
[code]

Could you please help me with this?

[2021-07-29 08:25] pranavsinghps1 commented on #373
Hey! You are encountering a JSONDecodeError, which could be because of inappropriate manipulation of the dataset_catalog.json file, can you share which command are you using for appending/editing the dataset_catalog.json file.

[2021-07-29 10:35] DC95 opened #377 "How to understand the extracted features from VISSL (shape-dimensionality understanding)"
I have trained my satellite image data set using DC_v2 VISSL, rnet50 in the trunk:

1. The image size is **100x100** pixels:
2. Extracted the features from a single test data image

     **first layer** :["conv1", ["AvgPool2d", [[10, 10], 10, 4]]], output feature shape is (1, 1600)
      and the **last layer**: ["res5avg", ["Identity", []]], output feature shape is (1, 2048)

Maybe I sound stupid,

[2021-07-29 21:40] rcterrile commented on #373
Hey, thanks for getting back to me.  I believe this is the line for the dataset_catalog.json file:
[code]
This is the code given in the "Using the custom data in VISSL" chapter of the "Understanding VISSL Training and YAML Config.ipynb" tutorial notebook.

[2021-07-30 02:42] pranavsinghps1 commented on #373
Thanks! I was able to reproduce this error, For me, the following worked, To Solve this:
- Delete the vissl/configs/config/dataset_catalog.json file
- and use ``` save_file(json_data, "/content/vissl/configs/config/dataset_catalog.json", append_to_json=False ) ```
The save_file function in the tutorial is appending outside the JSON string and thereby rendering the file unreadable.

cc: @iseessel

[2021-07-30 14:31] QuentinDuval commented on #377
Hi @DC95,

The relation is not very direct and requires a bit of explanation indeed. The ResNet50 architecture is built upon a tower of conv layer and pooling layer that will reduce the size of your feature map (initially 100 times 100) by a factor of 32 reaching "res5" and then average pool and flatten these features at "res5avg".

So at the end you should get (1, 2048) as you noted and the featu

[2021-07-30 14:57] QuentinDuval commented on #375
Hi @amajee11us and @ashutosh1807,

I tried the following command:

[code]

The resulting checkpoint can be loaded with `torch.load` but not `pickle.load`. The corresponding file extension to load the file in `detectron2` would be `pyth` and not `pkl`.

I do not think we support the `pkl` format right now (cc: @prigoyal  to confirm).

We could add this support. Just out of curiosity, what is your m

[2021-08-02 08:55] DC95 commented on #377
Dear @QuentinDuval

Thank you for the descriptive answer.
I have tried the option of config.MODEL.FEATURE_EVAL_SETTINGS.SHOULD_FLATTEN_FEATS=False for both the layers and the output is still -
(1,1600) and (1, 2048). I don't understand why?

I have checked with the middle layers also, but it is throwing flatten outputs.

Kindly find the configuration attached -
[dcv2_juelich_85x2_FB.txt](https://g

[2021-08-02 21:31] smn57 opened #384 "Hydra 1.1.0 does not override config (wheras 1.0.6 does)"
I followed installation and starting with simclr guides on my personal computer. When I initialized the environment on a remote machine, some days later, I ran into problems. I tracked it down to hydra, which was updated 5d 9h (as of 11pm on 02.08. GMT+2) from 1.0.6 to 1.1.0 in [anaconda](https://anaconda.org/conda-forge/hydra-core).
Overrides do not happen and `cfg` stays at default values.

It w

[2021-08-03 09:47] DC95 commented on #364
Dear @QuentinDuval

From today, I have started to look deeper into the codes and management of VISSL. But I see that you have self-assigned it yourself.

Of course, you are the best person to do this job. But If I can help you in any way, I will be glad to.

In my Ph.D. research, I am using the DC_v2 model for assessing satellite images. Therefore I am keenly interested in this development.

Regar

[2021-08-03 11:51] QuentinDuval commented on #364
Hi @DC95,

Of course, please go ahead :) I assigned it to you. We would be super glad to get your contribution!

I very am sorry for the confusion (what I did is assigned it to myself temporarily, mostly because we wanted to sort out the issues and get rid of those that are "unassigned"). Sorry for that !

Please go ahead with your proposal, I would be glad to review your PR :)

[2021-08-03 11:52] QuentinDuval commented on #377
Hi @DC95,

I will have a look at that !

[2021-08-03 12:04] prigoyal commented on #384
cc @QuentinDuval who's looking at Hydra 1.1

[2021-08-03 12:08] prigoyal commented on #373
thank you @pranavsinghps1 for helping figure out the issue.

@iseessel , I think we should impose some kind of lock / check mechanism on the `dataset_catalog.json` file such that the `save_file` should be saved with `append_to_json=False` automatically or should delete the file before saving again.

[2021-08-03 13:12] pranavsinghps1 commented on #373
From what I can see at https://github.com/facebookresearch/vissl/blob/6b3add3647fef1bfde98fc6a75f51f1e6b835dde/vissl/utils/io.py#L70 we are just opening the file (without loading the JSON object), This works fine when ```append_to_json=False``` or re-writing the file as we end up with one JSON object, but when we append without loading the JSON object, we simply add to the file -- making the file

[2021-08-03 13:47] QuentinDuval commented on #384
Hi @smn57,

First of all thank you for using VISSL and raising the issue!

The short answer is VISSL does not yet support Hydra 1.1 (but it is coming !).

The longer reason is that Hydra 1.1 introduces non backward compatible change with Hydra 1.0.6 regarding the defaults list, and this requires some changes on VISSL as well as other Hydra client code.

In the meantime, you can use Hydra 1.0.6 or

[2021-08-03 17:31] QuentinDuval commented on #377
Hi @DC95,

I integrated a fix at 474a1d7c3a1373035249f5324d072b5a7a724d17 which should fix your issue.
Could you try at head?

Thank you,
Quentin

[2021-08-04 09:28] DC95 commented on #377
Dear @QuentinDuval

Thank you very much for fixing the bug so quickly and integrating it. It works well now.

We can close this now.

regards,
DC

[2021-08-04 11:47] QuentinDuval commented on #377
Awesome ! Thank you for finding the bug :)

Closing the issue :)

[2021-08-04 11:47] #377 closed

[2021-08-04 20:27] rcterrile commented on #373
Thank you for all your help, I have one more quick question regarding datasets with VISSL.  The format is like
[code]
I would just like to clarify that the folders are for labelled data? So label1 and label2 would contain different images?

[2021-08-05 07:58] pranavsinghps1 commented on #373
Yes, for more information you can check out this tutorial https://vissl.ai/tutorials/Benchmark_Linear_Image_Classification_on_ImageNet_1K#Creating-a-custom-data
Follow Vissl installation as per https://github.com/facebookresearch/vissl/issues/373#issuecomment-884983189 and https://github.com/facebookresearch/vissl/issues/373#issuecomment-885557969.
Hope this helps!

[2021-08-05 19:15] rcterrile commented on #373
Thank you very much.

[2021-08-05 19:15] #373 closed

[2021-08-06 11:25] smn57 commented on #384
Thank you for validating my assumption!

[2021-08-06 12:04] QuentinDuval commented on #384
Closing the issue (Hydra 1.1 will be coming through another issue)

[2021-08-06 12:04] #384 closed

[2021-08-11 05:33] ghalib2021 opened #396 "Bug in Benchmark Full-Finetuning on ImageNet-1K"
## Instructions To Reproduce the 🐛 Bug:

1. what changes you made (`git diff`) or what code you wrote
**At first, thanks to the author for this work.** I tried to run vissl tutorial Benchmark Full-Finetuning on ImageNet-1K on google colab. The tutorial is using old pytorch version 1.5.2+cudnn
However the current version of pytorch on google colab is different. Secondly vissl new library version 0.

[2021-08-11 18:53] iseessel commented on #396
@ghalib2021 Hi Ahmed, can you please send me what your eval_resnet_8gpu_transfer_in1k_fulltune.yaml looks like?

[2021-08-12 08:38] aiapps2020 commented on #396
@iseessel  i am also facing this issue on this example of running with SimCLR as my main objective is to train unsupervised library by your work.  I have shared the link of my colab. I have done exact same settings as above successfully installed all the libraries but still facing issue when following the exact tutorial. I hope your help me in this regard. I will be really thankful to you.
I have

[2021-08-12 14:25] iseessel commented on #396
It seems the root cause of both of the problems are that the training is not reading the configs properly.

@aiapps2020 your problem is that the config is trying to run a training on 8gpus when there is only 1 available.

@ghalib2021 your problem is that the config is not reading any of the transforms (in particular the img is not being converted to a tensor) and is erroring out.

[2021-08-12 15:07] aiapps2020 commented on #396
@iseessel  i double cross check the config file number of gpus paramter is one
also i followed the exact tutorial even downloaded the whl file exact same and make sure that there is no conflict in version. I have attached my yaml file which i downloaded and giveen the path also the google colab file. if you help me in verifying where i went wrong i will be thank ful to you
https://dl.fbaipublicfil

[2021-08-12 18:38] iseessel commented on #396
Hi there @aiapps2020 and  @ghalib2021 The issue is that hydra 1.1 is installed, which has a breaking change that causes issues with reading your configs.

Can you downgrade your hydra version to 1.0.6?

[2021-08-12 19:24] ghalib2021 commented on #396
@iseessel  Thank u very much let me try

[2021-08-12 20:14] ghalib2021 commented on #396
Thanku very much @iseessel  already can :)

[2021-08-12 20:14] #396 closed

[2021-08-19 06:55] yifu-chen-taiwan commented on #235
model = build_model(cfg.config.MODEL, cfg.config.OPTIMIZER)
model.eval() # Add this line and should correctly

[2021-08-19 13:41] DC95 opened #401 "How to get image names from idx of features extracted?"
## ❓ How to get names of images from idx of features extracted?

Dear @QuentinDuval

**Introduction -**
For evaluation of the Deepcluster_V2 model, I have tried the [benchmark of KNN ](https://vissl.readthedocs.io/en/latest/evaluations/nearest_neighbor.html) to analyze few samples from the test images which belong nearest to the train images.
Since I am not operating on labelled or class dataset (

[2021-08-19 13:58] QuentinDuval commented on #401
Hi @DC95,

The indices should correspond to the indices of the dataset, which means that you should be able to get the images like this: `dataset[index]`. This is used in the context of Cluster Fit if applied on an image folder.

One way to do this would be to use the function "get_image_paths": https://github.com/facebookresearch/vissl/blob/master/tools/cluster_features_and_label.py#L50

[code]

[2021-08-20 10:15] DC95 commented on #401
Dear @QuentinDuval

Thanks for the idea. Yes, it worked. We need to bring some more changes in the [nearest_neighbour_test.py](https://github.com/facebookresearch/vissl/blob/master/tools/nearest_neighbor_test.py) to get it done.

1. `from vissl.data import build_dataset`
2. under the main function after line 124 call the get_image_paths function
[code]

Thanks again, and I will keep knocking on th

[2021-08-20 13:09] QuentinDuval commented on #401
Hi @DC95,

Excellent, I am very glad it worked :)

CC: @prigoyal, @iseessel : I think we can make that simpler on our side and add some utilities to do so.

Closing the issue.

[2021-08-20 13:09] #401 closed

[2021-08-23 16:05] tejassp2002 opened #405 "Regarding Custom Dataset"
Hi, first of all thanks a lot for this library.

I want to use my custom dataset to train a model, and it seems from [here](https://github.com/facebookresearch/vissl/issues/197) I'll have to have my dataset in the mentioned format.

Is there any way I can use my own custom dataloader to load the dataset in the pipeline?
Example: Suppose I have a dataset of numpy files which contains images in a nu

[2021-08-24 16:26] tejassp2002 commented on #405
I'm trying [this](https://vissl.readthedocs.io/en/v0.1.5/extend_modules/dataloader.html) for now, and hence closing this issue temporarily.

[2021-08-24 16:26] #405 closed

[2021-08-29 18:25] amro-kamal opened #409 "error : "Missing key TRUNK_PARAMS full_key: config.MODEL.TRUNK.TRUNK_PARAMS" in simclr_8node_resnet.yaml"
The cfg file  simclr_8node_resnet.yaml doesn't include the key config.MODEL.TRUNK.TRUNK_PARAMS, while the library is expecting to find it. This gives me the error "Missing key TRUNK_PARAMS full_key: config.MODEL.TRUNK.TRUNK_PARAMS"

I am following this tutorial [Using a pretrained VISSL model for inference](https://colab.research.google.com/drive/1DkqGi9L47eWjA5j77EVEmbrktWBGoynN?usp=sharing)

Her

[2021-08-30 13:27] iseessel commented on #409
Hi @amro-kamal, thanks for reaching out!

What is the hydra version? Can you try to downgrade to 1.0.6? See https://github.com/facebookresearch/vissl/issues/396#issuecomment-897878465.

[2021-08-31 07:55] mayalenE opened #411 "Register custom models other than BaseSSLMultiInputOutputModel"
## 🚀 Feature
Ability to register custom models other than BaseSSLMultiInputOutputModel.

When creating a custom model, we can register new trunk and head(s) but the forward pass of the BaseSSLMultiInputOutputModel do not seem to handle all cases.

## Motivation & Examples

For instance, I would like to have the trunk receiving a single input and returning a dictionary, and a (single) head receivin

[2021-08-31 15:58] iseessel commented on #411
Hi @mayalenE thanks for the request!

We will look into implementing this. If you are interested in contributing, I think this should be relatively straight forward to do.

I would recommend following the pattern in https://github.com/facebookresearch/vissl/blob/master/vissl/trainer/train_steps/__init__.py#L22 for the `#build_model` method. https://github.com/facebookresearch/vissl/blob/master/vis

[2021-09-01 10:47] mayalenE commented on #411
Hi @iseessel and thank you for the response,

sure i'll be very happy to do that,  I will try to make a pull request soon then and come back to you if I have any troubles, let me know If you have specific good practices/guide to follow.

[2021-09-01 14:27] iseessel commented on #411
@mayalenE Great! Take a look at: https://github.com/facebookresearch/vissl/blob/master/.github/CONTRIBUTING.md, you'll have to pass the circle-ci build, which includes some tests and a linter -- here's info on how to run the linter locally. https://github.com/facebookresearch/vissl/blob/master/dev/README.md#option-3-use-python-devlint_commitpy.

[2021-09-02 09:52] mayalenE commented on #411
@iseessel Thank you I'm almost done I am just not sure about the documentation part:

Q1: Should I change the documentation? I've done small changes in the models/__init__ for the build_model() function to call any registered model (with the register_model function from classy vision).
=>  Potential changes with respect to the current documentation could happen in  vissl_modules/models and extend_

[2021-09-05 11:35] DC95 commented on #364
Dear @QuentinDuval

I managed to submit a [PR](https://github.com/facebookresearch/vissl/pull/417).

I think there was one main shortcoming in this process -

1. To take care of multi heads for the multi clustering in DC_V2

I don't know how much I have succeeded in this pr. I can definitely say It's not correct as in my case; I am giving multi clustering of num_clusters - [10,10,10]

But then, in

[2021-09-07 15:41] ananyahjha93 opened #418 "Attribute Dict cannot have keys starting with underscore"
## Instructions To Reproduce the 🐛 Bug:

1. I am calling BaseSSLMultiInputOutputModel as an API call using AttributeDict configs.

[code]
2. what exact command you run:
3. what you observed (including __full logs__):
[code]
4. please simplify the steps as much as possible so they do not require additional resources to
   run, such as a private dataset.

## Expected behavior:

This API call should

[2021-09-07 15:42] ananyahjha93 commented on #418
This is a known issue with AttrDict: https://stackoverflow.com/questions/13693888/accessing-dict-elements-with-leading-underscores-in-django-templates

[2021-09-07 17:32] QuentinDuval commented on #418
Hi @ananyahjha93,

First of all, thank you for using VISSL :)

Regarding the issue, I am not sure I understand how you concluded that we should rename "self.model_config._MODEL_INIT_SEED" to "self.model_config.MODEL_INIT_SEED".

You can make your code pass by renaming the key `"MODEL_INIT_SEED"` to  `"_MODEL_INIT_SEED"` in the `AttrDict` dictionary. Indeed, the following code should work to create

[2021-09-07 17:56] ananyahjha93 commented on #418
@QuentinDuval sorry for the confusion, I was using ``_MODEL_INIT_SEED`` in my config. Its weird that this works for you. OK like even if I do this, it fails for me

[code]

so I assumed that AttrDict is not compatible with keys starting with underscores.

[2021-09-07 19:05] QuentinDuval commented on #418
Hi @ananyahjha93 !

Ok, so the issue is probably due to the import:

[code]

We have our own `AttrDict` class :)

Could you try that this works fine?

[2021-09-08 04:24] ananyahjha93 commented on #418
@QuentinDuval thanks, that makes sense, I went through the code of the original AttrDict and found that they do not support keys starting with an underscore because of a regex. Thanks for helping out!

[2021-09-08 04:24] #418 closed

[2021-09-08 14:17] iseessel commented on #411
Hi @mayalenE sorry for the delay.

Yup a documentation change would be great. The docs are source controlled in the same repo. See for example `models.rst`

[2021-09-09 08:15] muzi-8 opened #422 "Errors occurred when running the official example"
## 📚 VISSL Documentation

I am a newbie to vissl.
1) When i run the example (Understanding VISSL Training and YAML Config
 [https://vissl.ai/tutorials/Understanding_VISSL_Training_and_YAML_Config](url))
Encountered the following error:
RUN:
!python3 run_distributed_engines.py \
    hydra.verbose=true \
    config=supervised_1gpu_resnet_example \
    config.DATA.TRAIN.DATA_SOURCES=[disk_folder] \

[2021-09-09 13:20] DC95 commented on #364
Dear @QuentinDuval

If you may suggest any comments or improvements that you would like in this PR.
Kindly mention so that I can work specifically in that direction.

regards,
DC

[2021-09-13 13:55] iseessel commented on #422
Hi @muzi-8 -- what is the hydra version?

`pip list`

Can you make sure it is <=1.0.7?

BTW -- we are in process of fixing these tutorials.

[2021-09-14 12:02] matteopilotto commented on #422
Hey @iseessel,
Thanks for the help.
I was having the same issue on a different tutorial notebook and downgrading hydra solved the issue.

[2021-09-16 02:21] muzi-8 commented on #422
Hi @iseessel ,
Thanks very much!
The problem is indeed caused by the improper version of the hydra library.
It is recommended that the official document can explain the operating environment more clearly
Have a nice day！

[2021-09-16 05:00] pdmct commented on #422
At least one issue with using hydra-core 1.1.1 (which is installed by default if you follow the installation guide - install.md) seems to be that the TRANSFORMS are not loaded and end up empty.
for example from the tutorial:
[code]

[2021-09-16 08:57] DC95 opened #423 "How to get names of images from idx of indexes_all in DC_V2?"
## ❓How to get names of images from IDX of indexes_all in DC_V2?
Dear @iseessel, @QuentinDuval

**Introduction -**

Since the deepclusterv2_loss.py uses only [loss_config](https://github.com/facebookresearch/vissl/blob/master/vissl/losses/deepclusterv2_loss.py#L84) therefore I cannot use what is suggested in #401. #401 uses other pieces of information from the main_config, for example, such as sel

[2021-09-16 13:24] iseessel commented on #423
Hi there @DC95 -- I do agree it would be hard to extract the image names for the clusters while they are training.

However, it is easy to do so after the fact. You can use https://github.com/facebookresearch/vissl/issues/401 to save the image_paths, e.g. after this is called: https://github.com/facebookresearch/vissl/blob/87ef9a19c193dc91add9dd56bee1b9b701693672/vissl/data/ssl_dataset.py#L313

Th

[2021-09-16 13:27] DC95 commented on #423
I have images in a folder (Train and Test separate) and I register them in dataset_catalog.json. So I think it's the Disk folder.

[2021-09-16 16:44] iseessel commented on #423
Got it -- then the above should work -- let me know if I'm not being clear!

[2021-09-16 17:01] jshaffer94247 opened #424 "Example notebook Using_a_pretrained_model_for_inference error with TRUNK_PARAMS"
## Instructions To Reproduce the 🐛 Bug:
Example notebook **Using_a_pretrained_model_for_inference** does not run in my local environment. If downloaded as-is, the first crash occurs with the line
`model = build_model(cfg.config.MODEL, cfg.config.OPTIMIZER)`
which reports the error
[code]

## What seems to be wrong and my suggestion for how to fix it
* Both pip and conda will install v0.1.5, but th

[2021-09-16 18:37] iseessel commented on #422
Hi yes, we don't support Hydra 1.1 currently -- we will have support for it in our upcoming release, including fixing the tutorials.

Please use 1.0.7 for now! Sorry for the inconvenience everyone :).

[2021-09-17 13:43] iseessel commented on #424
Hi @jshaffer94247 yes you are right about all of this. We are going to be cleaning up the tutorials and specifically the versioning in our next minor release.

[2021-09-20 11:41] DC95 commented on #423
Dear @iseessel,

As suggested by you, I looked into the [file](https://github.com/facebookresearch/vissl/blob/87ef9a19c193dc91add9dd56bee1b9b701693672/vissl/data/ssl_dataset.py#L313). But I have some questions-

- What I understood is that self._load_labels() (line 313) is meant for loading labels (if the dataset has one).

- But maybe I didn't tell you before -

1. I have unlabelled satellite ima

[2021-09-20 14:23] iseessel commented on #401
Something like the following should work:

[code]

[2021-09-20 14:23] iseessel commented on #423
Something like the following should work:

[code]

This file loads the images and optionally the labels if you have them.

[2021-09-20 14:24] DC95 commented on #423
Thanks, let me try :)

[2021-09-20 18:26] DC95 commented on #423
Dear @iseessel

I am sorry to report but,

I have tried both-
`save_file(self.label_paths, "/path/to/label_path.txt")` (txt file attached)
and
`save_file(self.data_paths, "/path/to/data_path.txt")` (txt file attached)

with self.label_paths it's coming as an empty list and more lists than no. of training files.

**Kind note** - If I use self.label_paths **()** then it's giving TypeError: 'list' ob

[2021-09-20 19:33] cmranieri commented on #359
The same problem happens when trying to run the Google Colab notebooks...

[2021-09-20 22:13] iseessel commented on #423
Sorry I had a typo in my original. Can you try something like:

[code]

[2021-09-21 19:43] DC95 commented on #423
Dear @iseessel

I followed your suggestion but -

1. In disk_dataset.py, line [139](https://github.com/facebookresearch/vissl/blob/87ef9a19c193dc91add9dd56bee1b9b701693672/vissl/data/disk_dataset.py#L139)-
`image_path = self.image_dataset[idx]` has information like - _(<PIL.Image.Image image mode=RGB size=128x128 at 0x2B69DB5866A0>, 0)_ for each image but this does not contain information like I t

[2021-09-21 20:01] iseessel commented on #423
@DC95 Can you post the config you are training + your dataset catalog + the code you are using to save the cluster assignments + indexes above.

#2 -> Can you be more specific. What do you mean by this?

#3 -> You need to call this only once. You can use something like self.saved_results

#4 -> Yes that is correct. I would recommend saving the assignment indexes, not in the order in which they are

[2021-09-21 20:53] DC95 commented on #423
Hi @iseessel,

I am posting the files asked by you

- JSON file, YAML file, .py file can't be uploaded here that's why I am attaching in txt format.
- I am doing some changes in the deep cluster_v2 loss to have the assignment and the indexes dumped.
Like in deepclusterv2_loss.py changed part is shown like this -
[code]
-  can't be posted here so attaching txt version

More explanation about point

[2021-09-22 22:07] iseessel commented on #423
Thanks for the info @DC95!

I was able to get my hands dirty and this is what I found that works -- check this commit: https://github.com/iseessel/vissl/commit/da35a50113feb16884e9a87d72e4ebb27a4bd75d

The indexes of `samples.npy` should match the indexes of the assignments.

Re:

[code]

This should not be happening and I was unable to repro it with a test dataset of 100 train and test images. Fo

[2021-09-23 19:40] DC95 commented on #423
Dear @iseessel

Thanks for jumping into the mud. I agree that the commit works nicely specially the line`save_file(self.image_dataset.samples, "/private/home/iseessel/samples.npy")` .
I am attaching the output `sample. npy` in zip

[samples.zip](https://github.com/facebookresearch/vissl/files/7220170/samples.zip)

I have one thing to ask -
- if I see the positional order in which images names are

[2021-09-23 19:44] iseessel commented on #423
Yep you are right -- they do match!

[2021-09-23 19:54] DC95 commented on #423
Well, then the journey of finding image_names, indexes, and assignments comes to an end, I see. Thanks, @iseessel, very much for the constant support.

Cheers,
DC

[2021-09-23 20:11] iseessel commented on #423
feel free to open back up if any probs!

[2021-09-23 20:12] #423 closed

[2021-09-28 06:30] david9ml commented on #292
Any conclusion on this issue for simple inference ?

[2021-09-29 18:31] Pedrexus commented on #323
Hello, folks. Is there an update on logging validation losses?

[2021-09-30 07:59] as3895 opened #430 "Possibility of adding weights *AFTER* Imagenet fine-tuning?"
## 🚀 Feature
Sharing weights **after** the networks have been fine-tuned on ImageNet.

## Motivation & Examples

Currently, the repo lists the models and reports their corresponding ImageNet top-1 accuracy. Though, they do provide the scripts to fine-tune a specific model on ImageNet it would be immensely helpful to the community if the weights **after** the fine-tuning are also available.
FIne-tu

[2021-09-30 12:37] doulemint opened #431 "TypeError: register_transform() got an unexpected keyword argument 'bypass_checks'"
1.run command
[code]
full log:
[code]

## Expected behavior:
I add sys.path.insert(0,'/content/vissl') in order to import from vissl.config import AttrDict
but using vissl library from the current github code rather than visssl library from pip install leads to this **TypeError** happen.
it seems has inconsistency issue between the current github code and pip-installed version

### Environment:

[

[2021-09-30 13:09] doulemint commented on #431
Does anyone try to run tools/nearest_neighbor_test.py?

[2021-09-30 20:29] prigoyal commented on #304
Hi @doulemint , thank you for reaching out. The classy vision `master` branch was renamed to `main`. Could you try with that? Our installation instructions are updated to reflect the changes. https://github.com/facebookresearch/vissl/blob/main/INSTALL.md#step-4-install-vissl :)

[2021-09-30 20:30] prigoyal commented on #431
Hi @doulemint , this is coming due to classy vision, can you `pip uninstall classy_vision` and install using the steps https://github.com/facebookresearch/vissl/blob/main/INSTALL.md#step-4-install-vissl ? the change is that master branch was renamed to main recently.

[2021-09-30 20:31] prigoyal commented on #430
thank you for reaching out. We will look into this request. cc @iseessel if this can be included as part of next vissl release to update the model zoo.

[2021-10-01 03:18] doulemint commented on #431
Ok. It's finally able to run. Save my life, thank you.

[2021-10-01 03:18] #431 closed

[2021-10-02 17:21] yxchng opened #432 "Can this repo be used to reproduce transfer learning performances detailed in SimCLR, BYOL and NNCLR?"
It seems like this repo can reproduce transfer learning results in MoCo, SwAV, SimSiam, Barlow Twins and VICReg but has large gap compared to those done in SimCLR, BYOL and NNCLR.

This figure details results aligned with those published in SimCLR, BYOL and NNCLR papers (taken from NNLCR paper):
<img width="1237" alt="Screenshot 2021-10-03 at 1 00 45 AM" src="https://user-images.githubusercontent.

[2021-10-03 10:19] yxchng opened #433 "How to run linear evaluation on VOC07? I am getting errors trying to run it."
I want to run linear evaluation on VOC07 using this script https://github.com/facebookresearch/vissl/blob/main/configs/config/benchmark/linear_image_classification/voc07/eval_alexnet_8gpu_transfer_voc07_svm.yaml. However, it is giving me errors.

## Instructions To Reproduce the Issue:

1. run using the command
[code]

3. __full logs__ you observed:
[code]

## Expected behavior:

Run without error

[2021-10-04 07:37] yxchng commented on #305
@prigoyal Seems like the migration has not been done? I am also getting lots of these messages

[2021-10-04 16:47] prigoyal commented on #433
Hi @yxchng , thank you for reaching out. On VOC07, please use the https://github.com/facebookresearch/vissl/blob/main/tools/train_svm.py instead of `run_distributed_engines.py`. We also provide documentation on this benchmark here https://vissl.readthedocs.io/en/latest/flowcharts/svm_workflow.html. Hope this helps! :)

[2021-10-04 17:27] prigoyal commented on #432
Hi @yxchng , thank you for reaching out. The short answer to your question is yes. Note that the benchmarks on caltech, pets etc are new and every paper uses different hyperparams of their own. In VISSL, we repro numbers on Caltech, food, dtd etc and match them for RN50 model (for instance) with the CLIP https://arxiv.org/pdf/2103.00020.pdf and VTAB https://arxiv.org/pdf/1910.04867.pdf benchmarks.

[2021-10-05 04:40] doulemint opened #434 "I got error when I run clusterfit"
I'm trying to rerun clusterfit on the imagetnet1k dataset.

I directly use pretrain config file. Here are my common line
`
!python tools/run_distributed_engines.py \
    config=pretrain/clusterfit/cluster_features_resnet_8gpu_imagenet \
    config.CHECKPOINT.DIR="./checkpoints_feature" \
    config.DISTRIBUTED.NUM_NODES=1 \
    config.DISTRIBUTED.NUM_PROC_PER_NODE=1 \
    config.MODEL.WEIGHTS_INIT

[2021-10-05 04:57] doulemint commented on #434
probably Because I used imagetnet-mini. it doesn't have enough images.. because the clusterfit needs 16k clusters, the pretrain model can not fit a small-sized dataset?

[2021-10-05 05:13] doulemint commented on #434
I tried to run on cpu to see what caused this issue. And it gave me a new error. hope this one will help :

`INFO 2021-10-05 05:09:39,189 trainer_main.py: 323: Phase advanced. Rank: 0
INFO 2021-10-05 05:09:39,190 state_update_hooks.py: 113: Starting phase 0 [train]
task lossssssssssssssssssssssssssssssssssssssssssssssssssssssssssssss: torch.Size([32, 2048]) torch.Size([32])
Traceback (most recent

[2021-10-05 08:59] amitbcp opened #435 "Update default Binaries"
Hi Team,

It seems the last pre-built binary was cut in March and since then a lot of things have been added and fixed in the repo. Maybe we can have a new pre-built binary.

Also all the installation doc says to used Cuda 10, any particular reason or should it work smoothly for coda 11 its respective pytorch version ?

[2021-10-05 15:54] yxchng commented on #433
OK. Thanks. It works now.

[2021-10-05 15:54] #433 closed

[2021-10-05 16:03] yxchng commented on #432
How do I do 11-point MAP in VOC07? This is done in the first figure, aside from using different train-val split.

[2021-10-05 20:36] prigoyal commented on #435
Hi @amitbcp , thank you!
- yes, @iseessel is driving the work on upgrading the packages.
- it should work with CUDA 11. Please let us know if you encounter any issues.

[2021-10-05 21:48] iseessel commented on #435
Hi @amitbcp yes we should support all versions of cuda that are compatible with pytorch. Note that we do not yet fully support Pytorch 1.8.1, 1.9.0, or 1.9.1.

Support for these should be coming early next week at the latest. A new minor release of vissl, accompanied by new prebuilt binaries should be coming by the end of this month.

[2021-10-09 13:16] yxchng opened #446 "Do I have to sync both `base_value` and `values` manually in config?"
[code]

In param_schedulers, we have `base_value` and `values` that controls the learning rate. Do I have to change both when I change learning rate? What will happen if the first value in `values` and `base_value` are different? For example, if I want a learning rate of 0.005, do I have to sync them manually by changing both `base_value` to 0.005 and `values` to [0.005, 0.0005, 0.00005, 0.000005]

[2021-10-11 23:19] iseessel commented on #292
Okay, so I believe the issue is that this tutorial: https://github.com/facebookresearch/vissl/blob/main/tutorials/Using_a_pretrained_model_for_inference.ipynb extracts the last layer of the resnet-50 (It is common to extract these features to train a linear model on for example or to use KNN in image retrieval).

Those in this thread have *fine-tuned* a model and are wanting to load the *full mode

[2021-10-11 23:19] #292 closed

[2021-10-11 23:31] #329 closed

[2021-10-11 23:33] #360 closed

[2021-10-11 23:35] #446 closed

[2021-10-12 19:40] #365 closed

[2021-10-13 08:47] rgeirhos opened #452 "ClusterFit model: cluster_features_resnet_8gpu_rotation_in1k missing"
## 📚 VISSL Documentation

In the documentation for training ClusterFit (https://vissl.readthedocs.io/en/v0.1.5/ssl_approaches/clusterfit.html?highlight=clustering#how-to-train-clusterfit-model), step 1 ("Extract features") requires the following config file: config=pretrain/clusterfit/cluster_features_resnet_8gpu_rotation_in1k. However, there is no such file at https://github.com/facebookresearch/

[2021-10-13 15:12] rgeirhos commented on #452
Hi @QuentinDuval, thanks for your fast & helpful reply!

 From my side, please feel free to either close this issue or leave it open until the docs are updated :)

[2021-10-13 15:35] 5agado commented on #328
@iseessel I tried to install from source, but then not only Dino still doesn't work, but resnet_simclr also stops working.

First of all the 'init_model_from_weights' method used in all notebooks and examples doesn't exists anymore, I assume it needs to be replaced with 'init_model_from_consolidated_weights'.

But even after that, I simply get an Assertion error

[code]

Would be nice to have at l

[2021-10-13 16:53] 5agado commented on #328
@iseessel no worries, I understand that you are in the process of updating the setup, so thanks again for the feedback and info.

For Dino I had to install from source as you suggested, the pip installed vissl==0.1.5 didn't work otherwise.
Then just added that single line fix and all seems to work now.

Feel free to close the issue :)

[2021-10-13 18:32] #452 closed

[2021-10-16 14:52] prigoyal commented on #446
Hi @yxchng, I think there's some confusion. You only need to set the `auto_scale=True` and `base_value`. The `values` will then be automatically scaled and you don't need to do anything. Can you share what behavior you are observing and what you want to achieve? I can help figure out the settings.

[2021-10-16 15:16] prigoyal commented on #315
Based on the responses above and the report from @doulemint , it looks like this benchmark reproduces numbers . Please free to reopen the task if that's not the case still.

Also, as a follow-up, we will look into providing the clarification for the learning rate scaling feature in VISSL in our docs, code comments etc. :)

[2021-10-16 15:16] #315 closed

[2021-10-17 04:34] yxchng commented on #446
@prigoyal Sorry, maybe I was not being too clear. What I wanted to clarify is what happens if the `base_value` and the first number in `values` do not match? For example, in the config below, I have `base_value` being `0.01` and first number in `values` being `0.02`. Which takes precedence?

[code]

I am confused because there are two sets of learning rates. One being the `base_value`. The other b

[2021-10-17 05:17] robin-karlsson0 opened #453 "Error launching multi-node jobs using MPI"
Hi. Does anyone know the correct way to launch VISSL jobs using MPI on a supercomputer with multiple nodes/machines without SLURM?

Use case: 2 nodes w. 4 GPUs each

As far as I understand, the issue seems to be that instead of a **single** master node w. rank 0, **8 separate** rank 0 nodes and 4 processes seem to be spawned. Is my launch script incorrect? Is there some conflict between the MPI an

[2021-10-17 17:04] iseessel commented on #315
@prigoyal Sorry to cross wires here -- I've actually been looking into this -- see below and lmk if you have anything to add.

Hi @spurra + @doulemint,

I was able to reproduce your 1-gpu numbers, as well as our reported 8-gpu numbers. See below for the full results. These represent the best reported accuracy for train/test for each layer. As a side note, I believe the lr appears to be zero becaus

[2021-10-17 17:17] prigoyal commented on #315
thank you @iseessel for the debugging and for all the data points above. We expect the results to reproduce between the 8gpu and 1gpu accounting for all the differences you spotted (sync BN etc).
With that said, I will take this task on further from here, as it's important to understand this further for our research. Thank you for your efforts on this. All above data points are helpful.

[2021-10-19 16:10] #453 closed

[2021-10-21 17:00] iseessel commented on #304
@bridgeqiqi The tutorials have a few problems right now, I am working on fixing them and will release ASAP.

[2021-11-02 13:11] sarmientoj24 opened #466 "How to extract ResNet-50 from open-mmlab://detectron2/resnet50_caffe and pre-train it?"
Already saw how to use a custom dataset. I was just wondering if I ever need to extract ResNet-50 from that or is it already resnet-50 and I can already use it for pre-training?

[2021-11-02 14:07] iseessel commented on #466
Hi @sarmientoj24 -- thanks for reaching out! I am not sure I entirely understand the question -- can you elaborate on what your goal is?

To use detectron2 model weights, you'll have to convert them to be VISSL compatible: We have a script for this -- \see https://vissl.readthedocs.io/en/v0.1.5/compatibility_libraries.html?highlight=detectron2#converting-caffe2-models-vissl.

To use a resnet-50 ar

[2021-11-02 14:59] sarmientoj24 commented on #466
@iseessel Thank you for the response! Appreciate it. Great library!

My goal is to use the pre-trained weights from mmdetection (ResNet-50 Caffe model, which I am using for Semi-Supervised Learning). Below is the config from mmdetection. But it seems like it is from Detectron2 as well.

[code]

This guide looks pretty neat:

Although I was wondering how do I put it back as Caffe since I shall be u

[2021-11-02 15:23] iseessel commented on #466
[code]

@sarmientoj24 Yep that looks correct to me!

[code]

You should be able to load it directly, assuming it is a torchvision model. See this tutorial: https://vissl.ai/tutorials/Benchmark_Linear_Image_Classification_on_ImageNet_1K_V0_1_6 where we load a torchvision model.

We offer pretty direct logs that will tell you which model weights were loaded. See the above tutorial and specifically t

[2021-11-02 17:25] iseessel commented on #435
Hi @amitbcp we have released a new version of VISSL.

See our release notes for how to update: https://github.com/facebookresearch/vissl/releases/tag/v0.1.6.

[2021-11-02 17:25] #435 closed

[2021-11-02 17:32] iseessel commented on #424
Hi @jshaffer94247 sorry for the delay, but all of our tutorials are now fixed and in working order.

You can see: https://vissl.ai/tutorials/Using_a_pretrained_model_for_inference_V0_1_6.

[2021-11-02 17:32] #424 closed

[2021-11-02 17:34] iseessel commented on #422
Hi @muzi-8 @matteopilotto @pdmct we have released a new version of VISSL, along with fully-functioning tutorials!

Please see: https://vissl.ai/tutorials/Understanding_VISSL_Training_and_YAML_Config_V0_1_6.

Thank you!

[2021-11-02 17:34] #422 closed

[2021-11-02 17:35] iseessel commented on #411
We have added this here: https://github.com/facebookresearch/vissl/pull/416, as well as documentation here: https://vissl.readthedocs.io/en/v0.1.6/extend_modules/models.html#adding-new-base-model.

We only suggest adding a new base model if adding a new TRUNK or new HEAD does not work with your use-case.

[2021-11-02 17:35] #411 closed

[2021-11-02 17:36] #364 closed

[2021-11-02 17:37] iseessel commented on #432
Let me know if I should re-open this, but I'm going to close for now. @yxchng

[2021-11-02 17:37] #432 closed

[2021-11-02 17:38] iseessel commented on #409
We have released a new version of VISSL that should have fixed this: https://github.com/facebookresearch/vissl/releases/tag/v0.1.6

[2021-11-02 17:38] #409 closed

[2021-11-02 17:38] #375 closed

[2021-11-02 17:39] iseessel commented on #359
Closing as can't repro + haven't heard from user in awhile. @youyeg Let me know if you are still having this issue!

[2021-11-02 17:39] #359 closed

[2021-11-02 17:39] iseessel commented on #351
Closing this because we haven't heard back in awhile. @marcomameli1992 let us know if you want us to re-open/need any additional guidance!

[2021-11-02 17:39] #351 closed

[2021-11-02 17:40] iseessel commented on #340
@312shan Let us know if you want me to re-open this!

[2021-11-02 17:40] #340 closed

[2021-11-02 17:41] iseessel commented on #337
@duane-edgington @pranavsinghps1 We have updated the tutorial to be in working order: https://vissl.ai/tutorials/Train_SimCLR_on_1_gpu_V0_1_6 in our latest vissl release: https://github.com/facebookresearch/vissl/releases/tag/v0.1.6

[2021-11-02 17:41] #337 closed

[2021-11-02 17:42] iseessel commented on #330
Hi @petteriTeikari We have added this here: https://github.com/facebookresearch/vissl/pull/448, as well as some documentation here: https://vissl.readthedocs.io/en/v0.1.6/vissl_modules/meters.html.

[2021-11-02 17:42] #330 closed

[2021-11-02 17:44] iseessel commented on #297
ConViT released in latest release: https://github.com/facebookresearch/vissl/releases/tag/v0.1.6.

Documentation is here: https://vissl.readthedocs.io/en/v0.1.6/ssl_approaches/vision_transformers.html?highlight=convit#convit

[2021-11-02 17:44] #297 closed

[2021-11-02 17:46] iseessel commented on #304
Hi @bridgeqiqi @antal-horvath  and @doulemint We have fixed the docker containers and the tutorials in our latest release: https://github.com/facebookresearch/vissl/releases/tag/v0.1.6

Please checkout https://vissl.ai/tutorials/.

[2021-11-02 17:46] #304 closed

[2021-11-13 17:23] CharlieCheckpt opened #469 "Bug in the architecture of ResNet-50-w2"
Hi vissl team ! Thank you for the great package.

I  got a dimension error when running the example from the [documentation](https://vissl.readthedocs.io/en/v0.1.6/ssl_approaches/moco.html) to train MoCo with ResNet-50-w2 (2x wider ResNet-50).

This error seems to be due to a bug in the architecture of ResNet-50-w2. Indeed I compared it with the architecture of torchvision.models.wide_resnet50_2 a

[2021-11-14 20:23] CharlieCheckpt opened #470 "CPU OOM when resuming training from a given checkpoint"
Hi,

I tried to resume the training of a mocov2 experiment from a given checkpoint, but got a CPU OOM .
This is weird because I did not encounter this issue in the initial run, and I have the exact same resources.
It seems linked to #235 but I couldn't find a way to make it work.
Do you have any idea what can cause this ? And how to solve it ?

## Instructions To Reproduce the 🐛 Bug:
1. what chang

[2021-11-18 17:10] miriamrebekah opened #471 "training on multiple datasets at once breaks"
I'm trying to train on two datasets at once. I'm using npy file list files for my datsets. Is training on multiple datasets at once supported? I put both in my config file, but I just keep getting this tensor error:

[code]

My config looks like this:
[code]

[2021-11-19 11:46] Pedrexus commented on #471
I am also seeing this error on any training I try with `simclr_info_nce_loss` or `multicrop_simclr_info_nce_loss`. It happens on the first epoch, likely when it is close to finishing.

[code]

[2021-11-20 00:11] Pedrexus commented on #471
After looking at how the loss is implemented, I believe to have found the reason. The tensor "a" is simply an unfinished batch, so you might have to remove these extra images or change the batchsize.

I have 386032 images, 8 GPUs, batchsize = 64.

Thus, on my case you can see that

[code]

[2021-11-20 07:07] sarmientoj24 opened #472 "Questions about labels in SSL and VISSL"
I would be pretraining a ResNet-50 backbone using VISSL for **object detectionI**. I saw from the custom dataset that you have to incorporate labels within your data.

**Questions:**
1. For a downstream task of object detection, what do these labels entail?
2. My intuition with SSL is that there are no labels required that's why it is SSL. But what are these labels for?
3. And what is the `lbl_pat

[2021-11-20 07:11] sarmientoj24 opened #473 "The difference between DATASET_NAMES, DATA_SOURCES, DATA_PATHS, and LABEL_SOURCES"
I saw this config for training in VISSL. But I cannot determine the difference between these parameters. For example, what does the `imagenet1k_folder` look like, or have? What does `disk_folder` have and mean? Same as DATA_PATHS.

[code]

[2021-11-20 08:11] sarmientoj24 commented on #466
@iseessel
Seems like `convert_caffe2_to_torchvision_resnet.py` can only take `.pkl` files and not `.pth`. I downloaded the Caffe2 Detectron model (`.pth`) from here and it doesn't work.

There is a `.pkl` weights file for that mmlab detectron2 caffe model here https://dl.fbaipublicfiles.com/detectron2/ImageNetPretrained/MSRA/R-50.pkl

This one works with your converter. However, after using ViSSL,

[2021-11-21 21:02] DianCh opened #474 "Questions on constructing pairs with distributed batch size in SimCLR"
Hi! From the original SimCLR paper the performance benefits from large batch size, i.e., a large number of negative pairs for the NT-Xent loss:
<img width="527" alt="Screen Shot 2021-11-21 at 12 52 27 PM" src="https://user-images.githubusercontent.com/32043460/142778590-48869f8f-f593-452d-8abf-1cae36fbd378.png">

however, when we run training with DDP, the batch is divided into K sub-batches and t

[2021-11-22 15:13] iseessel commented on #472
The

**1. For a downstream task of object detection, what do these labels entail?**

We use Detectron2 (https://github.com/facebookresearch/detectron2) for object detection. I'd recommend taking a look at their repo/docs in addition to ours (https://vissl.readthedocs.io/en/v0.1.6/evaluations/object_detection.html?highlight=detection#benchmark-task-object-detection):

**2. My intuition with SSL is

[2021-11-22 15:16] iseessel commented on #466
Glad the `.pkl` worked.

To convert back to detectron2, you can follow this: https://vissl.readthedocs.io/en/v0.1.6/evaluations/object_detection.html?highlight=object%20detection#benchmark-task-object-detection

[2021-11-22 15:21] iseessel commented on #474
Hi @DianCh we all_gather the embeddings from each distributed rank: https://github.com/facebookresearch/vissl/blob/main/vissl/losses/simclr_info_nce_loss.py#L139.

Our [config](https://github.com/facebookresearch/vissl/blob/main/configs/config/pretrain/simclr/simclr_8node_resnet.yaml) has 64 batchsize per gpu, 8 gpus, and 8 nodes, which is a global batchsize of 4096.

[2021-11-22 15:23] iseessel commented on #473
I would recommend looking at our docs: https://vissl.readthedocs.io/en/v0.1.6/vissl_modules/data.html?highlight=Data#using-data and some of our tutorials: https://vissl.ai/tutorials/Feature_Extraction_V0_1_6.

imagenet1k folder should have following structure:

[code]

[2021-11-22 15:24] iseessel commented on #470
@CharlieCheckpt
I will try to repro this and get back to you. As I'm sure you know these memory issues are hard to debug, so I would recommend as a short-term solution requesting more RAM if possible.

[2021-11-22 17:35] sarmientoj24 commented on #472
Are these `List[str]`? And is it a pickled numpy object saved through `np.save(...)`?

Is the format for `imagenet1k_filelist` the same as `disk_filelist`?

[2021-11-22 19:09] iseessel commented on #472
Yes that's all correct. Filelists can either be List[str] or List[int]. For example:

[code]

[2021-11-23 09:26] DianCh commented on #474
Thank you @iseessel ! It's great to know that your gather implementation doesn't cut off the gradient, which I think answers exactly the main issue.

[2021-11-23 09:26] #474 closed

[2021-11-24 16:18] iseessel commented on #469
@CharlieCheckpt Thank you for bringing this to our attention!

After doing some digging, it seems like there may be some differences in the wide architectures. The wide architecture introduced: https://arxiv.org/abs/1605.07146 indeed only doubles the width of the residual layers and not the conv1.

But I have seen official checkpoints that also doubles the width of the conv1 layer. See for example

[2021-11-24 17:53] prigoyal commented on #471
@iseessel , will you be able to take a look at this ? :)

[2021-11-24 17:58] prigoyal commented on #469
agree with above. It might best best to extend the resnext code in vissl to support different versions i.e. "wide_resnet50_2" as in https://github.com/pytorch/vision/blob/main/torchvision/models/resnet.py#L20

[2021-11-24 18:00] prigoyal commented on #470
you can also try
1) lowering the #dataloader workers
2)  use MMAP when loading data

[2021-11-24 19:16] iseessel commented on #471
Hi @miriamrebekah It should be supported. While I investigate, as a temporary solution, would you be able to create one filelist and entry in your dataset_catalog that has both datasets?

@Pedrexus Are you using config.DATA.TRAIN.DROP_LAST=True like in `simclr_8node_resnet.yaml` ?

[2021-11-24 22:03] Pedrexus commented on #471
Hello @iseessel.

Yes, I have DROP_LAST set to true, but it keeps giving me the same error. For now, I manually removed the extra images from the `.npy` file.

<details>
  <summary>Here is a sample of the config I've been testing with</summary>

[code]

</details>

[2021-11-24 23:16] iseessel commented on #471
@Pedrexus Is this the same config you had those errors with -- as this has DATA.TRAIN.DROP_LAST=False and  DATA.TEST.DROP_LAST=False

[2021-11-25 00:01] Pedrexus commented on #471
Indeed I tested with a different config and forgot to update the right one. I just retried with DATA.TRAIN.DROP_LAST=True and DATA.TEST.DROP_LAST=True and it worked fine! No error!

Thanks for all your help!

[2021-11-26 07:08] pranay-ar commented on #197
Hi, I am confused as to what would be the kind of file for labels be in "<lbl_path>." Is it a .csv file with the file path corresponding to its labels or is it something else?

[2021-11-29 10:41] CauchyFood opened #476 "How can i use the quick_simclr_2node.yaml get the RuntimeError: Expected tensor for argument #1 'input' to have the same device as tensor for argument #2 'weight'; but device 0 does not equal 2 (while checking arguments for cudnn_convolution)"
## Instructions To Reproduce the 🐛 Bug:

I only use the quick_simclr_2node get the error about that:
[code]
How can I resolve this question?

FYI:
[code]

[2021-11-29 18:48] iseessel commented on #476
@CauchyFood Can you please confirm that you are running this on command on 2 nodes, each with 8gpus per node (that is 16-gpus in total)? This command will fail otherwise.

If you are indeed running on 2 nodes + 8gpus per node, can you please post the full log.txt + the system information.

[code]

[2021-11-30 14:43] Pedrexus opened #478 "How to do Supervised Contrastive Learning?"
Hello, everyone.

## ❓ How to do Supervised Contrastive Learning using VISSL

Is there a way to perform [Supervised Contrastive Learning](https://arxiv.org/abs/2004.11362) in VISSL? Basically, I'd like to use the classes I already have as "positives" instead of generating them automatically.

I found the comment below when looking through the code and on the [docs](https://vissl.readthedocs.io/en/

[2021-12-01 00:25] iseessel commented on #478
Hi @Pedrexus, we don't support [Supervised Contrastive Learning](https://arxiv.org/abs/2004.11362), but based on a quick read of it, I think all that is required is adding a custom loss function.

The loss is a function of the mini-batch and the targets.

You can see how to do that here: https://vissl.readthedocs.io/en/v0.1.6/extend_modules/losses.html.

I also found a pytorch implementation here:

[2021-12-02 15:14] markbarna opened #479 "Training multi-output head on frozen trunk"
Hello,

I'm trying to use a pre-trained XCiT trunk to train 3 parallel heads for a multi-output image classification problem. Basically, I have images that need to be classified across three categories (so each image will receive three labels--one from each head).

I have set up my configuration (pasted at the bottom) to contain three mlp heads for three, four, and three label classes, respectivel

[2021-12-03 15:05] blazejdolicki opened #480 "Training in multi-node GPU setup doesn't work"
## Instructions To Reproduce the 🐛 Bug:

1. what changes you made (`git diff`) or what code you wrote
I'm trying to run an example pretraining script (simclr, synthetic dataset) on SLURM with multi-node setup. It works for single-node, but doesn't with multi-node. I installed vissl with conda according to the instructions in "Get started". Here's the job script "train_nct_conda_vissl.job" that I r

[2021-12-04 21:01] iseessel commented on #480
Hi @blazejdolicki , glad to hear your using VISSL with SLURM!

I would recommend using our [slurm launch](https://github.com/facebookresearch/vissl/blob/main/dev/launch_slurm.sh) script if possible. See our docs on it here: https://vissl.readthedocs.io/en/v0.1.6/train_resource_setup.html#train-on-slurm-cluster.

More specifically, I think your issue is due to not specifying the node_id for each no

[2021-12-07 09:02] blazejdolicki commented on #480
Thank you for your swift response. Below I've summarized my developments and thought process. I haven't used multi-node setups before so my apologies if the root of the problem is some basic mistake in my understanding of the setup.

## Setting config.SLURM.USE_SLURM=true

I managed to get the above simple example working with the second method you proposed i.e. running a shell script in the termi

[2021-12-07 18:01] iseessel commented on #480
[code]
Can you expand upon what you mean by this?

[code]

I am not sure I am fully understanding this. Why does this happen? If you don't set `config.SLURM.USE_SLURM=true`, you should be running `run_distributed_engines.py` on the cluster for each node.

[code]
This really is a SLURM question. See e.g. [this](https://stackoverflow.com/questions/52117145/slurm-job-script-for-multiple-nodes) or the

[2021-12-07 20:28] iseessel commented on #480
For this question:

[code]

You could also try replacing AutoExecutor with SlurmExecutor or adding cluster keyword: https://github.com/facebookincubator/submitit/blob/main/submitit/auto/auto.py#L48 (Assuming you are building VISSL from [source](https://github.com/facebookresearch/vissl/blob/main/INSTALL.md)).

Do you have the SLURM cli installed in your image? If so can you install it? See for ex.

[2021-12-08 20:40] miriamrebekah commented on #480
@blazejdolicki would you be willing to share your requirements.txt for your environment? I'm trying to set my environment up with 3.8 but only have a 3.7 environment set up right now.

[2021-12-09 14:20] miriamrebekah commented on #471
Yes, I am doing this as a workaround! Thanks!

[2021-12-09 14:33] miriamrebekah opened #481 "Setup dependencies with python3.8"
I am trying to set up an anaconda environment for VISSL with python3.8. From looking at other issue tickets, it looks like this is common for people to do. I'm having troubles getting the requirements and versions right though. Is there anywhere I can find a requirements.txt for VISSL for python3.8?

[code]

[2021-12-09 14:50] iseessel commented on #481
Hi @miriamrebekah What's the error you are getting with 3.8?
How are you installing vissl?

Can you please provide your environment information using the following command:
[code]

I tried following instructions here: https://github.com/facebookresearch/vissl/blob/main/INSTALL.md#install-from-source-in-conda-environment, switch to python 3.8.

I did receive two errors like:

[code]

However, I was

[2021-12-09 16:31] #481 closed

[2021-12-12 18:16] CharlieCheckpt commented on #470
Hello, thank you for your answers !

@prigoyal indeed, there were too many dataloader workers specified in the config used to resume the experiment.
`NUM_DATALOADER_WORKERS` was 5 in my original experiment, was 10 when resuming the experiment.
Reducing the number of workers solved the problem.

Can you explain why this parameter has an impact on RAM usage ?

[2021-12-12 18:45] CharlieCheckpt commented on #470
Actually, what I said above is wrong.

For another experiment, I still encounter the issue while I had `NUM_DATALOADER_WORKERS`=3 during the original script launch and `NUM_DATALOADER_WORKERS`=3 when resuming the training. I tried to resume with `NUM_DATALOADER_WORKERS=2` but still encounter the issue.

@prigoyal mmap loading is not by default ?

[2021-12-15 03:02] sayakpaul opened #482 "ResNet101 weights it seems?"
## 📚 VISSL Documentation

Documentation: https://vissl.ai/tutorials/Using_a_pretrained_model_for_inference_V0_1_6.

I am referring to this section (Download the ResNet-50 Simclr weights from the Model Zoo) of the above-mentioned tutorial. Even though it explicitly mentions ResNet50 the download link seems to be indicating the weights of ResNet101:

[code]

Possible to ensure the validity i.e., whi

[2021-12-17 21:46] blazejdolicki commented on #480
Sorry for my late reply.

@iseessel thank you for your help, I agree that the question is now more about slurm and submitit than vissl itself, so the issue can be closed

@miriamrebekah I followed the installation instructions described here: https://vissl.ai/#quickstart

[2021-12-17 21:46] #480 closed

[2021-12-17 22:36] iseessel commented on #480
@blazejdolicki Were you able to get it working? Plz let me know if you need any additional support!

[2021-12-18 17:35] iseessel commented on #482
Indeed we should just change ResNet50 to ResNet101 in the tutorail -- nice catch!

[2021-12-18 18:34] sayakpaul commented on #482
Thanks! So if we change the identifier to rn50, should it be ResNet50? Or is there a different handle?

[2021-12-19 16:21] CharlieCheckpt commented on #470
Hello ! If this can be of any help, the line where the RAM increases dramatically (+500Go or more) is :

`self.data_iterator = iter(self.dataloaders[phase_type])`

located [here](https://github.com/facebookresearch/vissl/blob/v0.1.6/vissl/trainer/train_task.py#L564).

I am still trying to understand what is going on with this `iter()`, and why there is no issue during first training, but there is

[2021-12-20 16:02] blazejdolicki opened #483 "Feature extraction with transformers (DINO)"
If you do not know the root cause of the problem, and wish someone to help you, please
post according to this template:

## Instructions To Reproduce the Issue:

Check https://stackoverflow.com/help/minimal-reproducible-example for how to ask good questions.
Simplify the steps to reproduce the issue using suggestions from the above link, and provide them below:

1. full code you wrote or full chan

[2021-12-21 18:22] iseessel commented on #483
Hey @blazejdolicki, Have you looked at this [tutorial](https://vissl.ai/tutorials/Feature_Extraction_V0_1_6) and cross-referenced your config with it?

You should have LINEAR_EVAL_FEAT_POOL_OPS_MAP to be a list of the features that you want to extract.

[2021-12-27 20:49] ysharma1126 opened #484 "Zhang et al. style?"
## 📚 VISSL Documentation

Not clear to me what "Zhang et al. style" is referring to [here](https://github.com/facebookresearch/vissl/blob/main/docs/source/evaluations/linear_benchmark.rst#attaching-mlp-head-to-trunk-output)?

[2021-12-28 14:42] ysharma1126 opened #485 "Question on CLIP evaluation"
[Here](https://github.com/facebookresearch/vissl/blob/main/configs/config/benchmark/linear_image_classification/kinetics700/eval_resnet_8gpu_transfer_k700_linear.yaml), I attach the config YAML for the VISSL implementation of a linear probe evaluation from the CLIP benchmark. `RandomResizedCrop` and `RandomHorizontalFlip` are specified in `DATA.TRAIN.TRANSFORMS`, resulting in a discrepancy between

[2021-12-28 16:55] iseessel commented on #485
CC: @QuentinDuval

[2021-12-28 16:58] iseessel commented on #484
@prigoyal Do you know which paper this refers to?

[2022-01-04 10:52] PorientHaolin commented on #434
I also  @meet  this problem, can you tell me how you solved it? @doulemint

[2022-01-05 08:29] blazejdolicki commented on #483
Thanks for your reply. Here's what I did. In [this config file](https://github.com/facebookresearch/vissl/blob/main/configs/config/feature_extraction/trunk_only/rn50_layers.yaml) the Identity module is used to return the input without changing it.
[code]
I suppose "res5avg" is the last layer in the CNN trunk. So I tried to replicate it for transformers, where the last layer in the trunk is `norm`

[2022-01-05 10:33] sayakpaul commented on #482
@iseessel just a gentle ping.

[2022-01-05 17:48] iseessel commented on #482
Sorry about the delay -- thanks for pinging me, missed this!

There are two options:

1. Download the Resnet-50 weights instead of the Resnet-101 weights. You can see these here: https://github.com/facebookresearch/vissl/blob/main/MODEL_ZOO.md#SimCLR

2. Continue to use the Resnet-101 weights and change the config to use Resnet-101 model here: https://github.com/facebookresearch/vissl/blob/main/co

[2022-01-06 01:27] sayakpaul commented on #482
Thanks much. Do you want me to keep the issue open until the tutorial is updated? I can also do a PR with the correction.

[2022-01-06 01:48] iseessel commented on #482
Yeah if you don't mind sending a correction PR that would be great!

Let's do option 2 to give the tutorials some variety in terms of types of models used.

[2022-01-06 02:00] sayakpaul commented on #482
Alright. Will do it.

[2022-01-14 22:44] iseessel commented on #453
@robin-karlsson0

Wondering if you had any learning about using VISSL on MPI? I have never used VISSL on MPI environment.

[2022-01-14 22:50] iseessel commented on #470
@CharlieCheckpt Sorry for the delay here. Have you made any additional progress here?

Can you please send full environment information from:

[code]

[2022-01-15 01:01] robin-karlsson0 commented on #453
@iseessel Hi there. Thanks for the reminder. Got busy with new projects after our last communication, but will find time to document my experience by this weekend :slightly_smiling_face:

[2022-01-15 02:07] iseessel commented on #453
@robin-karlsson0 Take your time!

[2022-01-17 06:57] Cthollyz opened #488 "Please read & provide the following"
If you do not know the root cause of the problem, and wish someone to help you, please
post according to this template:

## Instructions To Reproduce the Issue:

Check https://stackoverflow.com/help/minimal-reproducible-example for how to ask good questions.
Simplify the steps to reproduce the issue using suggestions from the above link, and provide them below:

1. full code you wrote or full chan

[2022-01-17 11:18] blazejdolicki commented on #483
Hi @iseessel, took me some time but I added a pull request with my config. Just signed the CLA, so that should be updated soon. Thanks for all the help!

[2022-01-17 11:18] #483 closed

[2022-01-17 18:24] QuentinDuval commented on #488
Hi @Cthollyz,

First of all, thank you for using the repository and thank you even more for raising the issue !

Let me address each of your points one by one.

## For point 1

Indeed, the disk_folder follows the format of Pytorch and requires a sub-folder structure. It is clearly not optimal when doing pre-training on unlabelled data. The trick you mentioned of having a "pretrain" folder as only

[2022-01-18 13:11] Pedrexus opened #490 "Possible Bug: `AttributeError: 'CheckNanModelOutputHook' object has no attribute '_checkpoint_model'`"
## Instructions To Reproduce the 🐛 Bug:

I'm getting the error `AttributeError: 'CheckNanModelOutputHook' object has no attribute '_checkpoint_model'` from time to time,  and by looking at the code, it seems this class does not have such method.

1. what changes you made (`git diff`) or what code you wrote
- none

3. what you observed (including __full logs__):
[code]

## Expected behavior:
- meth

[2022-01-18 15:18] iseessel commented on #470
Yeah sounds good -- there are lots of potential complicated dynamics at play here and unless necessary, I wouldn't recommend going down a rabbit hole on this.

[2022-01-18 15:18] #470 closed

[2022-02-02 10:55] blazejdolicki opened #514 "Error when using profiling: "RuntimeError: Expected debug info of type 2""
## Instructions To Reproduce the 🐛 Bug:

1. what changes you made (`git diff`) or what code you wrote
I opened [this tutorial](https://vissl.ai/tutorials/Train_SimCLR_on_1_gpu_V0_1_6) and in the cell that executes `run_distributed_engines.py` I added `config.PROFILING.RUNTIME_PROFILING.USE_PROFILER=true` to enable the profiler.
2. what exact command you run:
After this change, I ran the notebook a

[2022-02-03 19:06] markbarna opened #515 "Errors when trying to run nearest neighbor evaluation with Dino & XCit architecture"
## Instructions To Reproduce the 🐛 Bug:

1. what changes you made (`git diff`) or what code you wrote
[code]
2. what exact command you run:
`python /tools/nearest_neighbor_test.py config=benchmark/nearest_neighbor/eval_dino_xcit_kNN`
This is a config I created for the KNN based on https://github.com/facebookresearch/vissl/blob/main/configs/config/pretrain/dino/dino_16gpus_xcit_small_12_p16.yaml us

[2022-02-10 04:13] YannDubs opened #516 "[BUG] NPID++ checkpoint link broken."
## Instructions To Reproduce the 🐛 Bug:

Click on the [link from MODEL ZOO for NPID++](https://dl.fbaipublicfiles.com/vissl/model_zoo/npid_4node_800ep_32kneg_cosine_npid++_4nodes_resnet_23_07_20.75432662/model_final_checkpoint_phase799.torch)

Output:
<img width="815" alt="Screenshot 2022-02-09 at 20 10 08" src="https://user-images.githubusercontent.com/24327668/153335799-c6a2fd99-8ae4-4b0a-bdff-c

[2022-02-10 12:26] mominsiddiqui commented on #197
Hi! I followed the steps you have shared but got an error. I'm unable to debug it. What steps would you recommend?

`KeyError: "Dataset 'imagenet1k_filelist' is not registered! Available datasets are: airstore_imagenet, imagenet1k_folder, imagenet_a_filelist, imagenet_r_filelist, imagenette_160_folder, places205_folder, places365_folder, CIFAR10, CIFAR100, STL10, MNIST, SVHN, inaturalist2018_filel

[2022-02-10 18:51] ysharma1126 commented on #485
Thanks! Since we are discussing the configs, a few follow-up questions,

1. Are the transforms always set intentionally? For example, this [config](https://github.com/facebookresearch/vissl/blob/main/configs/config/benchmark/robustness_out_of_distribution/iwilds_cam/eval_resnet_8gpu_robustness_in1k_linear.yaml) for iWILDS-Cam only uses `RandomHorizontalFlip` during training.
2. On the topic of con

[2022-02-10 19:21] QuentinDuval commented on #514
Hi @blazejdolicki,

Thank you so much for the bug report!

I could indeed reproduce the issue. Interestingly it does not happen on all PyTorch versions. I will try to dig deeper in finding the root cause of this behaviour for PyTorch 1.8 as well as providing you with a fix and possibly a workaround in the meantime.

Thank you so much again !
Quentin

[2022-02-10 20:01] YannDubs commented on #516
Thanks @QuentinDuval, it works!

[2022-02-10 20:18] QuentinDuval commented on #516
Excellent ! I will send a quick PR to fix this then :)

[2022-02-10 20:54] QuentinDuval commented on #516
Fix committed fecffa819f6cc2f213dc8c045eea6a4a6c8d3591

[2022-02-10 20:54] #516 closed

[2022-02-12 00:37] ysharma1126 opened #517 "VISSL & Detectron Installation Instruction Conflict"
Minor note, the torch version recommended to install in the [VISSL instructions](https://github.com/facebookresearch/vissl/blob/main/INSTALL.md#step-2-install-pytorch-pip) appears to be incompatible with the object detection benchmark dependency Detectron2, which appears to require PyTorch ≥ 1.8, see [here](https://github.com/facebookresearch/detectron2/blob/main/INSTALL.md#requirements).

[2022-02-12 03:08] ysharma1126 commented on #485
One more note on configs, the [config](https://github.com/facebookresearch/vissl/blob/main/configs/config/benchmark/object_detection/voc0712/mocoV2/rn50_transfer_voc0712_detectron2_e2e.yaml#L40) for Faster R-CNN on VOC07+12 using the Mocov2 setting differs from the [config](https://github.com/facebookresearch/moco/blob/main/detection/configs/pascal_voc_R_50_C4_24k.yaml#L16) in the Mocov2 repo w.r.

[2022-02-12 06:22] YannDubs opened #518 "Cannot reproduce colorization results"
Hi,

I'm trying to evaluate many of the pretrained models available in VISSL (thanks for that!!!).

I was able to reproduce all the ones I tried (rotnet, jigsaw, dino, pirl, npid, clusterfit, simclr...) besides `colorization`. I wonder what I am doing wrong.

Here's the code I'm using

[code]

I then use `preprocess` to transform the data, `encoder` for featurizing the input, and fit a linear clas

[2022-02-14 22:35] clane9 commented on #348
Hi, I'm interested in picking up on this issue if that's ok. I started working on adding support for video datasets for my own use, following the outline in VISSL [#314 (comment)](https://github.com/facebookresearch/vissl/issues/314#issuecomment-836689154).  I'd be happy to open a PR if that would be useful. Let me know!

[2022-02-15 13:10] QuentinDuval commented on #514
Hi @blazejdolicki,

I debugged the issue and found out the cause: when the training continues after the profiling is done, the error pops up because we try to use the profiler again. This only occurs with the new pytorch profiler (after Pytorch 1.8.0).

I am sending a fix right now to deal with this. In the meantime, the workaround is to terminate the training after the profiling is done by adding

[2022-02-15 13:21] QuentinDuval commented on #517
Hi @ysharma1126,

Indeed, good catch!

I think we could update the PyTorch version to 1.8 and higher (we do work with VISSL on our side with higher versions like 1.8, 1.9 or more). I will delegate this question to @iseessel though, since he is more knowledgable on the packaging / dependencies than me.

_Side note: Once thing I am not 100% sure is whether it is a good idea anyway to use the same co

[2022-02-15 13:32] QuentinDuval commented on #514
Hi @blazejdolicki,

It should be fixed at 373bf6bf502539a18cc1a1fbbaacdfae77822c83.
If you have the chance, please tell me if you still get the issue after this.

Thank you again,
Quentin

[2022-02-15 14:08] QuentinDuval commented on #518
Hi @YannDubs,

First of all, thank you for using VISSL :)

From what you are reporting, it seems indeed that the weights are not aligned with the model to evaluate. So this is where we must be looking.

I popped up a quick Jupyter notebook, downloaded the weights at the URL you mentioned: https://dl.fbaipublicfiles.com/vissl/model_zoo/converted_vissl_rn50_rotnet_16kclusters_in1k_ep105.torch

And t

[2022-02-15 15:33] YannDubs commented on #518
Hi @QuentinDuval

Sorry I copy-pasted the wrong link, I meant colorization (rotnet works as expected): https://dl.fbaipublicfiles.com/vissl/model_zoo/converted_vissl_rn50_colorization_in1k_goyal19.torch

 The keys of the checkpoint are the following:

[code]

 The number of parameters is 46 632 061

 And the two strange keys I have are `_feature_blocks.data.ab.ss.bias`, `_feature_blocks.data.ab.ss

[2022-02-15 15:48] blazejdolicki commented on #514
Hey Quentin,

Thanks for your reply and providing the fix. I will check in a couple days and let you know if it works.

Best,
Blazej

[2022-02-15 22:24] ysharma1126 commented on #517
No worries, no urgency on my end :)

[2022-02-16 14:48] DC95 opened #519 "Facing RuntimeError: with nearest_neighbour_test.py"
Hii VISSL team!!

## **Introduction -**
I have earlier used KNN from the VISSL package, for example, you can see one issue that I raised in the past [Link](https://github.com/facebookresearch/vissl/issues/401)

## **My target -**
is again the same to get K nearest neighbors to the test image

## **Error -**
For the last few days, I am trying to use [nearest_neighbor_test.py](https://github.com/fac

[2022-02-16 15:44] DC95 commented on #519
# I have cross-checked with both branches
vissl -  `0.1.5 @/p/project/deepacf/kiste/DC/vissl_b/vissl` **and** `0.1.6 @/p/project/deepacf/kiste/DC/vissl_b2/vissl`

# Attached are files for reference -
Log.txt file on running KNN [log.txt](https://github.com/facebookresearch/vissl/files/8081137/log.txt)
Yaml_config_[link](https://drive.google.com/file/d/17MHifz1A7jM8S3FD8wGHiXtXxM_-9-Ol/view?usp=sha

[2022-02-16 16:30] QuentinDuval commented on #484
Hi @ysharma1126 and @iseessel,

I think it refers to this paper: https://arxiv.org/pdf/1603.08511.pdf

I will let @prigoyal confirm.

[2022-02-16 16:35] QuentinDuval commented on #519
Hi @DC95,

Interesting. We may have broken some things on the [nearest_neighbor_test.py](https://github.com/facebookresearch/vissl/blob/main/tools/nearest_neighbor_test.py) (although it is covered by tests, this is by no means a perfect way to catch all bugs).

Could you send me the complete command that you are using to run KNN?
(to complete the configuration you already sent)

I will have a look

[2022-02-16 18:19] QuentinDuval commented on #519
Hi @DC95,

Nice to talk to you again as well :)

I will try to reproduce that and keep you posted.

And thanks again for the bug report, this is really super helpful for us 👍

[2022-02-17 13:22] QuentinDuval commented on #519
Hi @DC95,

I could not find any issue with your configuration and could run the KNN properly. The issue I found was instead in the command line. You should use `tools/nearest_neighbor_test.py` instead of `run_distributed_engine.py`.

Like so:

[code]

Tell me if this works better now !

[2022-02-17 14:00] DC95 commented on #519
Hi @QuentinDuval

I am really sorry for the confusion. I am a bit ashamed of myself about this. How could I miss this minor detail?

- It works all well now

I was looking everywhere for the answers—a Big thanks to you. We should close this issue.

Regards,
DC

[2022-02-17 18:26] QuentinDuval commented on #519
Hi @DC95,

Don't worry, that happens to everyone :) To be fair, I found it quickly because it happened to me ^^

Closing the issue !

Thank you,
Quentin

[2022-02-17 18:26] #519 closed

[2022-02-20 00:51] YannDubs commented on #516
@QuentinDuval the link for rn50w2 is also broken

[2022-02-20 23:47] Pedrexus commented on #490
Hello @QuentinDuval,

the bug seems to be fixed for me!

Thanks a lot!

[2022-02-20 23:48] #490 closed

[2022-02-24 05:32] Phoveran opened #521 "Cuda Dependency"
## 📚 VISSL Documentation

I noticed that your instruction specifies cuda-toolkits=10.2

However, the newest RTX 30xx series requires cuda 11.x. Do you have the plan to upgrade?

[2022-03-01 13:45] #521 closed

[2022-03-01 17:35] seekingdeep opened #523 "Seer activation maps examples"
Hi there,

As example, say it was trained on pictures of the sea, and also it was trained on pictures of ships.
what if we show it an image that contains many ships densely close together in the sea.

What will the [activation map](https://www.youtube.com/watch?v=8I1RelnsgMw) look like?

[2022-03-02 13:27] seekingdeep opened #524 "Model distillation and pruning"
Hi there,

inorder to reduce model size and compute, can a self-supervised model be distilled to predict only a single object of interest, say cars. By feeding it a few examples of cars, and then prune anything that doesn't largely contribute to the prediction of "cars".

[2022-03-02 22:40] DavidTorpey opened #525 "Please read & provide the following"
## Instructions To Reproduce the 🐛 Bug:

1. what changes you made (`git diff`) or what code you wrote
file: main.py
[code]
2. what exact command you run:
[code]
3. what you observed (including __full logs__):
[code]
4. please simplify the steps as much as possible so they do not require additional resources to
   run, such as a private dataset.

## Expected behavior:

If there are no obvious error